Repository adobe/react-spectrum, pull requests merged in 2021-04, with the labels that each got.

#1767 Expose isPressed on useLink hook
  packages/@react-aria/link/docs/useLink.mdx
  packages/@react-aria/link/src/useLink.ts
Labels: needs API review

#1772 Don't apply type button to non button elements
  packages/@react-aria/button/src/useButton.ts
  packages/@react-aria/button/test/useButton.test.js
  packages/@react-spectrum/button/test/Button.test.js
  packages/@react-spectrum/numberfield/test/NumberField.test.js
Labels: waiting

#1493 fix(#1478) Button with `display: none` breaks keyboard navigation in <FocusScope contain>
  NOTICE.txt
  packages/@react-aria/datepicker/src/useDateField.ts
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/focus/src/isElementVisible.ts
  packages/@react-aria/focus/test/FocusScope.test.js
  packages/@react-spectrum/datepicker/test/DatePicker.test.js
  packages/@react-spectrum/datepicker/test/DateRangePicker.test.js
Labels: accessibility
