Repository adobe/react-spectrum, pull requests merged in 2021-12, with the labels that each got.

#2652 Omit disallowEmptySelection from props
  packages/@react-stately/list/src/useSingleSelectListState.ts
  packages/@react-types/combobox/src/index.d.ts
  packages/@react-types/select/src/index.d.ts
Labels: needs API review

#2622 fix(#2621): ActionGroup with overflowMode: collapse: ActionMenu button should not receive aria-checked
  packages/@react-spectrum/actiongroup/src/ActionGroup.tsx
  packages/@react-spectrum/actiongroup/test/ActionGroup.test.js
Labels: bug, rsp:ActionGroup, accessibility, small review

#2626 Whcm buttons
  packages/@adobe/spectrum-css-temp/components/button/skin.css
  packages/@react-spectrum/actiongroup/stories/ActionGroup.stories.tsx
  packages/@react-spectrum/button/stories/Button.stories.tsx
  packages/@react-spectrum/button/stories/ToggleButton.stories.tsx
Labels: accessibility

#2620 Whcm fixes
  packages/@adobe/spectrum-css-temp/components/accordion/skin.css
  packages/@adobe/spectrum-css-temp/components/avatar/skin.css
  packages/@adobe/spectrum-css-temp/components/barloader/skin.css
  packages/@adobe/spectrum-css-temp/components/breadcrumb/skin.css
  packages/@adobe/spectrum-css-temp/components/circleloader/skin.css
  packages/@adobe/spectrum-css-temp/components/dialog/skin.css
  packages/@adobe/spectrum-css-temp/components/sidenav/skin.css
  packages/@adobe/spectrum-css-temp/components/statuslight/skin.css
  packages/@adobe/spectrum-css-temp/components/tabs/skin.css
  packages/@adobe/spectrum-css-temp/components/tags/skin.css
  packages/@adobe/spectrum-css-temp/components/toast/skin.css
  packages/@adobe/spectrum-css-temp/components/tooltip/skin.css
  packages/@react-spectrum/actionbar/src/actionbar.css
Labels: accessibility

#2549 Handle undefined children in useTreeData
  packages/@react-stately/data/src/useTreeData.ts
  packages/@react-stately/data/test/useTreeData.test.js
Labels: small review

#2127 Fix Numberfield android focus lost
  packages/@react-aria/button/src/useButton.ts
  packages/@react-aria/numberfield/src/useNumberField.ts
  packages/@react-aria/spinbutton/src/useSpinButton.ts
Labels: small review

#904 Fix keyboard form submission
  packages/@react-aria/button/src/useButton.ts
  packages/@react-aria/checkbox/test/useCheckboxGroup.test.tsx
  packages/@react-aria/interactions/src/usePress.ts
  packages/@react-spectrum/button/test/Button.test.js
  packages/@react-spectrum/checkbox/test/Checkbox.test.js
  packages/@react-spectrum/form/stories/Form.stories.tsx
Labels: small review

#2677 Moving aria hook imports into first doc example
  packages/@react-aria/breadcrumbs/docs/useBreadcrumbs.mdx
  packages/@react-aria/button/docs/useButton.mdx
  packages/@react-aria/button/docs/useToggleButton.mdx
  packages/@react-aria/checkbox/docs/useCheckbox.mdx
  packages/@react-aria/checkbox/docs/useCheckboxGroup.mdx
  packages/@react-aria/color/docs/useColorField.mdx
  packages/@react-aria/color/docs/useColorSlider.mdx
  packages/@react-aria/color/docs/useColorWheel.mdx
  packages/@react-aria/focus/docs/FocusRing.mdx
  packages/@react-aria/focus/docs/FocusScope.mdx
  packages/@react-aria/focus/docs/useFocusRing.mdx
  packages/@react-aria/i18n/docs/I18nProvider.mdx
  packages/@react-aria/i18n/docs/useCollator.mdx
  packages/@react-aria/i18n/docs/useDateFormatter.mdx
  packages/@react-aria/i18n/docs/useMessageFormatter.mdx
  packages/@react-aria/i18n/docs/useNumberFormatter.mdx
  packages/@react-aria/interactions/docs/useFocus.mdx
  packages/@react-aria/interactions/docs/useFocusVisible.mdx
  packages/@react-aria/interactions/docs/useFocusWithin.mdx
  packages/@react-aria/interactions/docs/useHover.mdx
  packages/@react-aria/interactions/docs/useKeyboard.mdx
  packages/@react-aria/interactions/docs/useLongPress.mdx
  packages/@react-aria/interactions/docs/useMove.mdx
  packages/@react-aria/interactions/docs/usePress.mdx
  packages/@react-aria/label/docs/useField.mdx
  packages/@react-aria/label/docs/useLabel.mdx
  packages/@react-aria/link/docs/useLink.mdx
  packages/@react-aria/listbox/docs/useListBox.mdx
  packages/@react-aria/menu/docs/useMenu.mdx
  packages/@react-aria/meter/docs/useMeter.mdx
  packages/@react-aria/numberfield/docs/useNumberField.mdx
  packages/@react-aria/progress/docs/useProgressBar.mdx
  packages/@react-aria/radio/docs/useRadioGroup.mdx
  packages/@react-aria/searchfield/docs/useSearchField.mdx
  packages/@react-aria/separator/docs/useSeparator.mdx
  packages/@react-aria/slider/docs/useSlider.mdx
  packages/@react-aria/ssr/docs/SSRProvider.mdx
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-aria/tabs/docs/useTabList.mdx
  packages/@react-aria/textfield/docs/useTextField.mdx
  packages/@react-aria/tooltip/docs/useTooltipTrigger.mdx
  packages/@react-aria/utils/docs/mergeProps.mdx
  packages/@react-aria/utils/docs/useId.mdx
  packages/@react-aria/visually-hidden/docs/VisuallyHidden.mdx
  plop-templates/@react-aria/docs/use{{ componentName }}.mdx.hbs
Labels: small review
