Repository adobe/react-spectrum, pull requests merged in 2021-06, with the labels that each got.

#2006 Update TooltipTrigger docs to mention trigger and tooltip ordering (#1245)
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
  packages/@react-spectrum/tooltip/docs/Tooltip.mdx
Labels: small review

#1775 Update TableView types
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-stately/layout/src/TableLayout.ts
  packages/@react-stately/table/src/Row.ts
  packages/@react-types/table/src/index.d.ts
Labels: rsp:TableView

#1784 Table aria and stately type updates
  packages/@react-aria/grid/src/useGrid.ts
  packages/@react-aria/grid/src/useGridCell.ts
  packages/@react-aria/grid/src/useGridRow.ts
  packages/@react-aria/grid/src/useGridRowGroup.ts
  packages/@react-aria/table/src/useTable.ts
  packages/@react-aria/table/src/useTableColumnHeader.ts
  packages/@react-aria/table/src/useTableRow.ts
  packages/@react-aria/table/src/useTableRowHeader.ts
  packages/@react-aria/table/src/useTableSelectionCheckbox.ts
  packages/@react-stately/grid/src/useGridState.ts
  packages/@react-stately/table/src/useTableState.ts
  packages/@react-types/grid/src/index.d.ts
  packages/@react-types/table/src/index.d.ts
  packages/dev/parcel-packager-docs/DocsPackager.js
  packages/dev/parcel-transformer-docs/DocsTransformer.js
Labels: rsp:TableView

#1994 Add examples of new MenuTrigger placements to docs
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
Labels: documentation

#1996 Add docs for CSS functions in style props
  packages/dev/docs/pages/react-spectrum/styling.mdx
Labels: documentation

#1964 Docs for responsive style props
  packages/@react-spectrum/layout/docs/Flex.mdx
  packages/@react-spectrum/layout/docs/Grid.mdx
  packages/@react-spectrum/provider/docs/Provider.mdx
  packages/dev/docs/pages/react-spectrum/layout.mdx
  packages/dev/docs/pages/react-spectrum/styling.mdx
Labels: documentation

#1948 Removing isOpen/defaultOpen from combobox docs
  packages/@react-aria/combobox/docs/useComboBox.mdx
  packages/@react-spectrum/combobox/docs/ComboBox.mdx
Labels: documentation

#1950 Updating docs for mobile combobox menu trigger interaction
  packages/@react-spectrum/combobox/docs/ComboBox.mdx
Labels: documentation, rsp:ComboBox

#2010 ActionGroup staticColor and collapsing behavior docs
  packages/@react-spectrum/actiongroup/docs/ActionGroup.mdx
  packages/@react-spectrum/button/docs/ActionButton.mdx
  packages/@react-spectrum/button/docs/ToggleButton.mdx
Labels: documentation

#2021 Fix font in useTabList anatomy diagram
  packages/@react-aria/tabs/docs/anatomy.svg
Labels: documentation

#2022 Fixing MenuTrigger docs examples
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
Labels: documentation, rsp:MenuTrigger

#2028 Properly update TableView row width when it is the last column remaining
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-stately/virtualizer/src/Virtualizer.ts
Labels: small review

#2032 Use a newer azure cli version
  .circleci/config.yml
Labels: small review

#2029 updated browser list
  yarn.lock
Labels: small review

#2005 Clear input value on Command + Delete for NumberField/ColorField
  packages/@react-aria/textfield/src/useFormattedTextField.ts
  packages/@react-spectrum/numberfield/test/NumberField.test.js
Labels: small review

#2011 Adding TableView/useTable/useTableState docs mdx
  packages/@react-aria/table/docs/TableAnatomy.svg
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-spectrum/table/docs/TableView.mdx
  packages/@react-stately/table/docs/useTableState.mdx
  packages/dev/parcel-transformer-mdx-docs/MDXTransformer.js
Labels: documentation, rsp:TableView

#2017 Add shouldUseVirtualFocus to AriaListBoxOptions interface (#1635)
  packages/@react-aria/listbox/src/useListBox.ts
Labels: small review, typescript

#2056 Update Flex.mdx
  packages/@react-spectrum/layout/docs/Flex.mdx
Labels: small review

#2027 Upgrade to node 14
  .circleci/config.yml
Labels: small review

#2051 Bump testing-library/react and /dom to their latest versions
  package.json
  packages/@react-aria/dnd/test/dnd.test.js
  packages/@react-spectrum/sidenav/test/SideNav.test.js
  yarn.lock
Labels: small review
