Repository adobe/react-spectrum, pull requests merged in 2021-05, with the labels that each got.

#1684 Add support for responsive style props
  packages/@react-spectrum/dialog/chromatic/Dialog.chromatic.tsx
  packages/@react-spectrum/dialog/stories/Dialog.stories.tsx
  packages/@react-spectrum/layout/src/Flex.tsx
  packages/@react-spectrum/layout/src/Grid.tsx
  packages/@react-spectrum/provider/src/Provider.tsx
  packages/@react-spectrum/provider/stories/Provider.stories.tsx
  packages/@react-spectrum/provider/test/Provider.test.js
  packages/@react-spectrum/utils/src/BreakpointProvider.tsx
  packages/@react-spectrum/utils/src/index.ts
  packages/@react-spectrum/utils/src/styleProps.ts
  packages/@react-spectrum/view/src/View.tsx
  packages/@react-types/provider/src/index.d.ts
  packages/@react-types/shared/src/style.d.ts
Labels: needs API review

#1909 Add missing `useMenuTrigger` import to documentation
  packages/@react-aria/menu/docs/useMenuTrigger.mdx
Labels: documentation, small review

#1900 Renaming Table to TableView
  packages/@react-spectrum/actionbar/stories/ActionBar.stories.tsx
  packages/@react-spectrum/icon/docs/IconTable.tsx
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-spectrum/table/src/index.ts
  packages/@react-spectrum/table/stories/CRUDExample.tsx
  packages/@react-spectrum/table/stories/HidingColumns.tsx
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-spectrum/table/test/Table.test.js
Labels: rsp:TableView, small review

#1774 adding support for functions and variable interpolation
  packages/@react-spectrum/utils/src/styleProps.ts
  packages/@react-spectrum/utils/test/styleProps.test.js
  packages/@react-spectrum/view/stories/View.stories.tsx
Labels: needs API review

#1917 [menu docs fix] broken spectrum links
  packages/@react-spectrum/menu/docs/Menu.mdx
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
Labels: documentation, small review

#1918 Revert function signature breaking change useStyleProps
  packages/@react-spectrum/layout/src/Flex.tsx
  packages/@react-spectrum/layout/src/Grid.tsx
  packages/@react-spectrum/provider/src/Provider.tsx
  packages/@react-spectrum/utils/src/styleProps.ts
  packages/@react-spectrum/view/src/View.tsx
Labels: small review

#1872 Minimal changes upgrade intl messages
  packages/@internationalized/message/package.json
  packages/@internationalized/message/src/MessageFormatter.ts
  packages/@internationalized/number/src/NumberFormatter.ts
  packages/dev/intl-types-extension/index.d.ts
  yarn.lock
Labels: small review

#1868 add left right support for trigger menu
  packages/@react-spectrum/menu/src/MenuTrigger.tsx
  packages/@react-spectrum/menu/stories/MenuTrigger.stories.tsx
  packages/@react-types/menu/src/index.d.ts
Labels: waiting

#1936 Lint for expect getByRole toThrow
  .eslintrc.js
  packages/@react-aria/dnd/test/dnd.test.js
  packages/@react-spectrum/actiongroup/test/ActionGroup.test.js
  packages/@react-spectrum/breadcrumbs/test/Breadcrumbs.test.js
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/menu/test/Menu.test.js
  packages/@react-spectrum/table/test/Table.test.js
  packages/dev/eslint-plugin-rsp-rules/index.js
  packages/dev/eslint-plugin-rsp-rules/package.json
  packages/dev/eslint-plugin-rsp-rules/rules/act-events-test.js
  packages/dev/eslint-plugin-rsp-rules/rules/no-getByRole-toThrow.js
Labels: enhancement, small review

#1742 ListView component
  packages/@react-aria/dnd/stories/VirtualizedListBox.tsx
  packages/@react-spectrum/listbox/src/ListBoxBase.tsx
  packages/@react-spectrum/listview/README.md
  packages/@react-spectrum/listview/index.ts
  packages/@react-spectrum/listview/intl/ar-AE.json
  packages/@react-spectrum/listview/intl/bg-BG.json
  packages/@react-spectrum/listview/intl/cs-CZ.json
  packages/@react-spectrum/listview/intl/da-DK.json
  packages/@react-spectrum/listview/intl/de-DE.json
  packages/@react-spectrum/listview/intl/el-GR.json
  packages/@react-spectrum/listview/intl/en-US.json
  packages/@react-spectrum/listview/intl/es-ES.json
  packages/@react-spectrum/listview/intl/et-EE.json
  packages/@react-spectrum/listview/intl/fi-FI.json
  packages/@react-spectrum/listview/intl/fr-FR.json
  packages/@react-spectrum/listview/intl/he-IL.json
  packages/@react-spectrum/listview/intl/hr-HR.json
  packages/@react-spectrum/listview/intl/hu-HU.json
  packages/@react-spectrum/listview/intl/it-IT.json
  packages/@react-spectrum/listview/intl/ja-JP.json
  packages/@react-spectrum/listview/intl/ko-KR.json
  packages/@react-spectrum/listview/intl/lt-LT.json
  packages/@react-spectrum/listview/intl/lv-LV.json
  packages/@react-spectrum/listview/intl/nb-NO.json
  packages/@react-spectrum/listview/intl/nl-NL.json
  packages/@react-spectrum/listview/intl/pl-PL.json
  packages/@react-spectrum/listview/intl/pt-BR.json
  packages/@react-spectrum/listview/intl/pt-PT.json
  packages/@react-spectrum/listview/intl/ro-RO.json
  packages/@react-spectrum/listview/intl/ru-RU.json
  packages/@react-spectrum/listview/intl/sk-SK.json
  packages/@react-spectrum/listview/intl/sl-SI.json
  packages/@react-spectrum/listview/intl/sr-SP.json
  packages/@react-spectrum/listview/intl/sv-SE.json
  packages/@react-spectrum/listview/intl/tr-TR.json
  packages/@react-spectrum/listview/intl/uk-UA.json
  packages/@react-spectrum/listview/intl/zh-CN.json
  packages/@react-spectrum/listview/intl/zh-TW.json
  packages/@react-spectrum/listview/package.json
  packages/@react-spectrum/listview/src/ListView.tsx
  packages/@react-spectrum/listview/src/ListViewItem.tsx
  packages/@react-spectrum/listview/src/index.ts
  packages/@react-spectrum/listview/src/listview.css
  packages/@react-spectrum/listview/stories/ListView.stories.tsx
  packages/@react-spectrum/listview/test/ListView.test.js
  packages/@react-stately/layout/src/ListLayout.ts
Labels: rsp:ListView

#1882 Fix use hover disabled
  packages/@react-aria/interactions/src/useHover.ts
  packages/@react-aria/interactions/stories/useHover.stories.tsx
  packages/@react-aria/interactions/test/useHover.test.js
Labels: small review

#1894 Limit props to the interface when calling useTabPanel
  packages/@react-aria/tabs/src/useTabPanel.ts
Labels: small review

#1874 Fixes for mobile combobox focus and input reset behavior
  packages/@react-aria/combobox/src/useComboBox.ts
  packages/@react-spectrum/combobox/src/ComboBox.tsx
  packages/@react-spectrum/combobox/src/MobileComboBox.tsx
  packages/@react-spectrum/combobox/stories/ComboBox.stories.tsx
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-stately/combobox/src/useComboBoxState.ts
  packages/@react-types/combobox/src/index.d.ts
Labels: rsp:ComboBox

#1958 Fix broken docs link
  packages/@react-stately/tabs/docs/useTabListState.mdx
Labels: small review

#728 RSP-1861 [Docs][A11y] Manage focus when breadcrumb changes in link Popover
  packages/@adobe/spectrum-css-temp/components/breadcrumb/index.css
  packages/@adobe/spectrum-css-temp/components/breadcrumb/skin.css
  packages/dev/docs/package.json
  packages/dev/docs/src/docs.css
  packages/dev/docs/src/docs.js
Labels: small review

#1953 Fix grid deps
  packages/@react-spectrum/listview/package.json
Labels: small review

#1949 Remove isReadOnly from Picker
  packages/@react-types/select/src/index.d.ts
Labels: needs API review, small review

#1925 Do not change modality when blurring browser window in useFocusVisible
  packages/@react-aria/dnd/test/dnd.test.js
  packages/@react-aria/dnd/test/useDraggableCollection.test.js
  packages/@react-aria/dnd/test/useDroppableCollection.test.js
  packages/@react-aria/interactions/src/useFocusVisible.ts
  packages/@react-aria/interactions/test/useFocusVisible.test.js
Labels: small review
