Repository adobe/react-spectrum, pull requests merged in 2022-08, with the labels that each got.

#3356 Fix getAllowedDropOperations propagation
  packages/@react-aria/dnd/src/useDraggableItem.ts
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListViewDnd.test.js
  packages/@react-stately/dnd/src/useDraggableCollectionState.ts
Labels: small review

#2763 fix(#2761): FocusScope: with no tabbable element in scope, restore focus to first focusable element
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/focus/stories/FocusScope.stories.tsx
  packages/@react-aria/focus/test/FocusScope.test.js
  packages/@react-spectrum/dialog/src/Dialog.tsx
Labels: bug, accessibility

#3378 Adding AriaLabelingProps to ComboBox, Calendar, RangeCalendar, Tabs, and StatusLight
  packages/@react-types/autocomplete/src/index.d.ts
  packages/@react-types/calendar/src/index.d.ts
  packages/@react-types/combobox/src/index.d.ts
  packages/@react-types/statuslight/src/index.d.ts
  packages/@react-types/tabs/src/index.d.ts
Labels: small review

#3389 Fixing ListView drag preview badge
  packages/@react-spectrum/list/src/DragPreview.tsx
  packages/@react-spectrum/list/src/styles.css
Labels: small review

#3398 remove accidental console log
  packages/@react-aria/table/src/useTableColumnHeader.ts
Labels: small review

#3407 Fixing circleci PR comment trigger so it happens only on non-main branches
  .circleci/config.yml
  examples/rsp-cra-18/package.json
Labels: small review

#3415 Fix ComboBox left/right arrows so they move the input cursor when the menu is open
  packages/@react-stately/layout/src/ListLayout.ts
Labels: small review

#3409 Add className to DOMAttributes interface
  packages/@react-types/shared/src/dom.d.ts
Labels: small review

#3413 Prevent resize error when DatePicker input ref is undefined
  packages/@react-spectrum/datepicker/src/Input.tsx
Labels: small review

#3431 Removing getRowText prop from useGridList
  packages/@react-aria/gridlist/src/useGridList.ts
Labels: small review

#3433 Localize TimeField label in DatePicker and DateRangePicker
  packages/@react-spectrum/datepicker/intl/en-US-.json
  packages/@react-spectrum/datepicker/src/DatePicker.tsx
  packages/@react-spectrum/datepicker/src/DateRangePicker.tsx
Labels: needs translations

#3435 Remove millisecond granularity from date/time pickers
  packages/@react-spectrum/datepicker/src/DatePicker.tsx
  packages/@react-spectrum/datepicker/src/DateRangePicker.tsx
  packages/@react-stately/datepicker/src/useDatePickerState.ts
  packages/@react-stately/datepicker/src/useDateRangePickerState.ts
  packages/@react-types/datepicker/src/index.d.ts
Labels: small review
