Repository adobe/react-spectrum, pull requests merged in 2022-03, with the labels that each got.

#2898 Making listview items select on pressUp if list is draggable
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/test/ListView.test.js
Labels: rsp:ListView, small review

#2907 updating AlertDialog spectrum doc links
  packages/@react-spectrum/dialog/docs/AlertDialog.mdx
  packages/@react-types/dialog/src/index.d.ts
Labels: documentation, small review

#2612 fix(#2189): Chrome warning about window.navigator.userAgent and window.navigator.platform access
  packages/@react-aria/utils/src/platform.ts
  packages/@react-aria/utils/stories/platform.stories.tsx
Labels: small review

#2911 Fix typo in VisuallyHidden docs
  packages/@react-aria/visually-hidden/docs/VisuallyHidden.mdx
Labels: small review

#2914 Reverting ListView item padding back to 12px
  packages/@react-spectrum/list/src/listview.css
Labels: small review

#2666 fix(#2664): useColorSlider: refine PageUp/PageDown behaviors
  packages/@react-aria/color/src/useColorField.ts
  packages/@react-aria/color/src/useColorWheel.ts
  packages/@react-spectrum/color/stories/ColorArea.stories.tsx
  packages/@react-spectrum/color/stories/ColorField.stories.tsx
  packages/@react-spectrum/color/stories/ColorSlider.stories.tsx
  packages/@react-spectrum/color/test/ColorField.test.js
  packages/@react-spectrum/color/test/ColorSlider.test.tsx
  packages/@react-stately/color/src/useColorFieldState.ts
  packages/@react-stately/color/src/useColorSliderState.ts
  packages/@react-stately/color/src/useColorWheelState.ts
  packages/@react-stately/color/test/useColorFieldState.test.js
  packages/@react-types/color/src/index.d.ts
Labels: needs testing

#2915 Removing step from ColorSlider, ColorWheel, ColorField docs
  packages/@react-aria/color/docs/useColorField.mdx
  packages/@react-aria/color/docs/useColorSlider.mdx
  packages/@react-aria/color/docs/useColorWheel.mdx
  packages/@react-spectrum/color/docs/ColorField.mdx
  packages/@react-spectrum/color/docs/ColorSlider.mdx
  packages/@react-spectrum/color/docs/ColorWheel.mdx
Labels: small review

#2939 fix: allow input pasting on iOS Safari inside of Modals
  packages/@react-aria/overlays/src/usePreventScroll.ts
Labels: small review

#2927 fixes(#2923): breadcrumbs fails to render with single child and showRoot=true
  packages/@react-spectrum/breadcrumbs/src/Breadcrumbs.tsx
  packages/@react-spectrum/breadcrumbs/stories/Breadcrumbs.stories.tsx
  packages/@react-spectrum/breadcrumbs/test/Breadcrumbs.test.js
Labels: small review

#2979 adding contextualhelp spectrum docs link
  packages/@react-spectrum/contextualhelp/docs/ContextualHelp.mdx
Labels: documentation, rsp:ContextualHelp

#2977 Adding action to generate branch for forks + build comment for forks
  .circleci/comment.js
  .github/actions/branch/action.yml
  .github/actions/branch/index.js
  .github/workflows/pr-comment.yaml
Labels: innovation-week

#2982 Updating trigger conditions for getting build link on fork PR
  .github/workflows/pr-comment.yaml
Labels: innovation-week
