Repository adobe/react-spectrum, pull requests merged in 2022-05, with the labels that each got.

#3059 Removing transitionDuration prop from ListView
  packages/@react-spectrum/list/src/ListView.tsx
Labels: rsp:ListView

#3000 Refactor listview to always focus the row
  packages/@react-aria/grid/src/GridKeyboardDelegate.ts
  packages/@react-aria/grid/src/useGridCell.ts
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-stately/layout/src/ListLayout.ts
  scripts/lint-packages.js
Labels: rsp:ListView

#3103 Enable onAction with checkbox selection in ListView and TableView
  packages/@react-aria/dnd/src/useDrag.ts
  packages/@react-aria/selection/src/useSelectableItem.ts
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-spectrum/table/test/Table.test.js
Labels: needs testing, needs docs

#3113 Fix scroll bar detection list and table view
  packages/@adobe/spectrum-css-temp/components/table/index.css
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/src/styles.css
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-spectrum/table/src/TableView_DEPRECATED.tsx
Labels: needs testing

#3116 Fix NumberParser mistakenly returning arab code
  packages/@internationalized/number/src/NumberParser.ts
  packages/@internationalized/number/test/NumberParser.test.js
Labels: small review

#3055 ListView Drop
  packages/@react-aria/dnd/src/useDropIndicator.ts
  packages/@react-aria/dnd/src/useDroppableCollection.ts
  packages/@react-aria/dnd/src/useDroppableItem.ts
  packages/@react-spectrum/dnd/package.json
  packages/@react-spectrum/dnd/src/index.ts
  packages/@react-spectrum/dnd/src/useDragHooks.ts
  packages/@react-spectrum/dnd/src/useDropHooks.ts
  packages/@react-spectrum/list/src/InsertionIndicator.tsx
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/src/RootDropIndicator.tsx
  packages/@react-spectrum/list/src/styles.css
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-stately/dnd/src/useDraggableCollectionState.ts
  packages/@react-stately/dnd/src/useDroppableCollectionState.ts
  packages/@react-types/shared/src/dnd.d.ts
Labels: rsp:ListView, needs testing

#3112 Fixing selection: single, disabled ListView story
  packages/@react-spectrum/list/stories/ListView.stories.tsx
Labels: small review

#3122 isQuiet ListView with children missing chevron
  packages/@react-spectrum/list/src/styles.css
Labels: small review

#3120 Add bottom border to last ListView item when loading new items
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/stories/ListView.stories.tsx
Labels: small review

#3134 ListView Description size and color
  packages/@react-spectrum/list/src/styles.css
Labels: rsp:ListView

#3141 Fix ListView rows above focus ring
  packages/@react-spectrum/list/src/styles.css
Labels: small review

#3144 Add ActionMenu to monopackage
  packages/@adobe/react-spectrum/src/index.ts
Labels: small review

#3119 Fix wiggle in listview selection
  packages/@react-spectrum/list/src/styles.css
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-stately/layout/src/ListLayout.ts
Labels: rsp:ListView

#3136 Distinguishing Talkback virtual click from Firefox Windows touch event
  packages/@react-aria/dnd/test/dnd.test.js
  packages/@react-aria/interactions/src/usePress.ts
  packages/@react-aria/interactions/test/usePress.test.js
  packages/@react-spectrum/table/test/Table.test.js
Labels: rsp:ListView

#3151 Fixing ListView dnd stories for Android Chrome
  packages/@react-spectrum/list/stories/ListView.stories.tsx
Labels: small review

#3161 Fixes missing 'props' from API sections of useFocus and useFocusWithin in aria-docs
  packages/@react-aria/interactions/src/useFocus.ts
  packages/@react-aria/interactions/src/useFocusWithin.ts
Labels: small review

#3160 Fix dialog flicker on close for "three buttons, footer" story for React 18
  packages/@react-spectrum/buttongroup/src/ButtonGroup.tsx
Labels: rsp:ButtonGroup, needs testing
