Repository adobe/react-spectrum, pull requests merged in 2022-09, with the labels that each got.

#3460 add icon-only variant for Button
  packages/@adobe/spectrum-css-temp/components/button/index.css
  packages/@react-spectrum/button/chromatic/Button.chromatic.tsx
  packages/@react-spectrum/button/src/Button.tsx
  packages/@react-spectrum/button/stories/Button.stories.tsx
Labels: needs testing, needs docs

#3416 TS strictmode ActionGroup and ActionBar
  packages/@react-aria/utils/src/useResizeObserver.ts
  packages/@react-spectrum/actionbar/src/ActionBar.tsx
  packages/@react-spectrum/actiongroup/src/ActionGroup.tsx
  tsconfig.json
Labels: typescript

#3417 TS Strictmode color
  packages/@react-spectrum/color/chromatic/ColorArea.chromatic.tsx
  packages/@react-spectrum/color/src/ColorArea.tsx
  packages/@react-spectrum/color/src/ColorField.tsx
  packages/@react-spectrum/color/src/ColorSlider.tsx
  packages/@react-spectrum/color/src/ColorWheel.tsx
  packages/@react-spectrum/color/stories/ColorArea.stories.tsx
  packages/@react-spectrum/color/stories/ColorField.stories.tsx
  packages/@react-spectrum/color/stories/ColorWheel.stories.tsx
  packages/@react-spectrum/color/test/ColorSlider.test.tsx
  packages/@react-spectrum/color/test/ColorWheel.test.tsx
  packages/@react-stately/color/src/useColor.ts
  packages/@react-types/color/src/index.d.ts
  tsconfig.json
Labels: typescript

#3485 Update TextArea docs to remove outdated resizing info
  packages/@react-spectrum/textfield/docs/TextArea.mdx
Labels: small review

#3429 Badge component
  packages/@adobe/spectrum-css-temp/components/badge/index.css
  packages/@adobe/spectrum-css-temp/components/badge/skin.css
  packages/@adobe/spectrum-css-temp/components/badge/vars.css
  packages/@react-spectrum/badge/README.md
  packages/@react-spectrum/badge/chromatic/Badge.chromatic.tsx
  packages/@react-spectrum/badge/docs/Badge.mdx
  packages/@react-spectrum/badge/index.ts
  packages/@react-spectrum/badge/package.json
  packages/@react-spectrum/badge/src/Badge.tsx
  packages/@react-spectrum/badge/src/index.ts
  packages/@react-spectrum/badge/stories/Badge.stories.tsx
  packages/@react-spectrum/badge/test/Badge.ssr.test.js
  packages/@react-spectrum/badge/test/Badge.test.js
  packages/@react-types/badge/README.md
  packages/@react-types/badge/package.json
  packages/@react-types/badge/src/index.d.ts
  packages/dev/docs/src/VersionBadge.js
  packages/dev/docs/src/docs.css
Labels: rsp:Badge

#3488 Rename StaticField to LabeledValue
  packages/@adobe/spectrum-css-temp/components/fieldlabel/index.css
  packages/@react-spectrum/labeledvalue/README.md
  packages/@react-spectrum/labeledvalue/chromatic/LabeledValue.chromatic.tsx
  packages/@react-spectrum/labeledvalue/index.ts
  packages/@react-spectrum/labeledvalue/package.json
  packages/@react-spectrum/labeledvalue/src/LabeledValue.tsx
  packages/@react-spectrum/labeledvalue/src/index.ts
  packages/@react-spectrum/labeledvalue/stories/LabeledValue.stories.tsx
  packages/@react-spectrum/labeledvalue/test/LabeledValue.test.js
  packages/@react-spectrum/staticfield/chromatic/StaticField.chromatic.tsx
  packages/@react-spectrum/staticfield/stories/StaticField.stories.tsx
Labels: rsp:LabeledValue

#3520 TableView overlay auto tab stop Firefox fix
  packages/@react-spectrum/table/src/TableView.tsx
Labels: small review

#3550 Improve ListView item drag button icon alignment
  packages/@adobe/spectrum-css-temp/components/icon/ui-icons.css
Labels: needs testing

#3563 Types audit for release
  packages/@react-aria/dnd/src/useDrop.ts
  packages/@react-types/form/src/index.d.ts
  packages/@react-types/shared/src/dnd.d.ts
Labels: small review

#3423 Add documentation for drag and drop in React Aria
  packages/@react-aria/dnd/docs/BetweenDropPosition.svg
  packages/@react-aria/dnd/docs/DragAffordance.svg
  packages/@react-aria/dnd/docs/DragPreview.svg
  packages/@react-aria/dnd/docs/DropOperation.svg
  packages/@react-aria/dnd/docs/OnDropPosition.svg
  packages/@react-aria/dnd/docs/RootDropPosition.svg
  packages/@react-aria/dnd/docs/dnd.mdx
  packages/@react-aria/dnd/docs/useClipboard.mdx
  packages/@react-aria/dnd/docs/useDrag.mdx
  packages/@react-aria/dnd/docs/useDraggableCollection.mdx
  packages/@react-aria/dnd/docs/useDrop.mdx
  packages/@react-aria/dnd/docs/useDroppableCollection.mdx
  packages/@react-aria/dnd/src/ListDropTargetDelegate.ts
  packages/@react-aria/dnd/src/useClipboard.ts
  packages/@react-aria/dnd/src/useDrag.ts
  packages/@react-aria/dnd/src/useDraggableCollection.ts
  packages/@react-aria/dnd/src/useDraggableItem.ts
  packages/@react-aria/dnd/src/useDrop.ts
  packages/@react-aria/dnd/src/useDropIndicator.ts
  packages/@react-aria/dnd/src/useDroppableCollection.ts
  packages/@react-aria/dnd/src/useDroppableItem.ts
  packages/@react-aria/listbox/docs/useListBox.mdx
  packages/@react-aria/menu/docs/useMenu.mdx
  packages/@react-aria/select/docs/useSelect.mdx
  packages/@react-aria/tabs/docs/useTabList.mdx
  packages/@react-spectrum/dnd/docs/dnd.mdx
  packages/@react-stately/data/src/useListData.ts
  packages/@react-stately/dnd/src/useDraggableCollectionState.ts
  packages/@react-stately/dnd/src/useDroppableCollectionState.ts
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-types/shared/src/dnd.d.ts
  packages/dev/docs/src/Layout.js
  packages/dev/docs/src/docs.css
  packages/dev/docs/src/syntax-highlight.css
  packages/dev/parcel-transformer-mdx-docs/MDXTransformer.js
Labels: documentation
