Repository adobe/react-spectrum, pull requests merged in 2022-07, with the labels that each got.

#3290 fix(@react-aria/utils): handle empty navigator.userAgentData.platform
  packages/@react-aria/utils/src/platform.ts
Labels: small review

#2830 Add WHCM support for all the form elements
  packages/@adobe/spectrum-css-temp/components/button/skin.css
  packages/@adobe/spectrum-css-temp/components/calendar/skin.css
  packages/@adobe/spectrum-css-temp/components/checkbox/skin.css
  packages/@adobe/spectrum-css-temp/components/colorarea/skin.css
  packages/@adobe/spectrum-css-temp/components/colorhandle/skin.css
  packages/@adobe/spectrum-css-temp/components/colorloupe/skin.css
  packages/@adobe/spectrum-css-temp/components/colorslider/skin.css
  packages/@adobe/spectrum-css-temp/components/colorwheel/skin.css
  packages/@adobe/spectrum-css-temp/components/dropdown/skin.css
  packages/@adobe/spectrum-css-temp/components/inputgroup/skin.css
  packages/@adobe/spectrum-css-temp/components/menu/skin.css
  packages/@adobe/spectrum-css-temp/components/radio/skin.css
  packages/@adobe/spectrum-css-temp/components/slider/skin.css
  packages/@adobe/spectrum-css-temp/components/stepper/skin.css
  packages/@adobe/spectrum-css-temp/components/tabs/skin.css
  packages/@adobe/spectrum-css-temp/components/textfield/skin.css
  packages/@adobe/spectrum-css-temp/components/toggle/skin.css
  packages/@react-spectrum/checkbox/stories/Checkbox.stories.tsx
  packages/@react-spectrum/combobox/stories/ComboBox.stories.tsx
  packages/@react-spectrum/datepicker/src/styles.css
  packages/@react-spectrum/switch/stories/Switch.stories.tsx
Labels: accessibility

#3345 Adding shouldFlip=false to the popover placement stories
  packages/@react-spectrum/dialog/stories/DialogTrigger.stories.tsx
Labels: small review

#3265 Improve docs for older React Aria hooks
  packages/@react-aria/aria-modal-polyfill/docs/watchModals.mdx
  packages/@react-aria/autocomplete/docs/useSearchAutocomplete.mdx
  packages/@react-aria/breadcrumbs/docs/useBreadcrumbs.mdx
  packages/@react-aria/button/docs/useButton.mdx
  packages/@react-aria/button/docs/useToggleButton.mdx
  packages/@react-aria/checkbox/docs/useCheckbox.mdx
  packages/@react-aria/checkbox/docs/useCheckboxGroup.mdx
  packages/@react-aria/combobox/docs/useComboBox.mdx
  packages/@react-aria/datepicker/docs/useDatePicker.mdx
  packages/@react-aria/datepicker/docs/useDateRangePicker.mdx
  packages/@react-aria/dialog/docs/useDialog.mdx
  packages/@react-aria/listbox/docs/useListBox.mdx
  packages/@react-aria/menu/docs/menu-anatomy.svg
  packages/@react-aria/menu/docs/menu-trigger-anatomy.svg
  packages/@react-aria/menu/docs/useMenu.mdx
  packages/@react-aria/menu/docs/useMenuTrigger.mdx
  packages/@react-aria/meter/docs/useMeter.mdx
  packages/@react-aria/numberfield/docs/useNumberField.mdx
  packages/@react-aria/overlays/docs/DismissButton.mdx
  packages/@react-aria/overlays/docs/useOverlayTrigger.mdx
  packages/@react-aria/progress/docs/useProgressBar.mdx
  packages/@react-aria/radio/docs/useRadioGroup.mdx
  packages/@react-aria/searchfield/docs/useSearchField.mdx
  packages/@react-aria/select/docs/useSelect.mdx
  packages/@react-aria/slider/docs/useSlider.mdx
  packages/@react-aria/switch/docs/useSwitch.mdx
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-aria/tabs/docs/useTabList.mdx
  packages/@react-aria/textfield/docs/useTextField.mdx
  packages/@react-aria/tooltip/docs/useTooltipTrigger.mdx
  packages/@react-spectrum/switch/docs/Switch.mdx
  packages/@react-spectrum/tooltip/docs/Tooltip.mdx
  packages/@react-stately/collections/docs/collections.mdx
  packages/@react-stately/menu/docs/useMenuTriggerState.mdx
Labels: needs testing
