Repository adobe/react-spectrum, pull requests merged in 2022-01, with the labels that each got.

#2720 fix(#2675): TableView: when renderEmptyTableState select all throws if selected from kb
  packages/@react-aria/table/src/TableKeyboardDelegate.ts
  packages/@react-spectrum/table/test/Table.test.js
Labels: small review

#2288 Fix SearchWithin aria-label and aria-labelledby
  packages/@react-aria/select/src/useSelect.ts
  packages/@react-spectrum/searchwithin/intl/en-US.json
  packages/@react-spectrum/searchwithin/package.json
  packages/@react-spectrum/searchwithin/src/SearchWithin.tsx
  packages/@react-spectrum/searchwithin/stories/SearchWithin.stories.tsx
  packages/@react-spectrum/searchwithin/test/SearchWithin.test.js
Labels: rsp:SearchWithin

#2586 Contextual Help Component
  packages/@react-spectrum/contextualhelp/README.md
  packages/@react-spectrum/contextualhelp/index.ts
  packages/@react-spectrum/contextualhelp/intl/en-US.json
  packages/@react-spectrum/contextualhelp/package.json
  packages/@react-spectrum/contextualhelp/src/ContextualHelp.tsx
  packages/@react-spectrum/contextualhelp/src/contextualhelp.css
  packages/@react-spectrum/contextualhelp/src/index.ts
  packages/@react-spectrum/contextualhelp/stories/ContextualHelp.stories.tsx
  packages/@react-spectrum/contextualhelp/test/ContextualHelp.test.js
  packages/@react-types/contextualhelp/README.md
  packages/@react-types/contextualhelp/package.json
  packages/@react-types/contextualhelp/src/index.d.ts
Labels: needs API review, rsp:ContextualHelp

#2739 Fixing CardView Gallery layout card overlap and container resizing
  packages/@adobe/spectrum-css-temp/components/card/index.css
  packages/@react-spectrum/card/src/GalleryLayout.tsx
Labels: rsp:CardView

#2758 Reduce vertical item spacing in CardView and remove item padding option from Waterfall layout
  packages/@adobe/spectrum-css-temp/components/card/index.css
  packages/@react-spectrum/card/src/GalleryLayout.tsx
  packages/@react-spectrum/card/src/WaterfallLayout.tsx
  packages/@react-spectrum/card/stories/GalleryCardView.stories.tsx
  packages/@react-spectrum/card/stories/WaterfallCardView.stories.tsx
Labels: rsp:CardView

#2737 Update keyboard navigation in CardView
  packages/@adobe/spectrum-css-temp/components/card/index.css
  packages/@react-spectrum/card/src/CardBase.tsx
  packages/@react-spectrum/card/src/CardView.tsx
  packages/@react-spectrum/card/src/GalleryLayout.tsx
  packages/@react-spectrum/card/src/WaterfallLayout.tsx
  packages/@react-spectrum/card/stories/Card.stories.tsx
  packages/@react-spectrum/card/stories/GalleryCardView.stories.tsx
  packages/@react-spectrum/card/stories/GridCardView.stories.tsx
  packages/@react-spectrum/card/stories/HorizontalCard.stories.tsx
  packages/@react-spectrum/card/stories/QuietCard.stories.tsx
  packages/@react-spectrum/card/stories/WaterfallCardView.stories.tsx
  packages/@react-spectrum/card/test/Card.test.js
  packages/@react-spectrum/card/test/CardView.test.js
Labels: rsp:CardView
