Repository adobe/react-spectrum, pull requests merged in 2022-04, with the labels that each got.

#2976 fix(#2449): ActionBar: add stopPropagation to useOverlay Esc key handler
  packages/@react-aria/overlays/src/useOverlay.ts
Labels: bug, accessibility, small review

#3010 Virtualizer: don't remove zero width items from _visibleViews
  packages/@react-stately/virtualizer/src/Virtualizer.ts
Labels: needs testing

#3008 Add chromatic story with all icons
  packages/@adobe/spectrum-css-temp/components/dialog/index.css
  packages/@spectrum-icons/build-tools/generateIcons.js
  packages/@spectrum-icons/workflow/chromatic/Workflow.chromatic.tsx
Labels: small review

#2985 Check permissions of user before attempting to create branch
  .github/actions/permissions/action.yml
  .github/actions/permissions/index.js
  .github/workflows/pr-comment.yaml
Labels: innovation-week

#3023 Fix Dialog grid iphone
  packages/@adobe/spectrum-css-temp/components/dialog/index.css
Labels: small review

#2725 Prevent focusedKey from scrolling into view on click/press
  packages/@react-aria/virtualizer/package.json
  packages/@react-aria/virtualizer/src/Virtualizer.tsx
  packages/@react-spectrum/card/src/CardView.tsx
  packages/@react-spectrum/card/test/CardView.test.js
  packages/@react-spectrum/picker/test/Picker.test.js
Labels: rsp:CardView

#2940 ListView DnD follow ups
  packages/@react-aria/dnd/src/DragManager.ts
  packages/@react-aria/dnd/src/useDraggableItem.ts
  packages/@react-aria/dnd/test/dnd.test.js
  packages/@react-aria/interactions/src/usePress.ts
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
Labels: rsp:ListView

#2967 fix(#2901): ColorArea followup
  packages/@adobe/spectrum-css-temp/components/colorarea/index.css
  packages/@adobe/spectrum-css-temp/components/colorloupe/index.css
  packages/@react-aria/color/intl/ar-AE.json
  packages/@react-aria/color/intl/bg-BG.json
  packages/@react-aria/color/intl/cs-CZ.json
  packages/@react-aria/color/intl/da-DK.json
  packages/@react-aria/color/intl/de-DE.json
  packages/@react-aria/color/intl/el-GR.json
  packages/@react-aria/color/intl/en-US.json
  packages/@react-aria/color/intl/es-ES.json
  packages/@react-aria/color/intl/et-EE.json
  packages/@react-aria/color/intl/fi-FI.json
  packages/@react-aria/color/intl/fr-FR.json
  packages/@react-aria/color/intl/he-IL.json
  packages/@react-aria/color/intl/hr-HR.json
  packages/@react-aria/color/intl/hu-HU.json
  packages/@react-aria/color/intl/it-IT.json
  packages/@react-aria/color/intl/ja-JP.json
  packages/@react-aria/color/intl/ko-KR.json
  packages/@react-aria/color/intl/lt-LT.json
  packages/@react-aria/color/intl/lv-LV.json
  packages/@react-aria/color/intl/nb-NO.json
  packages/@react-aria/color/intl/nl-NL.json
  packages/@react-aria/color/intl/pl-PL.json
  packages/@react-aria/color/intl/pt-BR.json
  packages/@react-aria/color/intl/pt-PT.json
  packages/@react-aria/color/intl/ro-RO.json
  packages/@react-aria/color/intl/ru-RU.json
  packages/@react-aria/color/intl/sk-SK.json
  packages/@react-aria/color/intl/sl-SI.json
  packages/@react-aria/color/intl/sr-SP.json
  packages/@react-aria/color/intl/sv-SE.json
  packages/@react-aria/color/intl/tr-TR.json
  packages/@react-aria/color/intl/uk-UA.json
  packages/@react-aria/color/intl/zh-CN.json
  packages/@react-aria/color/intl/zh-TW.json
  packages/@react-aria/color/src/useColorArea.ts
  packages/@react-spectrum/color/stories/ColorArea.stories.tsx
  packages/@react-spectrum/color/test/ColorArea.test.tsx
  packages/@react-stately/color/src/useColorFieldState.ts
Labels: accessibility, needs testing, rsp:ColorArea

#2850 Add descriptions to ListView
  packages/@react-spectrum/list/src/ListView.tsx
Labels: rsp:ListView

#2749 fix(#1961/#2958): Manage focus in docs popover breadcrumbs
  packages/@react-aria/breadcrumbs/src/useBreadcrumbItem.ts
  packages/@react-aria/focus/src/useFocusable.tsx
  packages/@react-spectrum/breadcrumbs/src/Breadcrumbs.tsx
  packages/@react-spectrum/breadcrumbs/stories/Breadcrumbs.stories.tsx
  packages/@react-spectrum/link/test/Link.test.js
  packages/@react-spectrum/radio/test/Radio.test.js
  packages/@react-types/breadcrumbs/package.json
  packages/@react-types/breadcrumbs/src/index.d.ts
  packages/dev/docs/src/docs.js
Labels: bug, accessibility

#2804 ListView UI bug fixes and updates
  packages/@adobe/spectrum-css-temp/components/table/index.css
  packages/@adobe/spectrum-css-temp/components/table/skin.css
  packages/@react-aria/virtualizer/src/VirtualizerItem.tsx
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/src/listview.css
  packages/@react-spectrum/table/src/Resizer.tsx
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-spectrum/table/src/TableView_DEPRECATED.tsx
  packages/@react-spectrum/table/stories/Table.stories.tsx
Labels: rsp:TableView, rsp:ListView, needs testing

#3004 Add drag previews to ListView
  packages/@react-aria/dnd/src/useDrag.ts
  packages/@react-spectrum/list/package.json
  packages/@react-spectrum/list/src/DragPreview.tsx
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/src/listview.css
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
Labels: rsp:ListView
