Repository adobe/react-spectrum, pull requests merged in 2022-06, with the labels that each got.

#3158 ListView testing followups
  packages/@react-spectrum/button/stories/Button.stories.tsx
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/stories/ListView.stories.tsx
Labels: rsp:ListView, small review, needs testing

#3121 Use ListView item's description text as aria-describedby
  packages/@react-aria/list/src/useListItem.ts
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
Labels: rsp:ListView

#3174 Fixing ListView stories for multiple row dragging in Android
  packages/@react-spectrum/list/stories/ListView.stories.tsx
Labels: rsp:ListView, small review

#3181 ListView dnd testing followups
  packages/@react-aria/selection/src/useSelectableItem.ts
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-stately/dnd/src/useDraggableCollectionState.ts
Labels: rsp:ListView

#3166 add css rule to keep header visible when maxHeight is set
  packages/@adobe/spectrum-css-temp/components/table/index.css
  packages/@react-spectrum/table/chromatic/TableView.chromatic.tsx
Labels: small review

#3135 ListView drop indicator fixes
  packages/@react-spectrum/list/src/InsertionIndicator.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/src/RootDropIndicator.tsx
  packages/@react-spectrum/list/src/styles.css
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
Labels: rsp:ListView

#3195 Updating storybook version to fix buggy popover position rendering
  .chromatic/preview-head.html
  package.json
  yarn.lock
Labels: small review

#3204 Update W3C APG links
  packages/@react-aria/breadcrumbs/docs/useBreadcrumbs.mdx
  packages/@react-aria/button/docs/useButton.mdx
  packages/@react-aria/button/docs/useToggleButton.mdx
  packages/@react-aria/checkbox/docs/useCheckbox.mdx
  packages/@react-aria/checkbox/docs/useCheckboxGroup.mdx
  packages/@react-aria/color/docs/useColorField.mdx
  packages/@react-aria/color/docs/useColorSlider.mdx
  packages/@react-aria/color/docs/useColorWheel.mdx
  packages/@react-aria/combobox/docs/useComboBox.mdx
  packages/@react-aria/dialog/docs/useDialog.mdx
  packages/@react-aria/landmark/src/useLandmark.ts
  packages/@react-aria/link/docs/useLink.mdx
  packages/@react-aria/listbox/docs/useListBox.mdx
  packages/@react-aria/menu/docs/useMenu.mdx
  packages/@react-aria/menu/docs/useMenuTrigger.mdx
  packages/@react-aria/meter/docs/useMeter.mdx
  packages/@react-aria/numberfield/docs/useNumberField.mdx
  packages/@react-aria/overlays/docs/useOverlayTrigger.mdx
  packages/@react-aria/radio/docs/useRadioGroup.mdx
  packages/@react-aria/select/docs/useSelect.mdx
  packages/@react-aria/slider/docs/useSlider.mdx
  packages/@react-aria/switch/docs/useSwitch.mdx
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-aria/tabs/docs/useTabList.mdx
  packages/@react-spectrum/dialog/docs/DialogTrigger.mdx
  packages/dev/docs/src/ResourceCard.js
  plop-templates/@react-aria/docs/use{{ componentName }}.mdx.hbs
Labels: small review

#3196 CSF 3 view
  packages/@react-spectrum/view/chromatic/View.chromatic.tsx
  packages/@react-spectrum/view/stories/View.stories.tsx
Labels: small review

#3192 Dropping skips disabled keys
  packages/@react-spectrum/list/src/InsertionIndicator.tsx
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-spectrum/list/test/ListViewDnd.test.js
  packages/@react-stately/layout/src/ListLayout.ts
Labels: drag and drop

#3169 fix check api script
  scripts/buildBranchAPI.js
Labels: small review

#3205 Update TableView docs for checkbox/highlight + onAction behavior update
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-spectrum/table/docs/TableView.mdx
Labels: small review

#3224 Fixing stuck FireFox ListView root drop indicator
  packages/@react-spectrum/list/src/styles.css
  packages/@react-spectrum/list/stories/ListView.stories.tsx
Labels: small review

#2734 ListView docs
  packages/@react-spectrum/list/docs/ListView.mdx
  packages/@react-spectrum/list/docs/anatomy.svg
  packages/@react-spectrum/list/package.json
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-types/list/src/index.d.ts
Labels: rsp:ListView

#3012 useDragHooks/useDropHooks docs
  packages/@react-spectrum/dnd/docs/dnd.mdx
  packages/@react-spectrum/dnd/src/useDragHooks.ts
  packages/@react-spectrum/list/docs/ListView.mdx
  packages/@react-types/shared/src/dnd.d.ts
Labels: rsp:ListView

#3252 Removing explicit time callout from drop activation description
  packages/@react-types/shared/src/dnd.d.ts
Labels: small review

#3239 Fix setTimeout type
  packages/@react-aria/dnd/src/DragManager.ts
  packages/@react-aria/dnd/src/useDroppableCollection.ts
  packages/@react-aria/overlays/src/useOverlayPosition.ts
Labels: small review

#3227 Fix FocusScope FocusManager accept node
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/focus/test/FocusScope.test.js
Labels: small review

#3246 Update anatomy instructions in plop
  plop-templates/@react-aria/docs/use{{ componentName }}.mdx.hbs
Labels: small review

#3229 ListLayout API check
  packages/@react-stately/layout/src/ListLayout.ts
Labels: small review

#3207 NumberField onChange before onBlur
  packages/@react-aria/numberfield/src/useNumberField.ts
  packages/@react-spectrum/numberfield/test/NumberField.test.js
Labels: small review

#3203 Update intl-messageformat
  packages/@internationalized/message/package.json
  yarn.lock
Labels: small review
