Repository adobe/react-spectrum, pull requests merged in 2023-08, with the labels that each got.

#4785 Table column resizing support for RAC
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/menu/src/useMenuTrigger.ts
  packages/@react-aria/overlays/src/Overlay.tsx
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-aria/table/src/useTableColumnResize.ts
  packages/@react-spectrum/overlays/src/Overlay.tsx
  packages/@react-spectrum/table/src/Resizer.tsx
  packages/@react-spectrum/table/src/TableViewBase.tsx
  packages/@react-stately/table/src/TableColumnLayout.ts
  packages/@react-stately/table/test/TableUtils.test.js
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/src/Modal.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/stories/styles.css
  packages/react-aria-components/test/Table.test.js
  packages/react-stately/src/index.ts
Labels: release, ready for review

#4852 Updating expandable rows TableView and InlineAlert chromatic stories
  packages/@react-spectrum/inlinealert/chromatic/InlineAlert.chromatic.tsx
  packages/@react-spectrum/table/chromatic/TreeGridTable.chromatic.tsx
  packages/@react-spectrum/table/chromatic/TreeGridTableRTL.chromatic.tsx
Labels: small review, release, ready for review

#4846 Prevent resize infinite loop in TableView when scrollbars are always on
  packages/@react-spectrum/table/src/TableViewBase.tsx
Labels: release, ready for review

#4864 Fix secondary link color in Safari
  packages/@adobe/spectrum-css-temp/components/link/skin.css
Labels: release

#4865 Adding feature flag check for expandable table rows in aria hooks
  packages/@react-aria/table/package.json
  packages/@react-aria/table/src/useTable.ts
  packages/@react-aria/table/src/useTableHeaderRow.ts
  packages/@react-aria/table/src/useTableRow.ts
Labels: release, ready for review

#4868 Apply aria-hidden on non HTMLElements during virtual drag operations
  packages/@react-aria/overlays/src/ariaHideOutside.ts
Labels: release, ready for review

#4850 HCM fixes for ComboBox and Statuslight
  packages/@adobe/spectrum-css-temp/components/inputgroup/skin.css
  packages/@adobe/spectrum-css-temp/components/statuslight/skin.css
Labels: release, ready for review

#4847 Rac dropzone/filetrigger docs
  packages/dev/docs/pages/assets/component-illustrations/DropZone.svg
  packages/dev/docs/pages/assets/component-illustrations/FileTrigger.svg
  packages/react-aria-components/docs/DropZone.mdx
  packages/react-aria-components/docs/FileTrigger.mdx
  packages/react-aria-components/docs/react-aria-components.mdx
  packages/react-aria-components/src/DropZone.tsx
  packages/react-aria-components/src/FileTrigger.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/test/DropZone.test.js
  packages/react-aria-components/test/FileTrigger.test.js
Labels: release, ready for review

#4869 Do not add random prefix to ids during tests in React 18
  packages/@react-aria/ssr/package.json
  packages/@react-aria/ssr/src/SSRProvider.tsx
  packages/@react-aria/ssr/test/SSRProvider.test.js
Labels: release, ready for review

#4856 Updating docs copy for accessibility false positives
  packages/@react-aria/select/docs/useSelect.mdx
  packages/@react-spectrum/picker/docs/Picker.mdx
  packages/dev/docs/pages/react-aria/accessibility.mdx
  packages/react-aria-components/docs/Select.mdx
Labels: release, ready for review

#4874 Fix Typo in FileTrigger Docs
  packages/react-aria-components/docs/FileTrigger.mdx
Labels: release, ready for review

#4867 Docs updates
  packages/@react-aria/color/docs/useColorArea.mdx
  packages/@react-aria/color/docs/useColorField.mdx
  packages/@react-aria/color/docs/useColorSlider.mdx
  packages/@react-aria/color/docs/useColorWheel.mdx
  packages/@react-aria/slider/docs/useSlider.mdx
  packages/@react-spectrum/checkbox/docs/Checkbox.mdx
  packages/@react-spectrum/checkbox/docs/CheckboxGroup.mdx
  packages/@react-spectrum/color/docs/ColorArea.mdx
  packages/@react-spectrum/color/docs/ColorField.mdx
  packages/@react-spectrum/color/docs/ColorSlider.mdx
  packages/@react-spectrum/color/docs/ColorWheel.mdx
  packages/@react-spectrum/combobox/docs/ComboBox.mdx
  packages/@react-spectrum/datepicker/docs/DateField.mdx
  packages/@react-spectrum/datepicker/docs/DatePicker.mdx
  packages/@react-spectrum/datepicker/docs/DateRangePicker.mdx
  packages/@react-spectrum/datepicker/docs/TimeField.mdx
  packages/@react-spectrum/numberfield/docs/NumberField.mdx
  packages/@react-spectrum/picker/docs/Picker.mdx
  packages/@react-spectrum/radio/docs/RadioGroup.mdx
  packages/@react-spectrum/searchfield/docs/SearchField.mdx
  packages/@react-spectrum/slider/docs/RangeSlider.mdx
  packages/@react-spectrum/slider/docs/Slider.mdx
  packages/@react-spectrum/switch/docs/Switch.mdx
  packages/@react-spectrum/textfield/docs/TextArea.mdx
  packages/@react-spectrum/textfield/docs/TextField.mdx
  packages/@react-types/datepicker/src/index.d.ts
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/DateField.mdx
  packages/react-aria-components/docs/DatePicker.mdx
  packages/react-aria-components/docs/DateRangePicker.mdx
  packages/react-aria-components/docs/NumberField.mdx
  packages/react-aria-components/docs/Select.mdx
  packages/react-aria-components/docs/Slider.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/TimeField.mdx
  packages/react-aria-components/src/DateField.tsx
  packages/react-aria-components/src/DatePicker.tsx
  packages/react-aria-components/test/DateRangePicker.test.js
Labels: release, ready for review

#4866 Updating test app with expandable rows table and InlineAlert
  examples/rsp-cra-18/package.json
  examples/rsp-cra-18/src/App.tsx
  examples/rsp-next-ts-17/next.config.js
  examples/rsp-next-ts-17/package.json
  examples/rsp-next-ts-17/pages/_app.tsx
  examples/rsp-next-ts-17/pages/index.tsx
  examples/rsp-next-ts/next.config.mjs
  examples/rsp-next-ts/package.json
  examples/rsp-next-ts/pages/_app.tsx
  examples/rsp-next-ts/pages/index.tsx
  examples/rsp-webpack-4/package.json
  examples/rsp-webpack-4/src/App.js
Labels: release, ready for review

#4880 Remove extraneous 'all' from Expandable type
  packages/@react-types/shared/src/collections.d.ts
Labels: release

#4876 Prevent unexpected column resizer input blur when focused via dropdown menu
  packages/@react-aria/table/src/useTableColumnResize.ts
Labels: release, ready for review

#4050 fix(#4049): Express theme should render a border on Popovers and Dialogs with forced-colors: active
  packages/@adobe/spectrum-css-temp/components/dialog/index.css
  packages/@adobe/spectrum-css-temp/components/dialog/skin.css
  packages/@adobe/spectrum-css-temp/components/modal/index.css
  packages/@adobe/spectrum-css-temp/components/modal/skin.css
  packages/@adobe/spectrum-css-temp/components/popover/index.css
  packages/@adobe/spectrum-css-temp/components/popover/skin.css
  packages/@adobe/spectrum-css-temp/components/rule/skin.css
  packages/@adobe/spectrum-css-temp/components/tray/index.css
  packages/@adobe/spectrum-css-temp/vars/express.css
Labels: bug, rsp:ComboBox, rsp:MenuTrigger, rsp:Picker, rsp:DialogTrigger, accessibility, rsp:DatePicker, small review, rsp:ActionMenu, rsp:SearchAutocomplete, release, ready for review

#4819 RAC Spectrum + Tailwind example
  .circleci/comment.js
  examples/rac-spectrum-tailwind/.parcelrc
  examples/rac-spectrum-tailwind/.postcssrc
  examples/rac-spectrum-tailwind/README.md
  examples/rac-spectrum-tailwind/package.json
  examples/rac-spectrum-tailwind/src/App.js
  examples/rac-spectrum-tailwind/src/ThemeSwitcher.js
  examples/rac-spectrum-tailwind/src/index.html
  examples/rac-spectrum-tailwind/src/index.js
  examples/rac-spectrum-tailwind/src/rac-plugin.js
  examples/rac-spectrum-tailwind/src/spectrum-preset.js
  examples/rac-spectrum-tailwind/src/style.css
  examples/rac-spectrum-tailwind/tailwind.config.js
  examples/rac-spectrum-tailwind/tsconfig.json
  scripts/verdaccio.sh
Labels: tech/dev/garage week

#4820 Add support for automated Storybook accessibility testing
  .storybook/test-runner.js
  package.json
  packages/@react-aria/dnd/stories/DraggableListBox.tsx
  packages/@react-aria/dnd/stories/dnd.stories.tsx
  packages/@react-aria/focus/stories/FocusScope.stories.tsx
  packages/@react-aria/interactions/stories/useFocusRing.stories.tsx
  packages/@react-aria/landmark/stories/Landmark.stories.tsx
  packages/@react-aria/menu/stories/useMenu.stories.tsx
  packages/@react-aria/selection/stories/List.tsx
  packages/@react-aria/selection/stories/useSelectableList.stories.tsx
  packages/@react-aria/table/stories/useTable.stories.tsx
  packages/@react-spectrum/actionbar/stories/ActionBar.stories.tsx
  packages/@react-spectrum/card/stories/Card.stories.tsx
  packages/@react-spectrum/card/stories/GalleryCardView.stories.tsx
  packages/@react-spectrum/card/stories/GridCardView.stories.tsx
  packages/@react-spectrum/card/stories/HorizontalCard.stories.tsx
  packages/@react-spectrum/card/stories/QuietCard.stories.tsx
  packages/@react-spectrum/card/stories/WaterfallCardView.stories.tsx
  packages/@react-spectrum/checkbox/stories/Checkbox.stories.tsx
  packages/@react-spectrum/datepicker/src/DatePickerSegment.tsx
  packages/@react-spectrum/dialog/stories/DialogTrigger.stories.tsx
  packages/@react-spectrum/list/stories/ListViewActions.stories.tsx
  packages/@react-spectrum/list/stories/ListViewDnD.stories.tsx
  packages/@react-spectrum/list/stories/ListViewDnDUtil.stories.tsx
  packages/@react-spectrum/listbox/stories/ListBox.stories.tsx
  packages/@react-spectrum/meter/stories/Meter.stories.tsx
  packages/@react-spectrum/numberfield/stories/NumberField.stories.tsx
  packages/@react-spectrum/pagination/src/Pagination.tsx
  packages/@react-spectrum/picker/stories/Picker.stories.tsx
  packages/@react-spectrum/sidenav/stories/SideNav.stories.tsx
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-spectrum/table/stories/TableDnD.stories.tsx
  packages/@react-spectrum/table/stories/TableDnDUtil.stories.tsx
  packages/@react-spectrum/table/stories/TreeGridTable.stories.tsx
  packages/@react-spectrum/toast/stories/Toast.stories.tsx
  packages/@react-spectrum/tree/stories/TreeView.stories.tsx
  packages/react-aria-components/stories/index.stories.tsx
  yarn.lock
Labels: tech/dev/garage week, ready for review

#4835 Testing documentation and util RFC
  rfcs/2023-rsp-testing-utils.md
Labels: ready for review

#4959 Fix MenuItem so user provided onClose is actually called
  packages/@react-spectrum/menu/src/MenuItem.tsx
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  yarn.lock
Labels: small review, ready for review

#4933 RAC: add Tailwind plugin for RAC states
  examples/rac-spectrum-tailwind/src/App.js
  examples/rac-spectrum-tailwind/tailwind.config.js
  package.json
  packages/react-aria-components/docs/react-aria-components.mdx
  packages/react-aria-components/src/utils.tsx
  packages/tailwindcss-react-aria-components/package.json
  packages/tailwindcss-react-aria-components/src/index.d.ts
  packages/tailwindcss-react-aria-components/src/index.js
  packages/tailwindcss-react-aria-components/src/index.test.js
Labels: RAC

#4249 Keep focus on last pressed column header through loading state
  packages/@adobe/spectrum-css-temp/components/table/skin.css
  packages/@react-aria/table/src/useTableColumnHeader.ts
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-spectrum/table/test/Table.test.js
Labels: ready for review

#4917 Fix Unavailable Menu Item's Popover positioning
  packages/@react-aria/overlays/src/calculatePosition.ts
  packages/@react-spectrum/menu/src/Menu.tsx
  packages/@react-spectrum/menu/src/MenuTrigger.tsx
Labels: ready for review

#4960 Add docs for contexts in React Aria Components
  packages/@react-aria/interactions/src/index.ts
  packages/@react-aria/slider/src/useSlider.ts
  packages/@react-aria/slider/src/useSliderThumb.ts
  packages/@react-aria/slider/src/utils.ts
  packages/@react-aria/tabs/docs/useTabList.mdx
  packages/@react-spectrum/tabs/docs/Tabs.mdx
  packages/dev/docs/src/ContextTable.js
  packages/dev/docs/src/PropTable.js
  packages/dev/docs/src/StateTable.js
  packages/dev/docs/src/docs.css
  packages/dev/docs/src/index.js
  packages/dev/docs/src/types.js
  packages/dev/parcel-packager-docs/DocsPackager.js
  packages/dev/parcel-transformer-docs/DocsTransformer.js
  packages/dev/parcel-transformer-docs/__tests__/__snapshots__/DocsTransformer.parceltest.tsx.snap
  packages/dev/parcel-transformer-mdx-docs/MDXTransformer.js
  packages/react-aria-components/docs/Breadcrumbs.mdx
  packages/react-aria-components/docs/Button.mdx
  packages/react-aria-components/docs/Calendar.mdx
  packages/react-aria-components/docs/Checkbox.mdx
  packages/react-aria-components/docs/CheckboxGroup.mdx
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/DateField.mdx
  packages/react-aria-components/docs/DatePicker.mdx
  packages/react-aria-components/docs/DateRangePicker.mdx
  packages/react-aria-components/docs/Dialog.mdx
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/Link.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/Meter.mdx
  packages/react-aria-components/docs/Modal.mdx
  packages/react-aria-components/docs/NumberField.mdx
  packages/react-aria-components/docs/Popover.mdx
  packages/react-aria-components/docs/ProgressBar.mdx
  packages/react-aria-components/docs/RadioGroup.mdx
  packages/react-aria-components/docs/RangeCalendar.mdx
  packages/react-aria-components/docs/SearchField.mdx
  packages/react-aria-components/docs/Select.mdx
  packages/react-aria-components/docs/Slider.mdx
  packages/react-aria-components/docs/Switch.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/Tabs.mdx
  packages/react-aria-components/docs/TagGroup.mdx
  packages/react-aria-components/docs/TextField.mdx
  packages/react-aria-components/docs/TimeField.mdx
  packages/react-aria-components/docs/ToggleButton.mdx
  packages/react-aria-components/src/Breadcrumbs.tsx
  packages/react-aria-components/src/Calendar.tsx
  packages/react-aria-components/src/DateField.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Modal.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/src/Separator.tsx
  packages/react-aria-components/src/Slider.tsx
  packages/react-aria-components/src/Text.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/src/utils.tsx
  packages/react-aria/src/index.ts
Labels: RAC

#4989 Add translations to RSP Dropzone
  packages/@react-spectrum/dropzone/intl/en-US.json
  packages/@react-spectrum/dropzone/package.json
  packages/@react-spectrum/dropzone/src/DropZone.tsx
Labels: release

#4763 Adding Unavailable Menu Item docs
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
  packages/@react-spectrum/menu/src/ContextualHelpTrigger.tsx
Labels: release

#4998 Fix RAC Modal in SSR
  packages/react-aria-components/src/Modal.tsx
  packages/react-aria-components/test/Dialog.ssr.test.js
Labels: release
