Repository adobe/react-spectrum, pull requests merged in 2023-07, with the labels that each got.

#4766 fix [RAC]: RadioGroup/Dialog Focus
  packages/react-aria-components/example/index.css
  packages/react-aria-components/src/RadioGroup.tsx
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/test/RadioGroup.test.js
Labels: needs testing

#4601 dnd: when dragging, stop propagation to potential parent draggables
  packages/@react-aria/dnd/src/useDrag.ts
  packages/@react-aria/dnd/test/dnd.test.js
Labels: needs testing

#4784 export `AriaButtonOptions` from `react-aria` and `@react-aria/button` packages
  packages/@react-aria/button/src/index.ts
  packages/react-aria/src/index.ts
Labels: small review

#4755 RAC: Additional render props and docs improvements
  examples/rac-tailwind/src/App.js
  packages/react-aria-components/docs/Calendar.mdx
  packages/react-aria-components/docs/Checkbox.mdx
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/DateField.mdx
  packages/react-aria-components/docs/DatePicker.mdx
  packages/react-aria-components/docs/DateRangePicker.mdx
  packages/react-aria-components/docs/Meter.mdx
  packages/react-aria-components/docs/NumberField.mdx
  packages/react-aria-components/docs/ProgressBar.mdx
  packages/react-aria-components/docs/RangeCalendar.mdx
  packages/react-aria-components/docs/SearchField.mdx
  packages/react-aria-components/docs/Slider.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/TagGroup.mdx
  packages/react-aria-components/docs/TextField.mdx
  packages/react-aria-components/docs/TimeField.mdx
  packages/react-aria-components/src/Calendar.tsx
  packages/react-aria-components/src/Checkbox.tsx
  packages/react-aria-components/src/ComboBox.tsx
  packages/react-aria-components/src/DateField.tsx
  packages/react-aria-components/src/NumberField.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/src/RadioGroup.tsx
  packages/react-aria-components/src/SearchField.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/Slider.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/TextField.tsx
  packages/react-aria-components/src/Tooltip.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/test/SearchField.test.js
Labels: ready for review

#4703 RAC DropZone - fix aria violation + make aria-label more customizable
  packages/react-aria-components/src/DropZone.tsx
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/test/DropZone.test.js
Labels: small review, ready for review

#4794 RAC: docs improvements for render props
  packages/react-aria-components/docs/Checkbox.mdx
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/Meter.mdx
  packages/react-aria-components/docs/NumberField.mdx
  packages/react-aria-components/docs/ProgressBar.mdx
  packages/react-aria-components/docs/TextField.mdx
  packages/react-aria-components/src/Calendar.tsx
  packages/react-aria-components/src/Checkbox.tsx
  packages/react-aria-components/src/ComboBox.tsx
  packages/react-aria-components/src/DateField.tsx
  packages/react-aria-components/src/DatePicker.tsx
  packages/react-aria-components/src/Meter.tsx
  packages/react-aria-components/src/NumberField.tsx
  packages/react-aria-components/src/ProgressBar.tsx
  packages/react-aria-components/src/RadioGroup.tsx
  packages/react-aria-components/src/SearchField.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/TextField.tsx
Labels: small review

#4773 fix(#4313): ariaHideOutside/aria-modal-polyfill: use inert instead of aria-hidden where supported
  packages/@react-aria/aria-modal-polyfill/package.json
  packages/@react-aria/aria-modal-polyfill/src/index.ts
  packages/@react-aria/overlays/src/ariaHideOutside.ts
  yarn.lock
Labels: enhancement, accessibility

#4830 Fix InlineAlert docs package data import
  packages/@react-spectrum/inlinealert/docs/InlineAlert.mdx
Labels: small review
