Repository adobe/react-spectrum, pull requests merged in 2023-04, with the labels that each got.

#4164 fix:(#4144): SearchField: contextual help button displayed wrong
  packages/@adobe/spectrum-css-temp/components/search/index.css
Labels: release

#4334 Improve resize cursors on 1x screens
  packages/@react-spectrum/table/src/cursors/Cur_MoveHorizontal_9_9.svg
  packages/@react-spectrum/table/src/cursors/Cur_MoveToLeft_9_9.svg
  packages/@react-spectrum/table/src/cursors/Cur_MoveToRight_9_9.svg
Labels: release

#4238 Font improvements, loading fonts in Storybook, and adding more font Chromatic stories
  .chromatic/preview-head.html
  .storybook/preview-head.html
  packages/@adobe/spectrum-css-temp/components/commons/fonts.css
  packages/@react-spectrum/button/chromatic/ActionButton.chromatic.tsx
  packages/@react-spectrum/illustratedmessage/chromatic/IllustratedMessage.Languages.chromatic.tsx
  packages/@react-spectrum/picker/chromatic/Picker.Languages.chromatic.tsx
  packages/@react-spectrum/provider/stories/Provider.stories.tsx
  packages/@react-spectrum/statuslight/chromatic/StatusLight.chromatic.tsx
  packages/@react-spectrum/textfield/chromatic/TextArea.chromatic.js
  packages/@react-spectrum/textfield/chromatic/Textfield.chromatic.js
  packages/dev/docs/src/docs.css
Labels: release

#4154 Add docs for useTagGroup
  packages/@react-aria/tag/docs/anatomy.svg
  packages/@react-aria/tag/docs/tailwind.png
  packages/@react-aria/tag/docs/useTagGroup.mdx
Labels: documentation, release

#4167 Adding docs for close delay in useTooltipTrigger
  packages/@react-aria/tooltip/docs/useTooltipTrigger.mdx
Labels: release

#3982 Table column resizing aria docs
  packages/@react-aria/table/docs/Table-tailwind.png
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-aria/table/stories/docs-example.css
  packages/@react-stately/table/docs/useTableState.mdx
Labels: documentation, release, ready for review

#4337 SearchAutocomplete: fix duplicate events
  packages/@react-aria/autocomplete/src/useSearchAutocomplete.ts
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
Labels: small review

#4412 fixing broken links
  packages/@react-types/shared/src/style.d.ts
  packages/dev/docs/pages/releases/2020-08-18.mdx
  packages/dev/docs/pages/releases/2020-11-30.mdx
  packages/dev/docs/pages/releases/2021-11-24.mdx
  packages/dev/docs/pages/releases/2022-08-26.mdx
  packages/react-aria-components/src/utils.tsx
Labels: bug, innovation-week

#4434 Fix darkmode useSelect docs
  packages/@react-aria/select/docs/useSelect.mdx
Labels: small review

#4448 Update can i use db
  yarn.lock
Labels: small review

#4262 fix(#4222): UNSAFE_className is overridden with built in ClassNames
  packages/@react-spectrum/datepicker/src/DateField.tsx
  packages/@react-spectrum/datepicker/src/DatePicker.tsx
  packages/@react-spectrum/datepicker/src/DateRangePicker.tsx
  packages/@react-spectrum/datepicker/src/TimeField.tsx
  packages/@react-spectrum/tag/src/TagGroup.tsx
Labels: small review

#4449 Adding DropIndicatorProps to RAC export
  packages/react-aria-components/src/index.ts
Labels: small review, ready for review
