Repository adobe/react-spectrum, pull requests merged in 2023-09, with the labels that each got.

#5011 Cleanup RAC Tailwind plugin docs
  examples/rac-spectrum-tailwind/src/rac-plugin.js
  packages/react-aria-components/docs/react-aria-components.mdx
Labels: small review, release

#4999 Reorganize React Aria Components docs
  packages/@react-spectrum/combobox/docs/ComboBox.mdx
  packages/dev/docs/pages/assets/component-illustrations/Collections.svg
  packages/dev/docs/pages/assets/component-illustrations/InternationalizedDate.svg
  packages/dev/docs/pages/assets/component-illustrations/Selection.svg
  packages/dev/docs/src/Layout.js
  packages/dev/docs/src/docs.css
  packages/react-aria-components/docs/Breadcrumbs.mdx
  packages/react-aria-components/docs/Button.mdx
  packages/react-aria-components/docs/Calendar.mdx
  packages/react-aria-components/docs/Checkbox.mdx
  packages/react-aria-components/docs/CheckboxGroup.mdx
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/ComboBoxAnatomy.svg
  packages/react-aria-components/docs/DateField.mdx
  packages/react-aria-components/docs/DatePicker.mdx
  packages/react-aria-components/docs/DateRangePicker.mdx
  packages/react-aria-components/docs/Dialog.mdx
  packages/react-aria-components/docs/DropZone.mdx
  packages/react-aria-components/docs/FileTrigger.mdx
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/Link.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/ListBoxAnatomy.svg
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/MenuAnatomy.svg
  packages/react-aria-components/docs/Meter.mdx
  packages/react-aria-components/docs/Modal.mdx
  packages/react-aria-components/docs/NumberField.mdx
  packages/react-aria-components/docs/Popover.mdx
  packages/react-aria-components/docs/ProgressBar.mdx
  packages/react-aria-components/docs/RadioGroup.mdx
  packages/react-aria-components/docs/RangeCalendar.mdx
  packages/react-aria-components/docs/SearchField.mdx
  packages/react-aria-components/docs/Select.mdx
  packages/react-aria-components/docs/SelectAnatomy.svg
  packages/react-aria-components/docs/Slider.mdx
  packages/react-aria-components/docs/Switch.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/Tabs.mdx
  packages/react-aria-components/docs/TagGroup.mdx
  packages/react-aria-components/docs/TextField.mdx
  packages/react-aria-components/docs/TimeField.mdx
  packages/react-aria-components/docs/ToggleButton.mdx
  packages/react-aria-components/docs/Tooltip.mdx
  packages/react-aria-components/src/GridList.tsx
Labels: release

#5015 add RAC Tailwind plugin to workspaces in package.json
  package.json
Labels: small review, release

#5010 Fix buttongroup infinite update loop
  packages/@react-aria/utils/src/useValueEffect.ts
Labels: release

#4988 Make all submenus close upon user interact outside
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  packages/@react-spectrum/overlays/src/Popover.tsx
  packages/@react-spectrum/overlays/src/Underlay.tsx
Labels: release, ready for review

#5017 Move ContextualHelpTrigger docs to Menu
  packages/@react-spectrum/menu/docs/Menu.mdx
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
Labels: release, ready for review

#5036 Revert fix: useSelect trigger label (#4949) and fix example story
  packages/@react-aria/select/src/useSelect.ts
  packages/@react-spectrum/picker/stories/Picker.stories.tsx
  packages/@react-spectrum/picker/test/Picker.test.js
  packages/@react-spectrum/searchwithin/test/SearchWithin.test.js
  packages/@react-spectrum/tabs/test/Tabs.test.js
  packages/react-aria-components/test/Select.test.js
Labels: release, ready for review

#5041 Update Table, GridList, and ListBox anatomy diagrams
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/GridListAnatomy.svg
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/ListBoxAnatomy.svg
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/TableAnatomy.svg
Labels: release

#5049 add README.md to Tailwind plugin package
  packages/tailwindcss-react-aria-components/README.md
Labels: small review

#5064 Initialize RAC string translations
  packages/react-aria-components/intl/en-US.json
  packages/react-aria-components/src/Breadcrumbs.tsx
  packages/react-aria-components/src/DropZone.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/Table.tsx
Labels: small review

#5083 Updating Breadcrumb Link copy from Link api update
  packages/react-aria-components/docs/Breadcrumbs.mdx
Labels: small review

#5008 Add filter for data attributes
  packages/react-aria-components/example/index.css
  packages/react-aria-components/src/ComboBox.tsx
  packages/react-aria-components/src/DateField.tsx
  packages/react-aria-components/src/DatePicker.tsx
  packages/react-aria-components/src/NumberField.tsx
  packages/react-aria-components/src/RadioGroup.tsx
  packages/react-aria-components/src/SearchField.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/Switch.tsx
  packages/react-aria-components/src/TextField.tsx
  packages/react-aria-components/src/utils.tsx
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/test/ComboBox.test.js
  packages/react-aria-components/test/DateField.test.js
  packages/react-aria-components/test/DatePicker.test.js
  packages/react-aria-components/test/DateRangePicker.test.js
  packages/react-aria-components/test/NumberField.test.js
  packages/react-aria-components/test/RadioGroup.test.js
  packages/react-aria-components/test/SearchField.test.js
  packages/react-aria-components/test/Select.test.js
  packages/react-aria-components/test/Switch.test.js
  packages/react-aria-components/test/TextField.test.js
Labels: RAC

#5012 add support for 'none' BorderSizeValue to hide border
  packages/@react-spectrum/utils/src/styleProps.ts
  packages/@react-spectrum/utils/test/styleProps.test.js
  packages/@react-types/shared/src/dna.d.ts
Labels: ready for review

#5138 Update examples and imports in RSP DropZone docs
  packages/@react-spectrum/dropzone/docs/DropZone.mdx
Labels: release

#5153 Fix Unavailable MenuItem props
  packages/@react-spectrum/menu/src/ContextualHelpTrigger.tsx
Labels: release

#5150 Remove UNSAFE_ from isPending prop and enable docs
  packages/@react-spectrum/button/docs/Button.mdx
  packages/@react-spectrum/button/src/Button.tsx
  packages/@react-spectrum/button/stories/Button.stories.tsx
  packages/@react-spectrum/button/test/Button.test.js
  packages/@react-types/button/src/index.d.ts
Labels: release

#5151 DropZone docs release audit
  packages/@react-spectrum/dropzone/docs/DropZone.mdx
Labels: release

#5125 Static progress followup
  packages/@adobe/spectrum-css-temp/components/barloader/skin.css
  packages/@adobe/spectrum-css-temp/components/button/skin.css
  packages/@adobe/spectrum-css-temp/components/circleloader/skin.css
  packages/@react-spectrum/button/stories/Button.stories.tsx
  packages/@react-spectrum/progress/docs/ProgressBar.mdx
  packages/@react-spectrum/progress/docs/ProgressCircle.mdx
  packages/@react-types/progress/src/index.d.ts
Labels: release
