Repository adobe/react-spectrum, pull requests merged in 2023-03, with the labels that each got.

#4156 Update useTagGroup and useTag returned prop names
  packages/@react-aria/tag/src/useTag.ts
  packages/@react-aria/tag/src/useTagGroup.ts
  packages/@react-spectrum/tag/src/Tag.tsx
  packages/@react-spectrum/tag/src/TagGroup.tsx
Labels: small review

#4161 fix(#4160): NumberField: screen reader fails to announce negative values with currencySign: 'accounting'
  packages/@react-aria/numberfield/src/useNumberField.ts
  packages/@react-spectrum/numberfield/test/NumberField.test.js
Labels: bug, rsp:NumberField, accessibility

#4152 fix(#4151): Radio: should use ButtonText and Highlight colors with forced-colors: active/HCM
  packages/@adobe/spectrum-css-temp/components/radio/index.css
Labels: bug, accessibility, small review, rsp:RadioGroup

#4112 fix(#4103): ProgressCircle: overBackground variant is using Canvas as fill color instead of Highlight in HCM
  packages/@adobe/spectrum-css-temp/components/circleloader/skin.css
Labels: bug, rsp:ProgressBar/Circle, accessibility, small review

#4189 fix(#4188): RangeSlider Default storybook example is labeled twice
  packages/@react-spectrum/slider/stories/RangeSlider.stories.tsx
Labels: rsp:Slider, accessibility, storybook

#4209 fix(#4208): Form includes label prop inherited from SpectrumLabelableProps that goes unused
  packages/@react-types/form/src/index.d.ts
Labels: bug, documentation, rsp:Form, typescript, small review

#4217 Fix duplicate id in some icons
  packages/@spectrum-icons/workflow/package.json
  yarn.lock
Labels: small review

#4232 Prevent keyboard specific Table column resizing announcement on iOS Voiceover
  packages/@react-aria/table/src/useTableColumnResize.ts
Labels: small review

#4240 TagGroup: don't remove tags on Space press
  packages/@react-aria/tag/src/useTag.ts
  packages/@react-spectrum/tag/test/TagGroup.test.js
Labels: small review, release, ready for review

#4095 Genericize `useFocus()` for narrowed event handler types
  packages/@react-aria/interactions/docs/useFocus.mdx
  packages/@react-aria/interactions/src/useFocus.ts
  packages/@react-aria/interactions/src/utils.ts
Labels: release

#4180 Specify box sizing where we rely on it
  packages/@adobe/spectrum-css-temp/components/table/index.css
  packages/@react-spectrum/list/src/styles.css
Labels: release, ready for review

#4159 fix(#4157): useSpinButton: rapidly changing values causes live region to announce values that are no longer relevant
  packages/@react-aria/spinbutton/src/useSpinButton.ts
Labels: bug, rsp:NumberField, accessibility, release

#4243 Create chromatic stories for tags
  packages/@react-spectrum/tag/chromatic/TagGroup.chromatic.tsx
Labels: release

#4226 Add Remix to SSR docs
  packages/dev/docs/pages/react-spectrum/ssr.mdx
Labels: small review

#4257 Localize tag count
  packages/@internationalized/string-compiler/src/stringCompiler.js
  packages/@react-spectrum/tag/intl/ar-AE.json
  packages/@react-spectrum/tag/intl/bg-BG.json
  packages/@react-spectrum/tag/intl/cs-CZ.json
  packages/@react-spectrum/tag/intl/da-DK.json
  packages/@react-spectrum/tag/intl/de-DE.json
  packages/@react-spectrum/tag/intl/el-GR.json
  packages/@react-spectrum/tag/intl/en-US.json
  packages/@react-spectrum/tag/intl/es-ES.json
  packages/@react-spectrum/tag/intl/et-EE.json
  packages/@react-spectrum/tag/intl/fi-FI.json
  packages/@react-spectrum/tag/intl/fr-FR.json
  packages/@react-spectrum/tag/intl/he-IL.json
  packages/@react-spectrum/tag/intl/hr-HR.json
  packages/@react-spectrum/tag/intl/hu-HU.json
  packages/@react-spectrum/tag/intl/it-IT.json
  packages/@react-spectrum/tag/intl/ja-JP.json
  packages/@react-spectrum/tag/intl/ko-KR.json
  packages/@react-spectrum/tag/intl/lt-LT.json
  packages/@react-spectrum/tag/intl/lv-LV.json
  packages/@react-spectrum/tag/intl/nb-NO.json
  packages/@react-spectrum/tag/intl/nl-NL.json
  packages/@react-spectrum/tag/intl/pl-PL.json
  packages/@react-spectrum/tag/intl/pt-BR.json
  packages/@react-spectrum/tag/intl/pt-PT.json
  packages/@react-spectrum/tag/intl/ro-RO.json
  packages/@react-spectrum/tag/intl/ru-RU.json
  packages/@react-spectrum/tag/intl/sk-SK.json
  packages/@react-spectrum/tag/intl/sl-SI.json
  packages/@react-spectrum/tag/intl/sr-SP.json
  packages/@react-spectrum/tag/intl/sv-SE.json
  packages/@react-spectrum/tag/intl/tr-TR.json
  packages/@react-spectrum/tag/intl/uk-UA.json
  packages/@react-spectrum/tag/intl/zh-CN.json
  packages/@react-spectrum/tag/intl/zh-TW.json
Labels: release

#4201 fix(#4200): NumberField issue with flex layout and forms
  packages/@adobe/spectrum-css-temp/components/fieldlabel/index.css
  packages/@adobe/spectrum-css-temp/components/inputgroup/index.css
  packages/@adobe/spectrum-css-temp/components/stepper/index.css
  packages/@adobe/spectrum-css-temp/components/stepper/skin.css
  packages/@react-spectrum/form/stories/Form.stories.tsx
Labels: release

#4248 React Aria Components fixes from testing
  packages/@react-aria/dnd/src/useDrag.ts
  packages/@react-aria/focus/src/index.ts
  packages/@react-aria/focus/src/useHasTabbableChild.ts
  packages/@react-aria/grid/src/useGrid.ts
  packages/@react-aria/gridlist/src/useGridList.ts
  packages/@react-aria/interactions/src/useFocus.ts
  packages/@react-aria/interactions/src/useFocusWithin.ts
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-aria/selection/src/useSelectableItem.ts
  packages/@react-aria/table/src/useTable.ts
  packages/@react-aria/tabs/src/useTabPanel.ts
  packages/@react-aria/virtualizer/src/Virtualizer.tsx
  packages/@react-aria/virtualizer/src/useHasTabbableChild.ts
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-spectrum/textfield/test/TextField.test.js
  packages/@react-stately/collections/src/getChildNodes.ts
  packages/@react-stately/collections/src/index.ts
  packages/@react-stately/dnd/src/useDraggableCollectionState.ts
  packages/@react-stately/selection/src/SelectionManager.ts
  packages/dev/docs/src/syntax-highlight.css
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/Meter.mdx
  packages/react-aria-components/docs/Popover.mdx
  packages/react-aria-components/docs/ProgressBar.mdx
  packages/react-aria-components/docs/Select.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/src/Collection.tsx
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Modal.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/test/Dialog.test.js
  packages/react-aria-components/test/GridList.test.js
  packages/react-aria-components/test/Table.test.js
Labels: release, ready for review

#4253 Simplify aria table resizing docs example
  packages/@react-aria/table/docs/useTable.mdx
Labels: release

#4254 Refine table column resize hook props and returned values
  packages/@react-aria/table/src/useTableColumnResize.ts
  packages/@react-aria/table/stories/example-docs.tsx
  packages/@react-aria/table/stories/example-resizing.tsx
  packages/@react-spectrum/table/src/Resizer.tsx
  packages/@react-stately/table/src/useTableColumnResizeState.ts
Labels: release, ready for review

#3649 Add custom cursor icons back
  .parcelrc
  packages/@adobe/spectrum-css-temp/components/table/cursors/Cur_MoveHorizontal_9_9.svg
  packages/@adobe/spectrum-css-temp/components/table/index.css
  packages/@react-spectrum/table/src/Resizer.tsx
  packages/@react-spectrum/table/src/cursors/Cur_MoveHorizontal_9_9.svg
  packages/@react-spectrum/table/src/cursors/Cur_MoveToLeft_9_9.svg
  packages/@react-spectrum/table/src/cursors/Cur_MoveToRight_9_9.svg
  packages/@react-spectrum/table/src/table.css
Labels: small review, release, ready for review

#4041 Fix TagGroup maxRows layout issues
  packages/@react-spectrum/tag/src/TagGroup.tsx
  packages/@react-spectrum/tag/stories/TagGroup.stories.tsx
  packages/@react-spectrum/tag/test/TagGroup.test.js
Labels: release, ready for review

#4220 Fix overlay position clamping and arrow position
  packages/@react-aria/overlays/src/calculatePosition.ts
  packages/@react-aria/overlays/src/useOverlayPosition.ts
  packages/@react-aria/overlays/stories/UseOverlayPosition.stories.tsx
  packages/@react-aria/overlays/test/calculatePosition.test.js
  packages/@react-aria/overlays/test/useOverlayPosition.test.js
  packages/@react-spectrum/dialog/chromatic/Dialog.chromatic.tsx
  packages/@react-spectrum/dialog/stories/DialogTrigger.stories.tsx
  packages/@react-spectrum/overlays/src/Popover.tsx
  packages/@react-spectrum/tooltip/chromatic/TooltipTrigger.chromatic.tsx
  packages/@react-spectrum/tooltip/src/Tooltip.tsx
  packages/@react-spectrum/tooltip/src/TooltipTrigger.tsx
  packages/@react-spectrum/tooltip/src/context.ts
  packages/@react-spectrum/tooltip/stories/TooltipTrigger.stories.tsx
Labels: release, ready for review

#4250 SearchAutocomplete: Update to CSF3 and add Controls
  packages/@react-spectrum/autocomplete/stories/SearchAutocomplete.stories.tsx
Labels: ready for review

#4252 SearchAutocomplete: code changes for docs search
  packages/@react-spectrum/autocomplete/src/MobileSearchAutocomplete.tsx
  packages/@react-spectrum/autocomplete/src/SearchAutocomplete.tsx
Labels: ready for review

#4008 Tableview: Drag and drop support
  packages/@adobe/spectrum-css-temp/components/table/index.css
  packages/@react-aria/dnd/src/useDropIndicator.ts
  packages/@react-aria/dnd/src/useDroppableCollection.ts
  packages/@react-aria/table/stories/useTable.stories.tsx
  packages/@react-aria/virtualizer/src/VirtualizerItem.tsx
  packages/@react-spectrum/table/chromatic/TableView.chromatic.tsx
  packages/@react-spectrum/table/intl/en-US.json
  packages/@react-spectrum/table/package.json
  packages/@react-spectrum/table/src/DragPreview.tsx
  packages/@react-spectrum/table/src/InsertionIndicator.tsx
  packages/@react-spectrum/table/src/RootDropIndicator.tsx
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-spectrum/table/src/index.ts
  packages/@react-spectrum/table/src/table.css
  packages/@react-spectrum/table/stories/TableDnD.stories.tsx
  packages/@react-spectrum/table/stories/TableDnDExamples.tsx
  packages/@react-spectrum/table/stories/TableDnDUtil.stories.tsx
  packages/@react-spectrum/table/stories/TableDnDUtilExamples.tsx
  packages/@react-spectrum/table/test/TableDnd.test.js
  packages/@react-stately/layout/src/TableLayout.ts
  packages/@react-stately/table/src/Row.ts
  packages/@react-stately/table/src/TableCollection.ts
  packages/@react-stately/table/src/useTableState.ts
  packages/@react-types/table/src/index.d.ts
Labels: release, ready for review

#4251 SearchAutocomplete: support custom data attributes
  packages/@react-spectrum/autocomplete/src/SearchAutocomplete.tsx
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
Labels: small review, ready for review

#4271 fix chromatic accordion
  packages/@adobe/spectrum-css-temp/components/accordion/skin.css
Labels: release

#4274 Updating stories for containerPadding
  packages/@react-spectrum/dialog/chromatic/Dialog.chromatic.tsx
  packages/@react-spectrum/dialog/stories/DialogTrigger.stories.tsx
Labels: small review, release, ready for review

#4272 useTagGroup: add description and update 'remove' translation string
  packages/@react-aria/tag/intl/en-US.json
  packages/@react-aria/tag/src/useTag.ts
  packages/@react-spectrum/tag/test/TagGroup.test.js
Labels: small review, release

#4275 React Aria Components API improvements
  packages/@react-aria/datepicker/src/useDatePicker.ts
  packages/@react-aria/datepicker/src/useDateRangePicker.ts
  packages/react-aria-components/docs/Calendar.mdx
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/DateField.mdx
  packages/react-aria-components/docs/DatePicker.mdx
  packages/react-aria-components/docs/DateRangePicker.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/NumberField.mdx
  packages/react-aria-components/docs/RangeCalendar.mdx
  packages/react-aria-components/docs/SearchField.mdx
  packages/react-aria-components/docs/Select.mdx
  packages/react-aria-components/docs/TextField.mdx
  packages/react-aria-components/docs/TimeField.mdx
  packages/react-aria-components/src/Calendar.tsx
  packages/react-aria-components/src/Collection.tsx
  packages/react-aria-components/src/ComboBox.tsx
  packages/react-aria-components/src/DateField.tsx
  packages/react-aria-components/src/DatePicker.tsx
  packages/react-aria-components/src/Group.tsx
  packages/react-aria-components/src/Header.tsx
  packages/react-aria-components/src/Input.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/Separator.tsx
  packages/react-aria-components/src/Slider.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/test/Calendar.test.js
  packages/react-aria-components/test/ComboBox.test.js
  packages/react-aria-components/test/DateField.test.js
  packages/react-aria-components/test/DatePicker.test.js
  packages/react-aria-components/test/DateRangePicker.test.js
  packages/react-aria-components/test/Dialog.test.js
  packages/react-aria-components/test/ListBox.test.js
  packages/react-aria-components/test/Menu.test.js
  packages/react-aria-components/test/NumberField.test.js
  packages/react-aria-components/test/RangeCalendar.test.js
  packages/react-aria-components/test/Select.test.js
  packages/react-aria-components/test/Slider.test.js
  packages/react-aria-components/test/TextField.test.js
Labels: release

#4276 Hidpi resize cursors
  .parcelrc
  __mocks__/fileMock.js
  bin/imports.js
  packages/@react-spectrum/table/src/Resizer.tsx
  packages/@react-spectrum/table/src/cursors/Cur_MoveHorizontal_9_9.svg
  packages/@react-spectrum/table/src/cursors/Cur_MoveToLeft_9_9.svg
  packages/@react-spectrum/table/src/cursors/Cur_MoveToRight_9_9.svg
  packages/@react-spectrum/table/src/table.css
  packages/dev/test-utils/src/ssrUtils.js
Labels: release

#4291 useTag: remove isFocused prop
  packages/@react-aria/tag/src/useTag.ts
  packages/@react-spectrum/tag/src/Tag.tsx
  packages/@react-types/tag/src/index.d.ts
Labels: release

#4298 TableView DnD: fix types and dependencies
  packages/@react-spectrum/table/package.json
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-stately/table/src/useTableState.ts
  packages/@react-types/table/src/index.d.ts
Labels: release

#4296 Automatically providing visually hidden styles to the resizer input
  packages/@react-aria/focus/src/useHasTabbableChild.ts
  packages/@react-aria/table/package.json
  packages/@react-aria/table/src/useTableColumnResize.ts
  packages/@react-aria/table/stories/example-docs.tsx
  packages/@react-spectrum/table/src/Resizer.tsx
Labels: small review, release, ready for review

#4294 Updating prop names for overlay position options
  packages/@react-aria/overlays/src/calculatePosition.ts
  packages/@react-aria/overlays/src/useOverlayPosition.ts
  packages/@react-aria/overlays/test/calculatePosition.test.js
  packages/@react-aria/overlays/test/useOverlayPosition.test.js
  packages/@react-spectrum/overlays/src/Popover.tsx
  packages/@react-spectrum/tooltip/src/TooltipTrigger.tsx
Labels: small review, release, ready for review

#4307 TableView DnD: Add headers
  packages/@react-spectrum/table/src/DragPreview.tsx
  packages/@react-spectrum/table/src/InsertionIndicator.tsx
  packages/@react-spectrum/table/src/RootDropIndicator.tsx
Labels: small review, release

#4299 Fix combobox visible focus styling when opening the menu via keyboard
  packages/@react-stately/combobox/src/useComboBoxState.ts
Labels: small review, release, ready for review

#4305 SearchAutocomplete: fix types
  packages/@react-aria/autocomplete/src/index.ts
  packages/@react-aria/autocomplete/src/useSearchAutocomplete.ts
  packages/@react-spectrum/autocomplete/src/SearchAutocomplete.tsx
  packages/@react-types/autocomplete/src/index.d.ts
Labels: release
