Repository adobe/react-spectrum, pull requests merged in 2023-02, with the labels that each got.

#4000 Fix SearchAutocomplete to call onClear
  packages/@react-aria/autocomplete/src/useSearchAutocomplete.ts
  packages/@react-spectrum/autocomplete/stories/SearchAutocomplete.stories.tsx
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
Labels: small review

#3885 fix(#3884): useGrid: gracefully handle focus when a focused row is removed from the collection
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-spectrum/listbox/stories/ListBox.stories.tsx
  packages/@react-spectrum/listbox/test/ListBox.test.js
  packages/@react-spectrum/table/stories/CRUDExample.tsx
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-stately/grid/src/useGridState.ts
  packages/@react-stately/list/src/useListState.ts
Labels: enhancement, accessibility

#4018 Center the table in the viewport if resizer is still out of view
  packages/@react-spectrum/table/src/TableView.tsx
Labels: small review

#4073 Remove unneeded dep in @react-types/list
  packages/@react-types/list/package.json
Labels: release

#4072 Explain Proxy in TableView
  packages/@react-aria/table/stories/example-resizing.tsx
  packages/@react-spectrum/table/src/TableView.tsx
Labels: release

#4079 fix(#4078): MobileComboBox: searchbox should not have aria-expanded property
  packages/@react-spectrum/combobox/src/MobileComboBox.tsx
  packages/@react-spectrum/combobox/test/ComboBox.test.js
Labels: bug, rsp:ComboBox, accessibility

#4090 Code changes from docs-ts branch
  packages/@adobe/react-spectrum/package.json
  packages/@adobe/react-spectrum/src/index.ts
  packages/@internationalized/date/src/CalendarDate.ts
  packages/@react-aria/button/src/useToggleButton.ts
  packages/@react-aria/listbox/src/index.ts
  packages/@react-aria/listbox/src/useListBox.ts
  packages/@react-aria/menu/src/index.ts
  packages/@react-aria/overlays/src/useOverlayTrigger.ts
  packages/@react-spectrum/autocomplete/src/SearchAutocomplete.tsx
  packages/@react-types/color/src/index.d.ts
  packages/@react-types/listbox/src/index.d.ts
  packages/@react-types/tabs/src/index.d.ts
  packages/react-aria/src/index.ts
  packages/react-stately/src/index.ts
Labels: release

#4102 Fix TagGroup label alignment
  packages/@adobe/spectrum-css-temp/components/tags/index.css
  packages/@react-spectrum/tag/src/TagGroup.tsx
Labels: release

#4106 Explicitly define the exports from react-stately/tag
  packages/@react-stately/tag/src/index.ts
Labels: small review, release

#3844 Adds parseDuration documentation under separate PR
  packages/@internationalized/date/docs/CalendarDate.mdx
  packages/@internationalized/date/docs/CalendarDateTime.mdx
  packages/@internationalized/date/docs/Time.mdx
  packages/@internationalized/date/docs/ZonedDateTime.mdx
Labels: release

#3918 TagGroup: Add docs for maxRows and onAction
  packages/@react-spectrum/tag/docs/TagGroup.mdx
Labels: release

#4100 ActionBar docs updates
  packages/@react-spectrum/actionbar/docs/ActionBar.mdx
  packages/@react-spectrum/actionbar/docs/ActionBarAnatomy.svg
Labels: release

#4104 Fix docs application of generics to nested interfaces
  packages/dev/parcel-packager-docs/DocsPackager.js
Labels: release

#4116 Enable toast docs in production
  packages/@react-aria/toast/docs/useToast.mdx
  packages/@react-spectrum/toast/docs/Toast.mdx
  packages/@react-stately/toast/docs/useToastState.mdx
Labels: release

#3964 TagGroup: add docs for help text, contextual help, and avatars
  packages/@react-spectrum/tag/docs/TagGroup.mdx
Labels: release
