Repository adobe/react-spectrum, pull requests merged in 2023-05, with the labels that each got.

#4450 Upgrade chromatic to 6.x
  package.json
  yarn.lock
Labels: small review

#4469 Fix two unavailable menu dialogs from being open
  packages/@react-aria/menu/src/useMenuItem.ts
  packages/@react-stately/tree/src/useTreeState.ts
Labels: release

#4483 TableView DnD: improve css specificity
  packages/@react-spectrum/table/src/TableView.tsx
  packages/@react-spectrum/table/src/table.css
Labels: release

#4314 fix(#4313): ariaHideOutside/aria-modal-polyfill: use inert instead of aria-hidden where supported
  packages/@react-aria/aria-modal-polyfill/package.json
  packages/@react-aria/aria-modal-polyfill/src/index.ts
  packages/@react-aria/overlays/src/ariaHideOutside.ts
  yarn.lock
Labels: release

#4492 Revert "fix(#4313): ariaHideOutside/aria-modal-polyfill: use inert instead of aria-hidden where supported"
  packages/@react-aria/aria-modal-polyfill/package.json
  packages/@react-aria/aria-modal-polyfill/src/index.ts
  packages/@react-aria/overlays/src/ariaHideOutside.ts
  yarn.lock
Labels: release

#4495 Fix Button CSF story defaults
  packages/@react-spectrum/button/stories/Button.stories.tsx
  packages/@react-spectrum/button/stories/LogicButton.stories.tsx
Labels: release

#4358 TagGroup: add default empty state and support for custom empty state
  packages/@adobe/spectrum-css-temp/components/tags/index.css
  packages/@react-aria/tag/src/useTag.ts
  packages/@react-aria/tag/src/useTagGroup.ts
  packages/@react-spectrum/tag/chromatic/TagGroup.chromatic.tsx
  packages/@react-spectrum/tag/intl/ar-AE.json
  packages/@react-spectrum/tag/intl/en-US.json
  packages/@react-spectrum/tag/src/TagGroup.tsx
  packages/@react-spectrum/tag/stories/TagGroup.stories.tsx
  packages/@react-spectrum/tag/test/TagGroup.test.js
Labels: release

#4401 Upgrade jest
  lib/jestResolver.js
  package.json
  packages/@react-aria/calendar/test/useCalendar.test.js
  packages/@react-aria/checkbox/test/useCheckboxGroup.test.tsx
  packages/@react-aria/color/test/useColorWheel.test.tsx
  packages/@react-aria/dnd/src/useAutoScroll.ts
  packages/@react-aria/dnd/test/useDraggableCollection.test.js
  packages/@react-aria/dnd/test/useDroppableCollection.test.js
  packages/@react-aria/grid/test/useGrid.test.js
  packages/@react-aria/interactions/test/useHover.test.js
  packages/@react-aria/interactions/test/useLongPress.test.js
  packages/@react-aria/interactions/test/useMove.test.js
  packages/@react-aria/interactions/test/usePress.test.js
  packages/@react-aria/overlays/test/useModal.test.js
  packages/@react-aria/ssr/test/SSRProvider.test.js
  packages/@react-aria/utils/test/useObjectRef.test.js
  packages/@react-spectrum/actiongroup/test/ActionGroup.test.js
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-spectrum/breadcrumbs/test/Breadcrumbs.test.js
  packages/@react-spectrum/calendar/test/CalendarBase.test.js
  packages/@react-spectrum/calendar/test/RangeCalendar.test.js
  packages/@react-spectrum/card/test/CardView.test.js
  packages/@react-spectrum/color/test/ColorArea.test.tsx
  packages/@react-spectrum/color/test/ColorField.test.js
  packages/@react-spectrum/contextualhelp/test/ContextualHelp.test.js
  packages/@react-spectrum/datepicker/test/DatePicker.test.js
  packages/@react-spectrum/datepicker/test/DateRangePicker.test.js
  packages/@react-spectrum/dialog/test/DialogTrigger.test.js
  packages/@react-spectrum/link/test/Link.test.js
  packages/@react-spectrum/menu/test/ActionMenu.test.js
  packages/@react-spectrum/menu/test/Menu.test.js
  packages/@react-spectrum/numberfield/test/NumberField.test.js
  packages/@react-spectrum/overlays/test/Popover.test.js
  packages/@react-spectrum/overlays/test/Tray.test.js
  packages/@react-spectrum/picker/test/Picker.test.js
  packages/@react-spectrum/searchwithin/test/SearchWithin.test.js
  packages/@react-spectrum/sidenav/test/SideNav.test.js
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-spectrum/tooltip/test/TooltipTrigger.test.js
  packages/@react-stately/data/test/useAsyncList.test.js
  packages/@react-stately/tooltip/test/useTooltipTriggerState.test.js
  packages/dev/parcel-transformer-docs/__tests__/__snapshots__/DocsTransformer.parceltest.tsx.snap
  packages/dev/test-utils/package.json
  yarn.lock
Labels: release

#4493 Fix Combobox HCM non-disabled
  packages/@adobe/spectrum-css-temp/components/inputgroup/index.css
  packages/@adobe/spectrum-css-temp/components/inputgroup/skin.css
  packages/@adobe/spectrum-css-temp/components/textfield/skin.css
Labels: release

#4435 Fix react 18 animation flicker
  packages/react-aria-components/src/utils.tsx
  packages/react-aria-components/stories/animations.stories.tsx
  packages/react-aria-components/stories/styles.css
Labels: release

#4479 stop propagation of clicks on tooltips
  packages/@react-aria/tooltip/src/useTooltip.ts
  packages/@react-spectrum/tooltip/stories/TooltipTrigger.stories.tsx
  packages/@react-spectrum/tooltip/test/Tooltip.test.js
  packages/@react-spectrum/tooltip/test/TooltipTrigger.test.js
Labels: small review

#4502 Restore original getFocusableTreeWalker signature
  packages/@react-aria/focus/src/FocusScope.tsx
Labels: small review, release

#4511 Exporting MenuDialogTrigger props
  packages/@adobe/react-spectrum/src/index.ts
  packages/@react-spectrum/menu/src/MenuDialogTrigger.tsx
  packages/@react-spectrum/menu/src/index.ts
Labels: release

#4496 Improve TagGroup rendering
  packages/@react-spectrum/tag/src/TagGroup.tsx
  packages/@react-spectrum/tag/test/TagGroup.ssr.test.js
  packages/@react-spectrum/tag/test/TagGroup.test.js
Labels: release

#4503 Restrict shouldContainFocus access in types
  packages/@react-spectrum/overlays/src/Modal.tsx
  packages/@react-spectrum/overlays/src/Tray.tsx
Labels: release

#4512 RAC Select: propagate placeholder to Button label
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/test/Select.test.js
Labels: small review, release

#4487 Add TagGroup to monopackage
  packages/@adobe/react-spectrum/package.json
  packages/@adobe/react-spectrum/src/index.ts
  packages/react-aria/package.json
  packages/react-aria/src/index.ts
Labels: release

#4527 TagGroup: fix action being hidden
  packages/@react-spectrum/tag/src/TagGroup.tsx
  packages/@react-spectrum/tag/test/TagGroup.test.js
Labels: release

#4544 Remove extraneous children set on Select's button context
  packages/react-aria-components/src/Select.tsx
Labels: small review, release, ready for review

#4520 Fix Infinite rendering in RAC ComboBox/Select with renderProps
  packages/react-aria-components/src/Button.tsx
  packages/react-aria-components/src/Calendar.tsx
  packages/react-aria-components/src/Checkbox.tsx
  packages/react-aria-components/src/ComboBox.tsx
  packages/react-aria-components/src/DateField.tsx
  packages/react-aria-components/src/DatePicker.tsx
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/Link.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/Modal.tsx
  packages/react-aria-components/src/NumberField.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/src/RadioGroup.tsx
  packages/react-aria-components/src/SearchField.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/Slider.tsx
  packages/react-aria-components/src/Switch.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/Tabs.tsx
  packages/react-aria-components/src/utils.tsx
  packages/react-aria-components/stories/index.stories.tsx
  packages/react-aria-components/test/ComboBox.test.js
  packages/react-aria-components/test/Select.test.js
  packages/react-aria-components/test/Slider.test.js
  packages/react-aria-components/test/Tabs.test.js
Labels: release, ready for review

#4548 Make TagGroup hook API less Spectrum specific
  packages/@react-aria/dnd/test/useDroppableCollection.test.js
  packages/@react-aria/gridlist/src/useGridList.ts
  packages/@react-aria/selection/src/ListKeyboardDelegate.ts
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-aria/tag/docs/useTagGroup.mdx
  packages/@react-aria/tag/package.json
  packages/@react-aria/tag/src/TagKeyboardDelegate.ts
  packages/@react-aria/tag/src/index.ts
  packages/@react-aria/tag/src/useTag.ts
  packages/@react-aria/tag/src/useTagGroup.ts
  packages/@react-aria/tag/test/useTagGroup.test.js
  packages/@react-spectrum/tag/chromatic/TagGroup.chromatic.tsx
  packages/@react-spectrum/tag/package.json
  packages/@react-spectrum/tag/src/Tag.tsx
  packages/@react-spectrum/tag/src/TagGroup.tsx
  packages/@react-spectrum/tag/stories/TagGroup.stories.tsx
  packages/@react-spectrum/tag/test/TagGroup.test.js
  packages/@react-types/tag/README.md
  packages/@react-types/tag/package.json
  packages/@react-types/tag/src/index.d.ts
Labels: release

#4554 Adding ComboBox and Select render props
  packages/react-aria-components/src/ComboBox.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/index.ts
Labels: small review, release, ready for review

#4566 Only insert new items into collections after receiving props
  packages/react-aria-components/src/Collection.tsx
Labels: release

#4557 TagGroup shows FocusRing when maxRows and isEmpty
  packages/@react-spectrum/tag/src/TagGroup.tsx
Labels: small review

#4553 TagGroup docs changes
  packages/@react-aria/tag/docs/useTagGroup.mdx
  packages/@react-spectrum/tag/docs/TagGroup.mdx
Labels: release

#4507 Add docs for TagGroup empty state
  packages/@react-spectrum/tag/docs/TagGroup.mdx
Labels: release

#4549 Release notes May
  packages/dev/docs/pages/releases/2023-05-24.mdx
Labels: release

#4490 (DNM) Remove prerelease badge from Table resizing
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-spectrum/list/docs/ListView.mdx
  packages/@react-spectrum/table/docs/TableView.mdx
Labels: release

#4318 Add TableView DnD docs
  packages/@react-spectrum/dnd/docs/dnd.mdx
  packages/@react-spectrum/table/docs/TableView.mdx
Labels: release

#4481 (DNM) Add docs for custom drag previews
  packages/@react-spectrum/list/docs/ListView.mdx
Labels: documentation, small review, release

#4555 Update Select and ComboBox docs with updated renderProps
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/Select.mdx
Labels: small review, release, ready for review

#4508 Add TagGroup anatomy illustrations to index pages in docs
  packages/dev/docs/pages/assets/component-illustrations/TagGroup.svg
  packages/dev/docs/pages/react-aria/index.mdx
  packages/dev/docs/pages/react-spectrum/index.mdx
Labels: release

#4552 Disabling hidden select if select is disabled
  packages/@react-aria/select/docs/useSelect.mdx
Labels: small review, ready for review

#4593 Fixes for Inline Alert
  packages/@react-spectrum/inlinealert/chromatic/InlineAlert.chromatic.tsx
Labels: small review

#4598 Update weekStartData.ts
  packages/@internationalized/date/src/weekStartData.ts
Labels: small review

#3749 Ensure scrollable is set before onTouchMove
  packages/@react-aria/overlays/src/usePreventScroll.ts
  packages/@react-aria/overlays/stories/usePreventScroll.stories.tsx
Labels: small review

#4596 Fix broken link in internationalized date readme
  packages/@internationalized/date/README.md
Labels: small review

#4319 fix(#4317): LabeledValue: ContextualHelp button should be labeled by the label
  packages/@react-spectrum/label/src/Field.tsx
Labels: bug, accessibility, small review, rsp:LabeledValue

#4109 fix(#4108): Picker: isLoading state should include "Loading..." in the element description
  packages/@react-spectrum/picker/src/Picker.tsx
  packages/@react-spectrum/picker/test/Picker.test.js
Labels: bug, rsp:Picker, accessibility, small review

#4191 fix(#4190): useLabels/useLabel consider reordering IDREFs so that aria-label comes before aria-labelledby
  packages/@react-aria/autocomplete/test/useSearchAutocomplete.test.js
  packages/@react-aria/combobox/test/useComboBox.test.js
  packages/@react-aria/datepicker/src/useDateField.ts
  packages/@react-aria/datepicker/src/useDatePicker.ts
  packages/@react-aria/datepicker/src/useDateRangePicker.ts
  packages/@react-aria/datepicker/src/useDateSegment.ts
  packages/@react-aria/label/src/useLabel.ts
  packages/@react-aria/label/test/useLabel.test.js
  packages/@react-aria/overlays/test/DismissButton.test.tsx
  packages/@react-aria/select/src/useSelect.ts
  packages/@react-aria/slider/test/useSliderThumb.test.js
  packages/@react-aria/utils/src/useLabels.ts
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-spectrum/calendar/test/CalendarBase.test.js
  packages/@react-spectrum/color/test/ColorArea.test.tsx
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/datepicker/test/DateField.test.js
  packages/@react-spectrum/datepicker/test/DatePicker.test.js
  packages/@react-spectrum/datepicker/test/DateRangePicker.test.js
  packages/@react-spectrum/picker/test/Picker.test.js
  packages/@react-spectrum/searchwithin/test/SearchWithin.test.js
  packages/@react-spectrum/slider/test/RangeSlider.test.tsx
  packages/@react-spectrum/tabs/test/Tabs.test.js
  packages/react-aria-components/test/Select.test.js
Labels: enhancement, accessibility
