Repository adobe/react-spectrum, pull requests merged in 2024-10, with the labels that each got.

#7099 Release notes for S2 v0.4.0
  .storybook-s2/docs/Release Notes.mdx
Labels: release

#7101 September v3 Release Notes
  packages/dev/docs/pages/releases/2024-09-30.mdx
  scripts/changelog.js
Labels: release

#6770 feat: Lint pr titles
  .github/workflows/lint-pr-titles.yaml
Labels: tech/dev/garage week

#7166 docs(RAC): add tailwind starter for Disclosure and DisclosureGroup
  starters/tailwind/src/Disclosure.tsx
  starters/tailwind/stories/Disclosure.stories.tsx
  starters/tailwind/stories/DisclosureGroup.stories.tsx
Labels: in sprint

#7165 docs: update accordion, disclosure, disclosure group docs
  packages/@react-spectrum/accordion/docs/Accordion.mdx
  packages/@react-spectrum/accordion/docs/Disclosure.mdx
  packages/dev/docs/pages/assets/component-illustrations/Disclosure.svg
  packages/dev/docs/pages/assets/component-illustrations/DisclosureGroup.svg
  packages/dev/docs/pages/react-aria/components.mdx
  packages/dev/docs/pages/react-spectrum/index.mdx
  packages/react-aria-components/docs/Disclosure.mdx
  packages/react-aria-components/docs/DisclosureAnatomy.svg
  packages/react-aria-components/docs/DisclosureGroup.mdx
  packages/react-aria-components/docs/DisclosureGroupAnatomy.svg
  packages/react-aria-components/src/Disclosure.tsx
Labels: in sprint

#7201 chore: Update linting
  .circleci/config.yml
  .eslintignore
  .eslintrc.js
  bin/pure-render.js
  bin/useLayoutEffectRule.js
  eslint.config.mjs
  package.json
  packages/@internationalized/number/src/NumberFormatter.ts
  packages/@internationalized/number/test/numberFormatSignDisplayPolyfill.test.js
  packages/@react-aria/collections/src/useCachedChildren.ts
  packages/@react-aria/datepicker/src/useDisplayNames.ts
  packages/@react-aria/dnd/src/useDrag.ts
  packages/@react-aria/dnd/src/useDroppableCollection.ts
  packages/@react-aria/dnd/src/utils.ts
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/i18n/src/useDefaultLocale.ts
  packages/@react-aria/interactions/src/textSelection.ts
  packages/@react-aria/interactions/src/usePress.ts
  packages/@react-aria/interactions/src/utils.ts
  packages/@react-aria/spinbutton/src/useSpinButton.ts
  packages/@react-aria/utils/src/focusWithoutScrolling.ts
  packages/@react-aria/utils/src/mergeProps.ts
  packages/@react-aria/utils/src/useGlobalListeners.ts
  packages/@react-aria/utils/src/useLoadMore.ts
  packages/@react-aria/virtualizer/src/ScrollView.tsx
  packages/@react-aria/virtualizer/src/Virtualizer.tsx
  packages/@react-spectrum/autocomplete/src/MobileSearchAutocomplete.tsx
  packages/@react-spectrum/autocomplete/src/SearchAutocomplete.tsx
  packages/@react-spectrum/datepicker/test/DatePicker.test.js
  packages/@react-spectrum/datepicker/test/DateRangePicker.test.js
  packages/@react-spectrum/dialog/src/DialogTrigger.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  packages/@react-spectrum/s2/src/types.ts
  packages/@react-spectrum/table/src/Resizer.tsx
  packages/@react-spectrum/table/src/TableViewBase.tsx
  packages/@react-spectrum/toast/src/ToastContainer.tsx
  packages/@react-stately/color/src/useColor.ts
  packages/@react-stately/color/src/useColorFieldState.ts
  packages/@react-stately/datepicker/src/useDateRangePickerState.ts
  packages/@react-stately/tooltip/src/useTooltipTriggerState.ts
  packages/dev/docs/pages/react-aria/home/I18n.tsx
  packages/dev/docs/pages/react-aria/home/SwitchAnimation.tsx
  packages/dev/docs/pages/react-aria/home/utils.ts
  packages/dev/eslint-plugin-rsp-rules/index.js
  packages/dev/eslint-plugin-rsp-rules/package.json
  packages/dev/eslint-plugin-rsp-rules/rules/act-events-test.js
  packages/dev/eslint-plugin-rsp-rules/rules/no-getByRole-toThrow.js
  packages/dev/eslint-plugin-rsp-rules/rules/no-react-key.js
  packages/dev/eslint-plugin-rsp-rules/rules/sort-imports.js
  packages/dev/eslint-plugin-rsp-rules/test/no-react-key.test-lint.js
  packages/dev/eslint-plugin-rsp-rules/test/sort-imports.test-lint.js
  packages/dev/parcel-transformer-mdx-extract/MDXExtractTransformer.mjs
  packages/dev/parcel-transformer-mdx-extract/package.json
  packages/dev/parcel-transformer-mdx-storybook/StorybookMDXTransformer.mjs
  packages/dev/parcel-transformer-mdx-storybook/package.json
  packages/dev/parcel-transformer-react-docgen-typescript/ReactDocgenTSTransformer.ts
  packages/dev/test-utils/src/testSSR.js
  yarn.lock
Labels: tech/dev/garage week

#7011 feat: Reusable tests
  __mocks__/svg.js
  jest.config.js
  packages/@react-aria/test-utils/src/combobox.ts
  packages/@react-aria/test-utils/src/gridlist.ts
  packages/@react-aria/test-utils/src/menu.ts
  packages/@react-aria/test-utils/src/select.ts
  packages/@react-aria/test-utils/src/table.ts
  packages/@react-aria/test-utils/src/user.ts
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  packages/@react-spectrum/menu/test/SubMenuTrigger.test.tsx
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/test/Menu.test.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/test/AriaMenu.test-util.tsx
  packages/react-aria-components/test/Menu.test.tsx
  yarn.lock
Labels: in sprint

#7296 chore: add accordion to v3 example apps
  examples/rsp-cra-18/package.json
  examples/rsp-cra-18/src/sections/ColorExamples.tsx
  examples/rsp-cra-18/src/sections/NavigationExamples.tsx
  examples/rsp-next-ts-17/package.json
  examples/rsp-next-ts-17/pages/index.tsx
  examples/rsp-next-ts/package.json
  examples/rsp-next-ts/pages/index.tsx
Labels: in sprint

#7295 fix: miscellaneous s2 bug fixes
  packages/@react-spectrum/s2/src/ActionButton.tsx
  packages/@react-spectrum/s2/src/DropZone.tsx
  packages/@react-spectrum/s2/src/Radio.tsx
  packages/@react-spectrum/s2/src/StatusLight.tsx
Labels: in sprint
