Repository adobe/react-spectrum, pull requests merged in 2024-01, with the labels that each got.

#5592 fix width overflow issue in quiet picker
  packages/@react-spectrum/picker/src/Picker.tsx
  packages/@react-spectrum/picker/stories/Picker.stories.tsx
Labels: needs testing

#5622 #5621 [a11y] ResizableTableContainer: focused row obscured by table header with position: sticky
  examples/rac-tailwind/src/App.js
  packages/dev/docs/pages/react-aria/home/ExampleApp.tsx
  packages/react-aria-components/docs/examples/contact-list.mdx
  packages/react-aria-components/docs/examples/stock-table.mdx
  starters/tailwind/src/Table.tsx
Labels: bug, documentation, accessibility, RAC

#5705 fix(#5691): [WHCM] ActionButton restore border for isQuiet and isQuiet + isDisabled states
  packages/@adobe/spectrum-css-temp/components/button/skin.css
Labels: bug, rsp:ActionButton, WHCM

#5755 fix(#5747): [react-aira: RadioGroup]: No tabindex/Can't keyboard focus to input until value is checked
  packages/react-aria-components/docs/RadioGroup.mdx
Labels: documentation, accessibility
