Repository adobe/react-spectrum, pull requests merged in 2024-08, with the labels that each got.

#6882 Add docs for S2 illustrations
  .storybook-s2/docs/Illustrations.jsx
  .storybook-s2/docs/Illustrations.mdx
  .storybook-s2/preview.tsx
  packages/dev/parcel-transformer-icon/IconTransformer.js
Labels: release

#6833 Conditionally render field label only if label is provided
  packages/@react-spectrum/s2/src/Field.tsx
  packages/@react-spectrum/s2/src/Meter.tsx
  packages/@react-spectrum/s2/src/ProgressBar.tsx
  packages/@react-spectrum/s2/stories/Form.stories.tsx
Labels: release

#6878 S2 Translations
  .storybook-s2/constants.js
  .storybook-s2/custom-addons/provider/index.js
  .storybook-s2/custom-addons/provider/register.js
  .storybook-s2/main.ts
  .storybook-s2/preview.tsx
  packages/@react-spectrum/s2/intl/ar-AE.json
  packages/@react-spectrum/s2/intl/bg-BG.json
  packages/@react-spectrum/s2/intl/cs-CZ.json
  packages/@react-spectrum/s2/intl/da-DK.json
  packages/@react-spectrum/s2/intl/de-DE.json
  packages/@react-spectrum/s2/intl/el-GR.json
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/intl/es-ES.json
  packages/@react-spectrum/s2/intl/et-EE.json
  packages/@react-spectrum/s2/intl/fi-FI.json
  packages/@react-spectrum/s2/intl/fr-FR.json
  packages/@react-spectrum/s2/intl/he-IL.json
  packages/@react-spectrum/s2/intl/hr-HR.json
  packages/@react-spectrum/s2/intl/hu-HU.json
  packages/@react-spectrum/s2/intl/it-IT.json
  packages/@react-spectrum/s2/intl/ja-JP.json
  packages/@react-spectrum/s2/intl/ko-KR.json
  packages/@react-spectrum/s2/intl/lt-LT.json
  packages/@react-spectrum/s2/intl/lv-LV.json
  packages/@react-spectrum/s2/intl/nb-NO.json
  packages/@react-spectrum/s2/intl/nl-NL.json
  packages/@react-spectrum/s2/intl/pl-PL.json
  packages/@react-spectrum/s2/intl/pt-BR.json
  packages/@react-spectrum/s2/intl/pt-PT.json
  packages/@react-spectrum/s2/intl/ro-RO.json
  packages/@react-spectrum/s2/intl/ru-RU.json
  packages/@react-spectrum/s2/intl/sk-SK.json
  packages/@react-spectrum/s2/intl/sl-SI.json
  packages/@react-spectrum/s2/intl/sr-SP.json
  packages/@react-spectrum/s2/intl/sv-SE.json
  packages/@react-spectrum/s2/intl/tr-TR.json
  packages/@react-spectrum/s2/intl/uk-UA.json
  packages/@react-spectrum/s2/intl/zh-CN.json
  packages/@react-spectrum/s2/intl/zh-TW.json
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/ActionMenu.tsx
  packages/@react-spectrum/s2/src/AlertDialog.tsx
  packages/@react-spectrum/s2/src/Breadcrumbs.tsx
  packages/@react-spectrum/s2/src/ContextualHelp.tsx
  packages/@react-spectrum/s2/src/Dialog.tsx
  packages/@react-spectrum/s2/src/DropZone.tsx
  packages/@react-spectrum/s2/src/Field.tsx
  packages/@react-spectrum/s2/src/InlineAlert.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/RangeSlider.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/s2/stories/TagGroup.stories.tsx
  scripts/buildI18n.js
  scripts/migrateIntl.mjs
  yarn.config.cjs
Labels: release

#6779 S2 tabs
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/Tabs.stories.tsx
Labels: release

#6875 Adding more S2 ContextualHelp examples
  packages/@react-spectrum/s2/src/NumberField.tsx
  packages/@react-spectrum/s2/stories/CheckboxGroup.stories.tsx
  packages/@react-spectrum/s2/stories/ColorField.stories.tsx
  packages/@react-spectrum/s2/stories/NumberField.stories.tsx
  packages/@react-spectrum/s2/stories/Picker.stories.tsx
  packages/@react-spectrum/s2/stories/RadioGroup.stories.tsx
  packages/@react-spectrum/s2/stories/SearchField.stories.tsx
  packages/@react-spectrum/s2/stories/TagGroup.stories.tsx
Labels: release

#6781 S2 AvatarGroup
  packages/@react-spectrum/s2/src/Avatar.tsx
  packages/@react-spectrum/s2/src/AvatarGroup.tsx
  packages/@react-spectrum/s2/src/Modal.tsx
  packages/@react-spectrum/s2/src/Popover.tsx
  packages/@react-spectrum/s2/src/Provider.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/src/page.macro.ts
  packages/@react-spectrum/s2/src/style-utils.ts
  packages/@react-spectrum/s2/stories/Avatar.stories.tsx
  packages/@react-spectrum/s2/stories/AvatarGroup.stories.tsx
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/avatar.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/avatar.test.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/changes.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/styleProps.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/transforms.ts
Labels: release

#6795 S2 taggroup collapse
  .storybook-s2/custom-addons/provider/register.js
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/Breadcrumbs.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/s2/src/Tooltip.tsx
  packages/@react-spectrum/s2/stories/TagGroup.stories.tsx
  yarn.lock
Labels: release

#6887 Update codemod and migration docs with latest changes
  .storybook-s2/docs/Migrating.jsx
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/numberfield.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/taggroup.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/numberfield.test.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/changes.ts
Labels: release

#6890 Translations for TagGroup
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-aria/tabs/src/TabsKeyboardDelegate.ts
  packages/@react-spectrum/s2/intl/ar-AE.json
  packages/@react-spectrum/s2/intl/bg-BG.json
  packages/@react-spectrum/s2/intl/cs-CZ.json
  packages/@react-spectrum/s2/intl/da-DK.json
  packages/@react-spectrum/s2/intl/de-DE.json
  packages/@react-spectrum/s2/intl/el-GR.json
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/intl/es-ES.json
  packages/@react-spectrum/s2/intl/et-EE.json
  packages/@react-spectrum/s2/intl/fi-FI.json
  packages/@react-spectrum/s2/intl/fr-FR.json
  packages/@react-spectrum/s2/intl/he-IL.json
  packages/@react-spectrum/s2/intl/hr-HR.json
  packages/@react-spectrum/s2/intl/hu-HU.json
  packages/@react-spectrum/s2/intl/it-IT.json
  packages/@react-spectrum/s2/intl/ja-JP.json
  packages/@react-spectrum/s2/intl/ko-KR.json
  packages/@react-spectrum/s2/intl/lt-LT.json
  packages/@react-spectrum/s2/intl/lv-LV.json
  packages/@react-spectrum/s2/intl/nb-NO.json
  packages/@react-spectrum/s2/intl/nl-NL.json
  packages/@react-spectrum/s2/intl/pl-PL.json
  packages/@react-spectrum/s2/intl/pt-BR.json
  packages/@react-spectrum/s2/intl/pt-PT.json
  packages/@react-spectrum/s2/intl/ro-RO.json
  packages/@react-spectrum/s2/intl/ru-RU.json
  packages/@react-spectrum/s2/intl/sk-SK.json
  packages/@react-spectrum/s2/intl/sl-SI.json
  packages/@react-spectrum/s2/intl/sr-SP.json
  packages/@react-spectrum/s2/intl/sv-SE.json
  packages/@react-spectrum/s2/intl/tr-TR.json
  packages/@react-spectrum/s2/intl/uk-UA.json
  packages/@react-spectrum/s2/intl/zh-CN.json
  packages/@react-spectrum/s2/intl/zh-TW.json
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/tabs/test/Tabs.test.js
  packages/@react-stately/toggle/src/useToggleState.ts
  packages/@react-types/checkbox/src/index.d.ts
  scripts/migrateIntl.mjs
Labels: release

#6881 Setup S2 release notes
  .storybook-s2/docs/Icons.jsx
  .storybook-s2/docs/Illustrations.jsx
  .storybook-s2/docs/Intro.jsx
  .storybook-s2/docs/MDXLayout.jsx
  .storybook-s2/docs/Migrating.jsx
  .storybook-s2/docs/Release Notes.mdx
  .storybook-s2/docs/Release030Intro.jsx
  .storybook-s2/docs/typography.js
  .storybook-s2/preview.tsx
  packages/@react-spectrum/picker/intl/en-US.json
  packages/@react-spectrum/picker/test/Picker.test.js
  packages/@react-spectrum/s2/api-diff.md
  packages/@react-spectrum/s2/stories/Tabs.stories.tsx
  packages/@react-spectrum/table/src/TableViewWrapper.tsx
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-spectrum/tabs/test/Tabs.test.js
  packages/@react-stately/collections/src/CollectionBuilder.ts
  scripts/api-diff.js
  scripts/diff.js
Labels: release

#6903 Codemod: don't affect Items in unimplemented collection components
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/multi-collection.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/multi-collection.test.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/transforms.ts
Labels: release

#6857 fix(docs): cleanup warnings in docs
  packages/@react-aria/color/docs/useColorField.mdx
  packages/@react-aria/dnd/docs/useDraggableCollection.mdx
  packages/@react-aria/dnd/docs/useDroppableCollection.mdx
  packages/@react-aria/gridlist/docs/useGridList.mdx
  packages/@react-spectrum/avatar/docs/Avatar.mdx
  packages/@react-spectrum/combobox/src/ComboBox.tsx
  packages/@react-spectrum/table/docs/TableView.mdx
  packages/@react-spectrum/tabs/docs/Tabs.mdx
Labels: blocked

#6744 docs(RSP): add TreeView docs
  packages/@react-spectrum/tree/docs/TreeView.mdx
Labels: in sprint

#6863 Maintain Table row interactive states if interactive and prevent visually disabled state if non-interactive and disabled
  packages/@react-spectrum/list/stories/ListView.stories.tsx
  packages/@react-spectrum/list/stories/ListViewDnD.stories.tsx
  packages/@react-spectrum/table/src/TableViewBase.tsx
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-spectrum/table/test/TableDnd.test.js
Labels: in sprint

#6918 feat: add rounded edges and side label to S2 progress bar
  packages/@react-spectrum/s2/src/Meter.tsx
  packages/@react-spectrum/s2/src/ProgressBar.tsx
  packages/@react-spectrum/s2/src/bar-utils.ts
Labels: in sprint

#6898 feat: add subtle and outline fill to s2 badge
  packages/@react-spectrum/s2/src/Badge.tsx
Labels: in sprint

#6921 Fix lint job on CI
  .circleci/config.yml
  package.json
  packages/@react-spectrum/s2/src/AvatarGroup.tsx
  packages/@react-spectrum/s2/src/Badge.tsx
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/bar-utils.ts
  packages/react-aria-components/src/FieldError.tsx
Labels: in sprint

#6968 fix: Select when label is numeric 0
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/test/Select.test.js
Labels: small review

#6948 bump: update s2 tokens to v46
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/style/spectrum-theme.ts
  packages/dev/parcel-transformer-s2-icon/package.json
  yarn.lock
Labels: in sprint

#6892 Breadcrumb collapse
  packages/@react-spectrum/s2/src/Breadcrumbs.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/s2/stories/Breadcrumbs.stories.tsx
  packages/react-aria-components/src/Breadcrumbs.tsx
  packages/react-aria-components/src/Link.tsx
  packages/react-aria-components/stories/Breadcrumbs.stories.tsx
Labels: in sprint

#6435 RAC Pending Button
  packages/@react-aria/live-announcer/src/LiveAnnouncer.tsx
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-spectrum/color/test/ColorPicker.test.js
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/provider/test/Provider.test.tsx
  packages/react-aria-components/docs/Button.mdx
  packages/react-aria-components/package.json
  packages/react-aria-components/src/Button.tsx
  packages/react-aria-components/src/ToggleButton.tsx
  packages/react-aria-components/stories/Button.stories.tsx
  packages/react-aria-components/stories/button-pending.css
  packages/react-aria-components/test/Button.test.js
  yarn.lock
Labels: in sprint
