Repository adobe/react-spectrum, pull requests merged in 2024-09, with the labels that each got.

#6975 Yarn publish nightlies and verdaccio
  .circleci/config.yml
  Makefile
  package.json
  scripts/verdaccio.sh
Labels: in sprint

#6979 Label breadcrumb collapse menu
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/src/Breadcrumbs.tsx
  packages/react-aria-components/src/Breadcrumbs.tsx
  scripts/migrateIntl.mjs
Labels: needs translations

#6545 Fix Tree row padding when chevron isn't present
  packages/@react-spectrum/tree/chromatic-fc/TreeView.stories.tsx
  packages/@react-spectrum/tree/chromatic/TreeView.stories.tsx
  packages/@react-spectrum/tree/src/TreeView.tsx
  packages/@react-spectrum/tree/stories/TreeView.stories.tsx
Labels: in sprint

#7018 Fix icon builder dependencies
  packages/dev/parcel-transformer-s2-icon/package.json
  yarn.lock
Labels: small review

#7029 Use content hashes in CSS modules
  package.json
  yarn.lock
Labels: small review, in sprint

#7030 Improve shift selection and responsive layout in S2 CardView
  packages/@react-spectrum/s2/src/Card.tsx
  packages/@react-spectrum/s2/src/CardView.tsx
  packages/@react-spectrum/s2/stories/CardView.stories.tsx
  packages/@react-stately/list/src/useListState.ts
  packages/@react-stately/selection/src/SelectionManager.ts
  packages/@react-types/shared/src/collections.d.ts
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Virtualizer.tsx
Labels: in sprint

#7053 S2 Card updates
  packages/@react-spectrum/s2/src/Card.tsx
  packages/@react-spectrum/s2/src/CardView.tsx
Labels: release

#6864 Segmented control
  packages/@react-spectrum/s2/src/SegmentedControl.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/SegmentedControl.stories.tsx
Labels: in sprint

#7073 Fix pending animation docs safari
  packages/react-aria-components/docs/Button.mdx
Labels: release

#7085 fix(Card): fix undefined id in Card
  packages/@react-spectrum/s2/src/Card.tsx
Labels: release

#7079 fix selection with falsy keys
  packages/@react-stately/selection/src/Selection.ts
  packages/@react-stately/selection/src/SelectionManager.ts
  packages/react-aria-components/test/ListBox.test.js
Labels: release

#7027 add all S2 components to example apps
  .circleci/comment.js
  examples/s2-parcel-example/.gitignore
  examples/s2-parcel-example/.yarn/releases/yarn-4.2.2.cjs
  examples/s2-parcel-example/.yarnrc.yml
  examples/s2-parcel-example/package.json
  examples/s2-parcel-example/src/App.js
  examples/s2-parcel-example/src/components/Section.jsx
  examples/s2-parcel-example/src/index.html
  examples/s2-parcel-example/yarn.lock
  examples/s2-webpack-5-example/.gitignore
  examples/s2-webpack-5-example/.yarn/releases/yarn-4.2.2.cjs
  examples/s2-webpack-5-example/.yarnrc.yml
  examples/s2-webpack-5-example/package.json
  examples/s2-webpack-5-example/src/App.js
  examples/s2-webpack-5-example/src/components/Section.js
  examples/s2-webpack-5-example/src/index.html
  examples/s2-webpack-5-example/src/index.js
  examples/s2-webpack-5-example/yarn.lock
  packages/@react-spectrum/s2/package.json
  scripts/verdaccio.sh
Labels: release

#7086 Fix Picker and ComboBox press state, Table types + docs
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/Table.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/Table.stories.tsx
Labels: release

#7094 Audit fix: Remove hover props from s2
  packages/@react-spectrum/s2/src/Card.tsx
  packages/@react-spectrum/s2/src/Table.tsx
Labels: release

#7097 Rename SegmentedControl props to match selection APIs
  packages/@react-spectrum/s2/chromatic/SegmentedControl.stories.tsx
  packages/@react-spectrum/s2/src/SegmentedControl.tsx
  packages/@react-spectrum/s2/stories/SegmentedControl.stories.tsx
Labels: release

#7096 fix+tests: fix Disclosure bugs and add tests
  packages/@react-aria/disclosure/src/useDisclosure.ts
  packages/@react-aria/disclosure/test/useDisclosure.test.ts
  packages/@react-stately/disclosure/test/useDisclosureGroupState.test.ts
  packages/@react-stately/disclosure/test/useDisclosureState.test.ts
  packages/react-aria-components/src/Disclosure.tsx
  packages/react-aria-components/test/Disclosure.test.js
Labels: release
