Repository adobe/react-spectrum, pull requests merged in 2025-04, with the labels that each got.

#8000 chore: Fix generated code sample for S2 TooltipTrigger docs
  packages/@react-spectrum/s2/stories/Tooltip.stories.tsx
Labels: small review, release

#7976 chore: Deprecate UNSTABLE_portalContainer in favor for PortalProvider
  packages/@react-aria/overlays/docs/PortalProvider.mdx
  packages/@react-aria/overlays/src/Overlay.tsx
  packages/@react-aria/overlays/src/PortalProvider.tsx
  packages/@react-aria/overlays/src/index.ts
  packages/@react-aria/overlays/src/useModal.tsx
  packages/@react-spectrum/dialog/test/DialogContainer.test.js
  packages/@react-spectrum/dialog/test/DialogTrigger.test.js
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  packages/@react-spectrum/table/src/Resizer.tsx
  packages/@react-spectrum/table/test/TableSizing.test.tsx
  packages/@react-spectrum/toast/src/Toaster.tsx
  packages/@react-spectrum/toast/stories/Toast.stories.tsx
  packages/@react-spectrum/tooltip/test/TooltipTrigger.test.js
  packages/react-aria-components/package.json
  packages/react-aria-components/src/Modal.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/src/Toast.tsx
  packages/react-aria-components/src/Tooltip.tsx
  packages/react-aria-components/test/Dialog.test.js
  packages/react-aria-components/test/Menu.test.tsx
  packages/react-aria-components/test/Popover.test.js
  packages/react-aria-components/test/Toast.test.js
  packages/react-aria-components/test/Tooltip.test.js
  yarn.lock
Labels: release, in sprint

#7974 feat: Add escapeKeyBehavior to GridList/ListBox/Menu/Table/Tree
  packages/@react-aria/grid/src/useGrid.ts
  packages/@react-aria/gridlist/src/useGridList.ts
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-spectrum/listbox/test/ListBox.test.js
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-spectrum/tree/test/TreeView.test.tsx
  packages/@react-types/listbox/src/index.d.ts
  packages/@react-types/menu/src/index.d.ts
  packages/@react-types/table/src/index.d.ts
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/stories/ListBox.stories.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Autocomplete.test.tsx
  packages/react-aria-components/test/GridList.test.js
  packages/react-aria-components/test/ListBox.test.js
  packages/react-aria-components/test/Menu.test.tsx
  packages/react-aria-components/test/Table.test.js
  packages/react-aria-components/test/Tree.test.tsx
Labels: release, in sprint

#8043 fix: minor typo in CalendarDate docs
  packages/@internationalized/date/docs/CalendarDate.mdx
Labels: small review

#7888 chore: Update typescript to 5.8
  .yarn/patches/@types-node-npm-20.14.13-41f92d384c.patch
  lib/viewTransitions.d.ts
  package.json
  packages/@react-aria/dnd/src/useDroppableCollection.ts
  packages/@react-aria/grid/src/useGridSelectionAnnouncement.ts
  packages/@react-spectrum/calendar/stories/Calendar.stories.tsx
  packages/@react-spectrum/datepicker/stories/DateField.stories.tsx
  packages/@react-spectrum/datepicker/stories/DatePicker.stories.tsx
  packages/@react-spectrum/datepicker/stories/DateRangePicker.stories.tsx
  packages/@react-spectrum/form/stories/Form.stories.tsx
  packages/@react-spectrum/s2/src/Breadcrumbs.tsx
  packages/@react-spectrum/s2/src/CloseButton.tsx
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/NumberField.tsx
  packages/@react-spectrum/s2/src/SegmentedControl.tsx
  packages/@react-spectrum/s2/src/Slider.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/TabsPicker.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/s2/style/spectrum-theme.ts
  packages/@react-spectrum/steplist/stories/StepList.stories.tsx
  packages/@react-spectrum/tabs/src/Tabs.tsx
  packages/@react-spectrum/tabs/stories/Tabs.stories.tsx
  packages/@react-stately/disclosure/src/useDisclosureGroupState.ts
  packages/@react-stately/tabs/src/useTabListState.ts
  packages/@react-types/shared/src/selection.d.ts
  packages/@react-types/tabs/src/index.d.ts
  packages/dev/codemods/package.json
  packages/dev/docs/pages/react-aria/home/A11y.tsx
  packages/react-aria-components/docs/Checkbox.mdx
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/TagGroup.mdx
  packages/react-aria-components/docs/Tree.mdx
  scripts/extractExamples.mjs
  tsconfig.json
  yarn.lock
Labels: in sprint

#8047 fix: Apply touch-action by default in usePress
  packages/@react-aria/interactions/src/usePress.ts
  packages/@react-aria/interactions/stories/usePress.stories.tsx
  packages/@react-aria/selection/src/useSelectableItem.ts
Labels: release

#7686 fix: Support React 19 and remove Jest reliance in test utils
  package.json
  packages/@react-aria/test-utils/package.json
  packages/@react-aria/test-utils/src/events.ts
  packages/@react-aria/test-utils/src/gridlist.ts
  packages/@react-aria/test-utils/src/listbox.ts
  packages/@react-aria/test-utils/src/menu.ts
  packages/@react-aria/test-utils/src/tree.ts
  packages/@react-aria/test-utils/src/types.ts
  packages/@react-aria/test-utils/src/user.ts
  packages/@react-spectrum/combobox/docs/ComboBox.mdx
  packages/@react-spectrum/list/docs/ListView.mdx
  packages/@react-spectrum/listbox/docs/ListBox.mdx
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
  packages/@react-spectrum/picker/docs/Picker.mdx
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/table/docs/TableView.mdx
  packages/@react-spectrum/table/test/TestTableUtils.test.tsx
  packages/@react-spectrum/tabs/docs/Tabs.mdx
  packages/@react-spectrum/test-utils/package.json
  packages/@react-spectrum/tree/docs/TreeView.mdx
  packages/dev/docs/pages/react-aria/testing.mdx
  packages/dev/docs/pages/react-spectrum/testing.mdx
  packages/dev/test-utils/package.json
  packages/react-aria-components/test/AriaMenu.test-util.tsx
  packages/react-aria-components/test/Menu.test.tsx
  yarn.lock
Labels: release

#8055 fix: add static color to s2 notification badge
  packages/@react-spectrum/s2/src/ActionButton.tsx
  packages/@react-spectrum/s2/src/NotificationBadge.tsx
Labels: release, in sprint

#8006 Refactor: Disclosure button label size update to match new sizes from Spectrum
  packages/@react-spectrum/s2/src/Disclosure.tsx
Labels: release

#7975 feat: S2 toast
  .storybook-s2/preview.tsx
  lib/viewTransitions.d.ts
  package.json
  packages/@react-spectrum/s2/intl/ar-AE.json
  packages/@react-spectrum/s2/intl/bg-BG.json
  packages/@react-spectrum/s2/intl/cs-CZ.json
  packages/@react-spectrum/s2/intl/da-DK.json
  packages/@react-spectrum/s2/intl/de-DE.json
  packages/@react-spectrum/s2/intl/el-GR.json
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/intl/es-ES.json
  packages/@react-spectrum/s2/intl/et-EE.json
  packages/@react-spectrum/s2/intl/fi-FI.json
  packages/@react-spectrum/s2/intl/fr-FR.json
  packages/@react-spectrum/s2/intl/he-IL.json
  packages/@react-spectrum/s2/intl/hr-HR.json
  packages/@react-spectrum/s2/intl/hu-HU.json
  packages/@react-spectrum/s2/intl/it-IT.json
  packages/@react-spectrum/s2/intl/ja-JP.json
  packages/@react-spectrum/s2/intl/ko-KR.json
  packages/@react-spectrum/s2/intl/lt-LT.json
  packages/@react-spectrum/s2/intl/lv-LV.json
  packages/@react-spectrum/s2/intl/nb-NO.json
  packages/@react-spectrum/s2/intl/nl-NL.json
  packages/@react-spectrum/s2/intl/pl-PL.json
  packages/@react-spectrum/s2/intl/pt-BR.json
  packages/@react-spectrum/s2/intl/pt-PT.json
  packages/@react-spectrum/s2/intl/ro-RO.json
  packages/@react-spectrum/s2/intl/ru-RU.json
  packages/@react-spectrum/s2/intl/sk-SK.json
  packages/@react-spectrum/s2/intl/sl-SI.json
  packages/@react-spectrum/s2/intl/sr-SP.json
  packages/@react-spectrum/s2/intl/sv-SE.json
  packages/@react-spectrum/s2/intl/tr-TR.json
  packages/@react-spectrum/s2/intl/uk-UA.json
  packages/@react-spectrum/s2/intl/zh-CN.json
  packages/@react-spectrum/s2/intl/zh-TW.json
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/Toast.module.css
  packages/@react-spectrum/s2/src/Toast.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/Toast.stories.tsx
  packages/@react-stately/toast/src/useToastState.ts
  packages/react-aria-components/src/Toast.tsx
  packages/react-aria-components/src/index.ts
  yarn.lock
Labels: release

#8062 docs: April release notes
  .storybook-s2/docs/Release Notes.mdx
  packages/@react-spectrum/s2/stories/NotificationBadge.stories.tsx
  packages/dev/docs/pages/releases/2025-04-14.mdx
Labels: release

#8001 Fix: circular dependency in @internationalized/date
  packages/@internationalized/date/src/utils.ts
Labels: small review

#8004 fix: fixes a bug with runAfterTransition getting stuck when elements are removed
  packages/@react-aria/utils/src/runAfterTransition.ts
  packages/@react-aria/utils/test/runAfterTransition.test.ts
Labels: small review

#7927 fix: Uncaught Error: document is not defined for SSR (#7926)
  packages/@react-aria/interactions/src/useFocusVisible.ts
Labels: small review

#7758 feat: Support Ref Cleanup
  packages/@react-aria/utils/src/mergeRefs.ts
  packages/@react-aria/utils/src/useObjectRef.ts
  packages/@react-aria/utils/test/mergeRefs.test.tsx
  packages/@react-aria/utils/test/useObjectRef.test.js
Labels: ready for review

#7922 Feat: add shouldSelectOnPressUp prop to collection components
  packages/@react-aria/grid/src/useGrid.ts
  packages/@react-aria/grid/src/useGridRow.ts
  packages/@react-aria/grid/src/utils.ts
  packages/@react-aria/gridlist/src/useGridList.ts
  packages/@react-aria/gridlist/src/useGridListItem.ts
  packages/@react-aria/gridlist/src/utils.ts
  packages/@react-aria/listbox/src/useListBox.ts
  packages/@react-aria/tag/src/useTagGroup.ts
  packages/@react-types/listbox/src/index.d.ts
  packages/@react-types/table/src/index.d.ts
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/test/GridList.test.js
  packages/react-aria-components/test/ListBox.test.js
  packages/react-aria-components/test/Table.test.js
  packages/react-aria-components/test/TagGroup.test.js
  packages/react-aria-components/test/Tree.test.tsx
Labels: small review, ready for review

#7617 feat(table): S2 tableview custom column menu
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/stories/TableView.stories.tsx
Labels: in sprint

#7941 fix: documentation select placeholder default
  packages/react-aria-components/src/Select.tsx
Labels: small review, ready for review

#7590 feat(s2): coachmarks
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/CoachMark.tsx
  packages/@react-spectrum/s2/stories/CoachMark.stories.tsx
  packages/@react-spectrum/s2/test/CoachMark.test.tsx
  yarn.lock
Labels: in sprint
