Repository adobe/react-spectrum, pull requests merged in 2025-09, with the labels that each got.

#8494 fix: handle when process is undefined (e.g. vite project) so transitions still work
  packages/@react-spectrum/overlays/src/OpenTransition.tsx
Labels: ready for review

#8527 fix: S2 Prevented Tooltip text overflowing by default
  packages/@react-spectrum/s2/src/Tooltip.tsx
  packages/@react-spectrum/s2/style/spectrum-theme.ts
  packages/@react-spectrum/style-macro-s1/src/spectrum-theme.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/unsafeStyle.ts
Labels: small review, ready for review

#8845 fix: add @babel/runtime to @spectrum-icons/ui dependencies
  packages/@spectrum-icons/ui/package.json
  yarn.lock
Labels: ready for review

#8498 fix: Focus behaviour on inputs inside a FocusScope
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/interactions/src/focusSafely.ts
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/s2/stories/Dialog.stories.tsx
Labels: ready for review

#8877 fix: first day of week bcp 47 parsing in middle of other extensions
  packages/@internationalized/date/src/queries.ts
  packages/@internationalized/date/tests/queries.test.js
  packages/react-aria-components/stories/Calendar.stories.tsx
Labels: release, ready for review

#8892 fix: Fix collection dirty node tracking with suspense
  packages/@react-aria/collections/src/Document.ts
Labels: ready for review

#8888 fix: Improve behavior of modals on iOS 26
  packages/@adobe/spectrum-css-temp/components/tray/index.css
  packages/@adobe/spectrum-css-temp/components/underlay/index.css
  packages/@react-aria/dialog/docs/useDialog.mdx
  packages/@react-aria/overlays/docs/useModalOverlay.mdx
  packages/@react-aria/overlays/src/usePreventScroll.ts
  packages/@react-aria/utils/src/index.ts
  packages/@react-aria/utils/src/keyboard.tsx
  packages/@react-aria/utils/src/useViewportSize.ts
  packages/@react-spectrum/overlays/src/Tray.tsx
  packages/@react-spectrum/overlays/src/Underlay.tsx
  packages/@react-spectrum/s2/src/Dialog.tsx
  packages/@react-spectrum/s2/src/FullscreenDialog.tsx
  packages/@react-spectrum/s2/src/Modal.tsx
  packages/dev/docs/pages/react-aria/home/ExampleApp.tsx
  packages/dev/s2-docs/src/Layout.tsx
  packages/react-aria-components/docs/Modal.mdx
  packages/react-aria-components/docs/examples/command-palette.mdx
  packages/react-aria-components/docs/examples/destructive-dialog.mdx
  packages/react-aria-components/src/Modal.tsx
  starters/docs/src/Modal.css
  starters/docs/src/Sheet.css
  starters/tailwind/src/Modal.tsx
Labels: ready for review

#8893 fix: Dont display disclosure panel content if isDisabled and isExpanded=false
  packages/@react-aria/disclosure/src/useDisclosure.ts
  packages/react-aria-components/test/Disclosure.test.js
Labels: ready for review

#8895 chore: Revert "fix: Focus behaviour on inputs inside a FocusScope"
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/interactions/src/focusSafely.ts
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/s2/stories/Dialog.stories.tsx
Labels: release, ready for review

#8901 chore: Update Picker multi-select text
  packages/@react-spectrum/s2/intl/ar-AE.json
  packages/@react-spectrum/s2/intl/bg-BG.json
  packages/@react-spectrum/s2/intl/cs-CZ.json
  packages/@react-spectrum/s2/intl/da-DK.json
  packages/@react-spectrum/s2/intl/de-DE.json
  packages/@react-spectrum/s2/intl/el-GR.json
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/intl/es-ES.json
  packages/@react-spectrum/s2/intl/et-EE.json
  packages/@react-spectrum/s2/intl/fi-FI.json
  packages/@react-spectrum/s2/intl/fr-FR.json
  packages/@react-spectrum/s2/intl/he-IL.json
  packages/@react-spectrum/s2/intl/hr-HR.json
  packages/@react-spectrum/s2/intl/hu-HU.json
  packages/@react-spectrum/s2/intl/it-IT.json
  packages/@react-spectrum/s2/intl/ja-JP.json
  packages/@react-spectrum/s2/intl/ko-KR.json
  packages/@react-spectrum/s2/intl/lt-LT.json
  packages/@react-spectrum/s2/intl/lv-LV.json
  packages/@react-spectrum/s2/intl/nb-NO.json
  packages/@react-spectrum/s2/intl/nl-NL.json
  packages/@react-spectrum/s2/intl/pl-PL.json
  packages/@react-spectrum/s2/intl/pt-BR.json
  packages/@react-spectrum/s2/intl/pt-PT.json
  packages/@react-spectrum/s2/intl/ro-RO.json
  packages/@react-spectrum/s2/intl/ru-RU.json
  packages/@react-spectrum/s2/intl/sk-SK.json
  packages/@react-spectrum/s2/intl/sl-SI.json
  packages/@react-spectrum/s2/intl/sr-SP.json
  packages/@react-spectrum/s2/intl/sv-SE.json
  packages/@react-spectrum/s2/intl/tr-TR.json
  packages/@react-spectrum/s2/intl/uk-UA.json
  packages/@react-spectrum/s2/intl/zh-CN.json
  packages/@react-spectrum/s2/intl/zh-TW.json
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/dev/s2-docs/pages/react-aria/Select.mdx
  packages/dev/s2-docs/pages/s2/Picker.mdx
  packages/react-aria-components/docs/Select.mdx
  starters/docs/src/Select.css
  starters/tailwind/src/Select.tsx
Labels: needs translations

#8912 chore: add docs for actionbutton pending
  packages/dev/s2-docs/pages/s2/ActionBar.mdx
  packages/dev/s2-docs/pages/s2/ActionButton.mdx
Labels: release, ready for review

#8904 fix: dependencies and versions
  package.json
  packages/dev/storybook-react-parcel/package.json
  patches/lucide-react+0.294.0.patch
  scripts/oldReactSupport.mjs
  starters/docs/package.json
  starters/tailwind/package.json
  yarn.lock
Labels: small review, ready for review

#7965 chore: Update tokens to use multi-layer drop shadows
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/ActionBar.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/Popover.tsx
  packages/@react-spectrum/s2/style/spectrum-theme.ts
  packages/@react-spectrum/s2/style/tokens.ts
  packages/dev/parcel-transformer-s2-icon/package.json
  yarn.lock
Labels: release

#8862 feat: Automatically detect if wrapped Autocomplete collection supports virtual focus
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/ContextualHelp.tsx
  packages/@react-spectrum/s2/src/DatePicker.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/Popover.tsx
  packages/@react-spectrum/s2/src/TabsPicker.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/src/style-utils.ts
  packages/dev/s2-docs/src/SearchMenu.tsx
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/RSPContexts.ts
  packages/react-aria-components/src/SearchField.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/TagGroup.tsx
  packages/react-aria-components/src/TextField.tsx
  packages/react-aria-components/src/context.tsx
  packages/react-aria-components/src/index.ts
Labels: release, ready for review

#8929 revert: use timeout to determine scroll end
  packages/@react-aria/virtualizer/src/ScrollView.tsx
Labels: release

#8880 fix: Select value cannot be forcefully cleared
  packages/@react-stately/select/src/useSelectState.ts
Labels: release

#8945 fix: Respect prefers-reduced-motion setting in examples
  packages/@react-spectrum/s2/src/Disclosure.tsx
  packages/dev/s2-docs/pages/react-aria/SegmentedControl.css
  packages/react-aria-components/docs/Disclosure.mdx
  packages/react-aria-components/docs/Tabs.mdx
  packages/react-aria-components/docs/ToggleButtonGroup.mdx
  starters/docs/src/Disclosure.css
  starters/docs/src/Tabs.css
  starters/tailwind/src/Disclosure.tsx
  starters/tailwind/src/Tabs.tsx
Labels: release

#8948 fix: Ensure Tray always uses `box-sizing: content-box` so it isn't affected by global css resets
  packages/@adobe/spectrum-css-temp/components/tray/index.css
Labels: release, ready for review
