Repository adobe/react-spectrum, pull requests merged in 2025-08, with the labels that each got.

#8666 fix: Make submenu hover focus remain on the trigger and collapse submenus when hovering root menu
  packages/@react-aria/menu/src/useSubmenuTrigger.ts
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/test/AriaMenu.test-util.tsx
Labels: ready for review

#8546 fix: Swiss currency parsing
  packages/@internationalized/number/src/NumberParser.ts
  packages/@internationalized/number/test/NumberParser.test.js
Labels: ready for review

#8660 chore: upgrade chromatic cli
  package.json
  yarn.lock
Labels: ready for review

#8656 feat: enhance listdata selection methods
  packages/@react-stately/data/src/useListData.ts
  packages/@react-stately/data/test/useListData.test.js
Labels: ready for review

#8642 fix: check for element visibility should take react aria attribute into consideration
  packages/@react-aria/utils/src/isElementVisible.ts
  packages/react-aria-components/stories/Toolbar.stories.tsx
Labels: ready for review

#8677 chore: Replace deprecated mozInputSource check for virtual click detection
  packages/@react-aria/utils/src/isVirtualEvent.ts
Labels: ready for review

#8710 fix: re-export UNSTABLE_useLoadMoreSentinel so it isn't a breaking change
  packages/@react-aria/utils/src/index.ts
Labels: release, ready for review

#8719 docs: fix import copied from illustrations
  .storybook-s2/docs/Illustrations.jsx
Labels: release

#8721 fix: Pressing Enter key to trigger Menu item links
  packages/@react-aria/menu/src/useMenuItem.ts
  packages/@react-spectrum/menu/test/Menu.test.js
Labels: release

#8641 feat: (React Aria) Implement filtering on a per CollectionNode basis
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-aria/collections/src/BaseCollection.ts
  packages/@react-aria/collections/src/CollectionBuilder.tsx
  packages/@react-aria/collections/src/Document.ts
  packages/@react-aria/collections/src/index.ts
  packages/@react-aria/collections/test/CollectionBuilder.test.js
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/SkeletonCollection.tsx
  packages/@react-stately/list/src/useListState.ts
  packages/@react-stately/table/src/index.ts
  packages/@react-stately/table/src/useTableState.ts
  packages/@react-types/shared/src/collections.d.ts
  packages/dev/s2-docs/src/SearchMenu.tsx
  packages/dev/s2-docs/src/SearchResultsMenu.tsx
  packages/react-aria-components/docs/Autocomplete.mdx
  packages/react-aria-components/package.json
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/src/Breadcrumbs.tsx
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/Header.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/SearchField.tsx
  packages/react-aria-components/src/Separator.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/Tabs.tsx
  packages/react-aria-components/src/TagGroup.tsx
  packages/react-aria-components/src/TextField.tsx
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/src/context.tsx
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/stories/ListBox.stories.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/stories/TagGroup.stories.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/AriaAutocomplete.test-util.tsx
  packages/react-aria-components/test/Autocomplete.test.tsx
  packages/react-stately/src/index.ts
  yarn.lock
Labels: release, ready for review

#8735 fix: properly render empty state when filtering S2 ComboBox with sections
  packages/@react-spectrum/s2/stories/ComboBox.stories.tsx
  packages/@react-spectrum/s2/stories/Picker.stories.tsx
  packages/@react-stately/list/src/ListCollection.ts
Labels: release, ready for review

#8748 fix: S2 Selectbox Updates
  packages/@react-spectrum/s2/src/SelectBoxGroup.tsx
  packages/@react-spectrum/s2/stories/SelectBoxGroup.stories.tsx
  packages/@react-spectrum/s2/test/SelectBoxGroup.test.tsx
Labels: release

#8756 feat: allow DOM pass-through of aria-disabled on Button
  packages/@react-aria/button/src/useButton.ts
  packages/@react-aria/button/test/useButton.test.js
  packages/@react-types/button/src/index.d.ts
  packages/react-aria-components/test/Button.test.js
Labels: ready for review

#8766 chore: SelectBox audit
  packages/@react-spectrum/s2/chromatic/SelectBoxGroup.stories.tsx
  packages/@react-spectrum/s2/src/SelectBoxGroup.tsx
  packages/@react-spectrum/s2/stories/SelectBoxGroup.stories.tsx
  packages/@react-spectrum/s2/test/SelectBoxGroup.test.tsx
Labels: release, ready for review

#8774 fix: Speed up tree collection builder flattening when expanding keys
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
Labels: ready for review
