Repository adobe/react-spectrum, pull requests merged in 2025-05, with the labels that each got.

#8185 fix: Correct the PortalProvider's getContainer typings
  packages/@react-aria/overlays/src/PortalProvider.tsx
Labels: release

#6385 chore: Update to Node 20
  .circleci/config.yml
  .github/actions/branch/action.yml
  .github/actions/comment/action.yml
  .github/actions/permissions/action.yml
  .nvmrc
  examples/remix/package.json
  package.json
  packages/@adobe/spectrum-css-builder-temp/css/lib/varUtils.js
  packages/@adobe/spectrum-css-builder-temp/css/plugins/postcss-custom-properties-mapping.js
  packages/@adobe/spectrum-css-builder-temp/css/plugins/postcss-custom-properties-passthrough.js
  packages/@adobe/spectrum-css-builder-temp/css/processors.js
  packages/@adobe/spectrum-css-builder-temp/package.json
  packages/@internationalized/number/src/NumberParser.ts
  packages/@react-spectrum/labeledvalue/test/LabeledValue.test.js
  patches/@spectrum-css+component-builder+1.0.1.patch
  scripts/buildBranchAPI.js
  scripts/buildPublishedAPI.js
  scripts/buildWebsite.js
  yarn.config.cjs
  yarn.lock
Labels: release, ready for review, in sprint

#8099 fix: react types backwards compat
  packages/@react-aria/collections/src/CollectionBuilder.tsx
  packages/@react-aria/collections/src/Hidden.tsx
  packages/@react-aria/focus/src/FocusRing.tsx
  packages/@react-aria/i18n/src/context.tsx
  packages/@react-aria/i18n/src/server.tsx
  packages/@react-aria/interactions/src/PressResponder.tsx
  packages/@react-aria/overlays/src/DismissButton.tsx
  packages/@react-aria/overlays/src/Overlay.tsx
  packages/@react-aria/overlays/src/PortalProvider.tsx
  packages/@react-aria/overlays/src/useModal.tsx
  packages/@react-aria/select/src/HiddenSelect.tsx
  packages/@react-aria/utils/src/openLink.tsx
  packages/@react-aria/virtualizer/src/VirtualizerItem.tsx
  packages/@react-aria/visually-hidden/src/VisuallyHidden.tsx
  packages/@react-spectrum/breadcrumbs/src/BreadcrumbItem.tsx
  packages/@react-spectrum/calendar/src/CalendarBase.tsx
  packages/@react-spectrum/calendar/src/CalendarCell.tsx
  packages/@react-spectrum/calendar/src/CalendarMonth.tsx
  packages/@react-spectrum/color/src/ColorThumb.tsx
  packages/@react-spectrum/datepicker/src/DatePickerField.tsx
  packages/@react-spectrum/datepicker/src/DatePickerSegment.tsx
  packages/@react-spectrum/dialog/src/DialogContainer.tsx
  packages/@react-spectrum/icon/src/Icon.tsx
  packages/@react-spectrum/icon/src/Illustration.tsx
  packages/@react-spectrum/icon/src/UIIcon.tsx
  packages/@react-spectrum/link/src/Link.tsx
  packages/@react-spectrum/list/src/DragPreview.tsx
  packages/@react-spectrum/list/src/InsertionIndicator.tsx
  packages/@react-spectrum/list/src/ListViewItem.tsx
  packages/@react-spectrum/list/src/RootDropIndicator.tsx
  packages/@react-spectrum/listbox/src/ListBoxOption.tsx
  packages/@react-spectrum/listbox/src/ListBoxSection.tsx
  packages/@react-spectrum/menu/src/MenuItem.tsx
  packages/@react-spectrum/menu/src/MenuSection.tsx
  packages/@react-spectrum/overlays/src/OpenTransition.tsx
  packages/@react-spectrum/overlays/src/Underlay.tsx
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/src/ColorPicker.tsx
  packages/react-aria-components/src/Dialog.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/Tooltip.tsx
  packages/react-aria-components/src/Virtualizer.tsx
Labels: release, ready for review

#8056 chore: Refactor codemods
  packages/dev/codemods/src/s1-to-s2/README.md
  packages/dev/codemods/src/s1-to-s2/src/codemods/button.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/changes.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/codemod.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ActionGroup/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ActionMenu/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Avatar/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Badge/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Breadcrumbs/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Button/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/CheckboxGroup/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ColorField/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ColorSlider/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Column/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ComboBox/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ContextualHelp/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/DialogContainer/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/DialogTrigger/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Divider/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Form/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/InlineAlert/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Item/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Link/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/NumberField/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Picker/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ProgressBar/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ProgressCircle/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/RadioGroup/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/RangeSlider/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Row/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/SearchField/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Section/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Slider/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/StatusLight/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/TableView/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Tabs/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/TagGroup/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/TextArea/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/TextField/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Tooltip/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/TooltipTrigger/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/dialog.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/icons/iconMap.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/colors.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/dimensions.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/styleProps.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/transforms.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/unsafeStyle.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/utils.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/transforms.ts
Labels: release

#8202 fix(s2): Update dialog sizes
  packages/@react-spectrum/s2/src/Modal.tsx
Labels: release

#8110 feat: add virtualization to S2 combobox and picker
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-spectrum/card/test/CardView.test.js
  packages/@react-spectrum/color/test/ColorPicker.test.js
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/list/test/ListView.test.js
  packages/@react-spectrum/picker/test/Picker.test.js
  packages/@react-spectrum/picker/test/TempUtilTest.test.js
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/stories/ComboBox.stories.tsx
  packages/@react-spectrum/s2/stories/Picker.stories.tsx
  packages/@react-spectrum/table/test/TableTests.js
  packages/@react-spectrum/table/test/TreeGridTable.test.tsx
  packages/@react-spectrum/tabs/test/Tabs.test.js
  packages/@react-stately/layout/src/GridLayout.ts
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-stately/layout/src/TableLayout.ts
  packages/@react-stately/virtualizer/src/Rect.ts
  packages/@react-stately/virtualizer/src/Virtualizer.ts
  packages/react-aria-components/src/Virtualizer.tsx
  packages/react-aria-components/test/AriaAutocomplete.test-util.tsx
Labels: release

#8207 chore: Temporarily add version postfix to style macro class names
  packages/@react-spectrum/s2/style/__tests__/style-macro.test.js
  packages/@react-spectrum/s2/style/style-macro.ts
Labels: release

#8194 feat: Tag remove-button focus ring
  packages/@adobe/spectrum-css-temp/components/button/index.css
  packages/@react-aria/tag/docs/useTagGroup.mdx
  packages/@react-spectrum/button/src/ClearButton.tsx
  packages/@react-spectrum/s2/src/ClearButton.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/s2/stories/TagGroup.stories.tsx
  packages/@react-spectrum/tag/src/Tag.tsx
  packages/react-aria-components/docs/TagGroup.mdx
  packages/react-aria-components/src/TagGroup.tsx
Labels: release

#8211 fix: Table column updating
  packages/@react-aria/collections/src/Document.ts
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/stories/TableView.stories.tsx
  packages/dev/docs/pages/react-aria/collections.mdx
  packages/react-aria-components/docs/CheckboxGroup.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/test/Table.test.js
Labels: release

#8213 fix(s2): Add role=presentation to ListBox section headings
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/TabsPicker.tsx
Labels: release

#8222 fix: Disclosure chevron appearance when title wraps
  packages/@adobe/spectrum-css-temp/components/accordion/index.css
  packages/@react-spectrum/accordion/chromatic/Accordion.stories.tsx
  packages/@react-spectrum/accordion/chromatic/Disclosure.stories.tsx
  packages/@react-spectrum/accordion/stories/Accordion.stories.tsx
  packages/@react-spectrum/accordion/stories/Disclosure.stories.tsx
Labels: release

#8219 fix: Make tag remove focus ring a circle
  packages/@adobe/spectrum-css-temp/components/button/index.css
Labels: release

#8230 fix: selected item scrolls into view in rac select story
  packages/react-aria-components/stories/Select.stories.tsx
Labels: release

#8229 fix: Tree Dnd updates
  packages/@react-aria/dnd/src/DragManager.ts
  packages/@react-aria/dnd/src/useDropIndicator.ts
  packages/@react-aria/dnd/src/useDroppableCollection.ts
  packages/@react-aria/dnd/src/useDroppableItem.ts
  packages/@react-stately/dnd/src/useDroppableCollectionState.ts
  packages/@react-types/shared/src/dnd.d.ts
  packages/react-aria-components/example/index.css
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/src/useDragAndDrop.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
Labels: release

#8235 fix(s2): Fix exceptions to baseColor in Button and Tag backgrounds
  packages/@react-spectrum/s2/src/ActionButton.tsx
  packages/@react-spectrum/s2/src/Button.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
Labels: release

#8224 fix: Fix Table disabled state + Safari loadMore and scroll Combobox selected item into view when opening via click
  packages/@react-aria/combobox/src/useComboBox.ts
  packages/@react-aria/table/src/useTableSelectionCheckbox.ts
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-spectrum/combobox/src/ComboBox.tsx
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/test/Table.test.js
Labels: release

#8246 fix: prevent disabled item from receiving focus when clicked
  packages/@react-aria/selection/src/useSelectableItem.ts
Labels: release

#8242 chore(s2): update migration guide and codemods for release
  .storybook-s2/docs/Migrating.jsx
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/button.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/combobox.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/picker.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/table.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/button.test.ts
  packages/dev/codemods/src/s1-to-s2/__tests__/combobox.test.ts
  packages/dev/codemods/src/s1-to-s2/__tests__/picker.test.ts
  packages/dev/codemods/src/s1-to-s2/__tests__/table.test.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Button/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/ComboBox/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Picker/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/TableView/transform.ts
Labels: release

#8245 chore: May release audit
  .storybook-s2/docs/Colors.jsx
  .storybook-s2/docs/Icons.jsx
  .storybook-s2/docs/Intro.jsx
  packages/@react-spectrum/s2/intl/ar-AE.json
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/CardView.tsx
  packages/@react-spectrum/s2/src/CoachMark.tsx
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-stately/steplist/src/useStepListState.ts
  packages/react-aria-components/src/Tree.tsx
  yarn.lock
Labels: release

#8255 chore: update S2 picker "isLoading" API to "loadingState" for consistency
  .storybook-s2/docs/Migrating.jsx
  packages/@react-spectrum/s2/chromatic/Picker.stories.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/stories/Picker.stories.tsx
  packages/@react-spectrum/s2/test/Picker.test.tsx
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/picker.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/picker.test.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/components/Picker/transform.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/shared/transforms.ts
Labels: release

#8259 fix: Fix crash on defaultItems in S2 Combobox
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/stories/ComboBox.stories.tsx
Labels: release

#8244 docs: may release notes
  .storybook-s2/docs/Release Notes.mdx
  packages/dev/docs/pages/releases/2025-05-19.mdx
Labels: release

#8102 docs: clear up relative position confusion
  packages/@react-aria/visually-hidden/docs/VisuallyHidden.mdx
  packages/react-aria-components/docs/Checkbox.mdx
  packages/react-aria-components/docs/RadioGroup.mdx
  packages/react-aria-components/docs/Switch.mdx
  packages/react-aria-components/docs/examples/account-menu.mdx
  packages/react-aria-components/docs/examples/wifi-switch.mdx
  starters/tailwind/src/Checkbox.tsx
  starters/tailwind/src/RadioGroup.tsx
  starters/tailwind/src/Switch.tsx
Labels: ready for review

#8306 fix: tsdiffer
  scripts/buildPublishedAPI.js
Labels: release
