Repository adobe/react-spectrum, pull requests merged in 2025-01, with the labels that each got.

#7575 fix: Update gradient buttons so that outline and fill styles are the same when pending
  packages/@react-spectrum/s2/src/Button.tsx
Labels: small review, release

#7478 fix: Fix Talkback focus cursor movement when inside Dialogs
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
Labels: release, in sprint

#7572 fix: explicitly set content-box on unavailable icon in Menu
  packages/@adobe/spectrum-css-temp/components/menu/index.css
Labels: small review, release

#7568 fix: Use absolute path resolution for empty.js in locales plugin
  packages/dev/optimize-locales-plugin/LocalesPlugin.js
Labels: small review, release

#7580 feat: S2 Menu design updates
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/style/spectrum-theme.ts
Labels: release

#7584 fix: Autocomplete event leak and erroneous item focus after backspacing
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/react-aria-components/test/AriaAutocomplete.test-util.tsx
  packages/react-aria-components/test/Autocomplete.test.tsx
Labels: release

#7581 docs: Add initial Autocomplete docs
  packages/react-aria-components/docs/Autocomplete.mdx
  packages/react-aria-components/docs/SearchField.mdx
  packages/react-aria-components/src/index.ts
  scripts/extractStarter.mjs
Labels: release

#7363 feat(Calendar): Add `firstDayOfWeek` prop
  packages/@internationalized/date/docs/CalendarDate.mdx
  packages/@internationalized/date/docs/CalendarDateTime.mdx
  packages/@internationalized/date/docs/ZonedDateTime.mdx
  packages/@internationalized/date/src/queries.ts
  packages/@internationalized/date/tests/queries.test.js
  packages/@react-aria/calendar/docs/useCalendar.mdx
  packages/@react-aria/calendar/docs/useRangeCalendar.mdx
  packages/@react-aria/calendar/src/useCalendarGrid.ts
  packages/@react-aria/calendar/stories/Example.tsx
  packages/@react-aria/calendar/test/useCalendar.test.js
  packages/@react-aria/datepicker/docs/useDatePicker.mdx
  packages/@react-aria/datepicker/docs/useDateRangePicker.mdx
  packages/@react-spectrum/calendar/chromatic/Calendar.stories.tsx
  packages/@react-spectrum/calendar/chromatic/RangeCalendar.stories.tsx
  packages/@react-spectrum/calendar/docs/Calendar.mdx
  packages/@react-spectrum/calendar/docs/RangeCalendar.mdx
  packages/@react-spectrum/calendar/src/CalendarBase.tsx
  packages/@react-spectrum/calendar/src/CalendarCell.tsx
  packages/@react-spectrum/calendar/src/CalendarMonth.tsx
  packages/@react-spectrum/calendar/stories/Calendar.stories.tsx
  packages/@react-spectrum/calendar/stories/RangeCalendar.stories.tsx
  packages/@react-spectrum/calendar/test/CalendarBase.test.js
  packages/@react-spectrum/datepicker/docs/DatePicker.mdx
  packages/@react-spectrum/datepicker/docs/DateRangePicker.mdx
  packages/@react-spectrum/datepicker/src/DatePicker.tsx
  packages/@react-spectrum/datepicker/src/DateRangePicker.tsx
  packages/@react-spectrum/datepicker/stories/DatePicker.stories.tsx
  packages/@react-stately/calendar/src/useCalendarState.ts
  packages/@react-types/calendar/src/index.d.ts
  packages/@react-types/datepicker/src/index.d.ts
  packages/react-aria-components/docs/Calendar.mdx
  packages/react-aria-components/docs/DatePicker.mdx
  packages/react-aria-components/docs/DateRangePicker.mdx
  packages/react-aria-components/docs/RangeCalendar.mdx
  packages/react-aria-components/src/Calendar.tsx
Labels: release

#7589 chore: Remaining Autocomplete alpha release checklist audit items
  examples/rac-tailwind/src/App.js
  examples/rsp-cra-18/package.json
  examples/rsp-cra-18/src/App.tsx
  examples/rsp-cra-18/src/AutocompleteExample.tsx
  examples/rsp-cra-18/src/autocomplete.css
  examples/rsp-cra-18/tsconfig.json
  examples/rsp-cra-18/typings.d.ts
  examples/rsp-next-ts/.yarn/install-state.gz
  examples/rsp-next-ts/components/AutocompleteExample.tsx
  examples/rsp-next-ts/components/autocomplete.module.css
  examples/rsp-next-ts/package.json
  examples/rsp-next-ts/pages/index.tsx
  examples/rsp-next-ts/tsconfig.json
  examples/rsp-next-ts/typings.d.ts
  packages/@react-aria/utils/src/useUpdateLayoutEffect.ts
  packages/@react-stately/autocomplete/src/useAutocompleteState.ts
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/stories/Autocomplete.stories.tsx
Labels: release

#7117 feat: add TableView codemods
  .storybook-s2/docs/Migrating.jsx
  packages/dev/codemods/src/s1-to-s2/__tests__/__snapshots__/table.test.ts.snap
  packages/dev/codemods/src/s1-to-s2/__tests__/table.test.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/changes.ts
  packages/dev/codemods/src/s1-to-s2/src/codemods/transforms.ts
  packages/dev/codemods/src/s1-to-s2/src/getComponents.ts
Labels: release

#7593 chore(RAC): remove internal contexts from RAC Calendar
  packages/react-aria-components/src/Calendar.tsx
Labels: release

#7595 chore: Update JSDocs and apis for release
  packages/@react-spectrum/s2/src/CardView.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/TabsPicker.tsx
  packages/@react-stately/selection/src/types.ts
  packages/react-aria-components/src/index.ts
Labels: release

#7599 chore: Revert tabs collapse
  packages/@react-spectrum/s2/chromatic/Tabs.stories.tsx
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/intl/he-IL.json
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/TabsPicker.tsx
  packages/@react-spectrum/s2/stories/Tabs.stories.tsx
  packages/react-aria-components/src/Breadcrumbs.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Tabs.tsx
Labels: release

#7606 fix: Properly clear Autocomplete wrapped SearchField when "x" button is pressed
  packages/@react-aria/autocomplete/package.json
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-aria/interactions/src/createEventHandler.ts
  packages/@react-aria/searchfield/src/useSearchField.ts
  packages/@react-aria/textfield/src/useTextField.ts
  packages/@react-types/color/src/index.d.ts
  packages/@react-types/shared/src/dom.d.ts
  packages/@react-types/textfield/src/index.d.ts
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/test/Autocomplete.test.tsx
  yarn.lock
Labels: release

#7612 chore: Update test util doc examples so they don't error out
  packages/@react-aria/test-utils/src/menu.ts
  packages/@react-aria/test-utils/src/types.ts
  packages/@react-spectrum/list/docs/ListView.mdx
  packages/@react-spectrum/listbox/docs/ListBox.mdx
  packages/@react-spectrum/menu/docs/MenuTrigger.mdx
  packages/@react-spectrum/picker/docs/Picker.mdx
  packages/@react-spectrum/table/docs/TableView.mdx
  packages/@react-spectrum/tabs/docs/Tabs.mdx
  packages/@react-spectrum/tree/docs/TreeView.mdx
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/Tabs.mdx
  packages/react-aria-components/docs/Tree.mdx
Labels: release

#7529 fix: tablist auto selection
  packages/@react-stately/tabs/src/useTabListState.ts
  packages/react-aria-components/test/Tabs.test.js
Labels: in sprint

#7343 feat: S2 treeview
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/TreeView.stories.tsx
  packages/@react-spectrum/s2/style/__tests__/style-macro.test.js
  packages/@react-spectrum/s2/style/spectrum-theme.ts
  packages/@react-spectrum/s2/test/Tree.test.tsx
  packages/@react-spectrum/tree/test/TreeView.test.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Tree.test.tsx
  yarn.lock
Labels: in sprint

#7600 chore: Refactor S2 tabs to fix accessibility issues
  packages/@react-spectrum/s2/chromatic/Tabs.stories.tsx
  packages/@react-spectrum/s2/package.json
  packages/@react-spectrum/s2/src/Content.tsx
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/TabsPicker.tsx
  packages/@react-spectrum/s2/stories/Tabs.stories.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Tabs.tsx
  yarn.lock
Labels: in sprint
