Repository adobe/react-spectrum, pull requests merged in 2025-07, with the labels that each got.

#8411 feat: Support associating components with external forms
  packages/@react-aria/button/src/useButton.ts
  packages/@react-aria/checkbox/src/useCheckboxGroup.ts
  packages/@react-aria/checkbox/src/useCheckboxGroupItem.ts
  packages/@react-aria/checkbox/src/utils.ts
  packages/@react-aria/color/src/useColorArea.ts
  packages/@react-aria/color/src/useColorSlider.ts
  packages/@react-aria/color/src/useColorWheel.ts
  packages/@react-aria/datepicker/src/useDateField.ts
  packages/@react-aria/datepicker/src/useDatePicker.ts
  packages/@react-aria/datepicker/src/useDateRangePicker.ts
  packages/@react-aria/numberfield/src/useNumberField.ts
  packages/@react-aria/radio/src/useRadio.ts
  packages/@react-aria/radio/src/useRadioGroup.ts
  packages/@react-aria/radio/src/utils.ts
  packages/@react-aria/select/src/HiddenSelect.tsx
  packages/@react-aria/select/src/useSelect.ts
  packages/@react-aria/slider/src/useSliderThumb.ts
  packages/@react-aria/textfield/src/useTextField.ts
  packages/@react-aria/toggle/src/useToggle.ts
  packages/@react-spectrum/color/src/ColorField.tsx
  packages/@react-spectrum/combobox/src/ComboBox.tsx
  packages/@react-spectrum/numberfield/src/NumberField.tsx
  packages/@react-spectrum/numberfield/test/NumberField.test.js
  packages/@react-spectrum/picker/src/Picker.tsx
  packages/@react-spectrum/picker/test/Picker.test.js
  packages/@react-spectrum/s2/src/RangeSlider.tsx
  packages/@react-spectrum/s2/src/Slider.tsx
  packages/@react-spectrum/slider/src/RangeSlider.tsx
  packages/@react-spectrum/slider/src/Slider.tsx
  packages/@react-spectrum/slider/test/RangeSlider.test.tsx
  packages/@react-spectrum/slider/test/Slider.test.tsx
  packages/@react-types/button/src/index.d.ts
  packages/@react-types/color/src/index.d.ts
  packages/@react-types/datepicker/src/index.d.ts
  packages/@react-types/select/src/index.d.ts
  packages/@react-types/shared/src/dom.d.ts
  packages/@react-types/slider/src/index.d.ts
  packages/react-aria-components/src/Button.tsx
  packages/react-aria-components/src/ColorField.tsx
  packages/react-aria-components/src/ComboBox.tsx
  packages/react-aria-components/src/NumberField.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/test/Checkbox.test.js
  packages/react-aria-components/test/CheckboxGroup.test.js
  packages/react-aria-components/test/ColorArea.test.js
  packages/react-aria-components/test/ColorField.test.js
  packages/react-aria-components/test/ColorSlider.test.js
  packages/react-aria-components/test/ColorWheel.test.js
  packages/react-aria-components/test/ComboBox.test.js
  packages/react-aria-components/test/DateField.test.js
  packages/react-aria-components/test/DatePicker.test.js
  packages/react-aria-components/test/DateRangePicker.test.js
  packages/react-aria-components/test/NumberField.test.js
  packages/react-aria-components/test/RadioGroup.test.js
  packages/react-aria-components/test/SearchField.test.js
  packages/react-aria-components/test/Select.test.js
  packages/react-aria-components/test/Slider.test.js
  packages/react-aria-components/test/Switch.test.js
  packages/react-aria-components/test/TextField.test.js
  packages/react-aria-components/test/TimeField.test.js
Labels: release

#8133 fix: TableView jump to top on asynchronous load
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-stately/layout/src/TableLayout.ts
Labels: waiting

#8497 fix: Select typeahead spaces
  packages/@react-aria/menu/src/useMenuTrigger.ts
  packages/@react-aria/selection/src/useTypeSelect.ts
  packages/react-aria-components/stories/Select.stories.tsx
  packages/react-aria-components/test/Select.test.js
Labels: release

#8486 fix: set text alignment for keyboard component
  packages/@adobe/spectrum-css-temp/components/menu/index.css
  packages/@react-spectrum/s2/src/Menu.tsx
Labels: release

#8487 fix: hcm progress circle
  packages/@react-spectrum/s2/src/ProgressCircle.tsx
  packages/@react-spectrum/s2/src/progress-utils.tsx
Labels: release

#8488 fix: radiogroup navigation
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/focus/test/FocusScope.test.js
  packages/@react-aria/radio/src/useRadioGroup.ts
  packages/react-aria-components/stories/RadioGroup.stories.tsx
  packages/react-aria-components/test/RadioGroup.test.js
Labels: release

#8349 feat: Tree multiple level loading support and only count "items" for collection size
  packages/@react-aria/collections/src/BaseCollection.ts
  packages/@react-aria/gridlist/package.json
  packages/@react-aria/gridlist/src/useGridListItem.ts
  packages/@react-aria/utils/src/index.ts
  packages/@react-aria/utils/src/useLoadMoreSentinel.ts
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-spectrum/s2/src/CardView.tsx
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/test/Picker.test.tsx
  packages/@react-spectrum/tree/test/TreeView.test.tsx
  packages/@react-stately/layout/src/GridLayout.ts
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-stately/layout/src/TableLayout.ts
  packages/@react-stately/layout/src/WaterfallLayout.ts
  packages/@react-stately/select/src/useSelectState.ts
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/Select.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/Tree.mdx
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/ComboBox.stories.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/stories/ListBox.stories.tsx
  packages/react-aria-components/stories/Select.stories.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/GridList.test.js
  packages/react-aria-components/test/ListBox.test.js
  packages/react-aria-components/test/Select.test.js
  packages/react-aria-components/test/Table.test.js
  packages/react-aria-components/test/Tree.test.tsx
  yarn.lock
Labels: release, ready for review, in sprint

#8526 fix: Virtualized Tree DnD fixes
  packages/@react-stately/layout/src/ListLayout.ts
  packages/react-aria-components/src/DragAndDrop.tsx
Labels: release

#8528 feat: Support async loading in S2 TreeView
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/TreeView.stories.tsx
  packages/react-aria-components/src/Tree.tsx
Labels: release

#8372 chore: Use inert in ariaHideOutside
  packages/@react-aria/dialog/src/useDialog.ts
  packages/@react-aria/dnd/src/DragManager.ts
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/overlays/src/ariaHideOutside.ts
  packages/@react-aria/overlays/src/useModalOverlay.ts
  packages/@react-aria/overlays/src/usePopover.ts
  packages/@react-aria/utils/src/isElementVisible.ts
  packages/@react-aria/utils/src/isFocusable.ts
  packages/@react-spectrum/dialog/test/DialogTrigger.test.js
  packages/@react-spectrum/menu/src/MenuTrigger.tsx
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  packages/@react-spectrum/overlays/src/Overlay.tsx
  packages/@react-spectrum/picker/src/Picker.tsx
  packages/@react-spectrum/picker/test/Picker.test.js
  packages/@react-spectrum/s2/src/Popover.tsx
  packages/@react-types/overlays/src/index.d.ts
  packages/react-aria-components/test/AriaMenu.test-util.tsx
Labels: release

#8381 chore: RAC storybook updates, Loader api fix
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/stories/Breadcrumbs.stories.tsx
  packages/react-aria-components/stories/Button.stories.tsx
  packages/react-aria-components/stories/Calendar.stories.tsx
  packages/react-aria-components/stories/Checkbox.stories.tsx
  packages/react-aria-components/stories/CheckboxGroup.stories.tsx
  packages/react-aria-components/stories/ColorArea.stories.tsx
  packages/react-aria-components/stories/ColorField.stories.tsx
  packages/react-aria-components/stories/ColorPicker.stories.tsx
  packages/react-aria-components/stories/ColorSlider.stories.tsx
  packages/react-aria-components/stories/ColorSwatch.stories.tsx
  packages/react-aria-components/stories/ColorWheel.stories.tsx
  packages/react-aria-components/stories/ComboBox.stories.tsx
  packages/react-aria-components/stories/ComboBoxReproductions.stories.tsx
  packages/react-aria-components/stories/DateField.stories.tsx
  packages/react-aria-components/stories/DatePicker.stories.tsx
  packages/react-aria-components/stories/Disclosure.stories.tsx
  packages/react-aria-components/stories/Dropzone.stories.tsx
  packages/react-aria-components/stories/FileTrigger.stories.tsx
  packages/react-aria-components/stories/Form.stories.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/stories/Link.stories.tsx
  packages/react-aria-components/stories/ListBox.stories.tsx
  packages/react-aria-components/stories/Menu.stories.tsx
  packages/react-aria-components/stories/Meter.stories.tsx
  packages/react-aria-components/stories/Modal.stories.tsx
  packages/react-aria-components/stories/NumberField.stories.tsx
  packages/react-aria-components/stories/Popover.stories.tsx
  packages/react-aria-components/stories/ProgressBar.stories.tsx
  packages/react-aria-components/stories/RadioGroup.stories.tsx
  packages/react-aria-components/stories/SearchField.stories.tsx
  packages/react-aria-components/stories/Select.stories.tsx
  packages/react-aria-components/stories/Slider.stories.tsx
  packages/react-aria-components/stories/Switch.stories.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/stories/Tabs.stories.tsx
  packages/react-aria-components/stories/TextField.stories.tsx
  packages/react-aria-components/stories/TimeField.stories.tsx
  packages/react-aria-components/stories/ToggleButton.stories.tsx
  packages/react-aria-components/stories/Toolbar.stories.tsx
  packages/react-aria-components/stories/Tooltip.stories.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/stories/animations.stories.tsx
  packages/react-aria-components/stories/utils.tsx
  packages/react-aria-components/test/AriaAutocomplete.test-util.tsx
  packages/react-aria-components/test/AriaMenu.test-util.tsx
  packages/react-aria-components/test/AriaTree.test-util.tsx
Labels: release, ready for review

#8554 chore: Revert "feat: Prevent onChange from firing in TextFields while user is typing via IME (#8519)"
  packages/@react-aria/textfield/src/useTextField.ts
Labels: release

#8549 fix: Ensure that clearing a partially entered date doesn't autofill DateField with the current date
  packages/@react-stately/datepicker/src/useDateFieldState.ts
  packages/react-aria-components/test/DateField.test.js
Labels: release

#8574 fix: remove stale inert after performing keyboard drag and drop in virtualized tree
  packages/@react-aria/overlays/src/ariaHideOutside.ts
  packages/@react-aria/overlays/test/ariaHideOutside.test.js
Labels: release

#8571 fix: do not dispatch loadMore if hook is still in loading state
  packages/@react-spectrum/s2/stories/TableView.stories.tsx
  packages/@react-stately/data/src/useAsyncList.ts
  packages/@react-stately/data/test/useAsyncList.test.js
Labels: release

#8577 chore: get rid of onClick on S2 and RSP components
  packages/@react-spectrum/s2/src/Card.tsx
  packages/@react-spectrum/s2/src/Checkbox.tsx
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/Radio.tsx
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/tree/src/TreeView.tsx
  packages/@react-types/checkbox/src/index.d.ts
  packages/@react-types/radio/src/index.d.ts
Labels: release

#8581 fix: remove inert if user cycles through whole list/dnd multiple times via keyboard dnd
  packages/@react-aria/overlays/src/ariaHideOutside.ts
  packages/@react-aria/overlays/test/ariaHideOutside.test.js
Labels: release

#8603 fix: CardView skeleton loading should appear even if renderEmptyState is provided
  packages/@react-spectrum/s2/chromatic/CardView.stories.tsx
  packages/@react-spectrum/s2/src/CardView.tsx
  packages/@react-spectrum/s2/stories/CardView.stories.tsx
  packages/@react-stately/layout/src/GridLayout.ts
  packages/@react-stately/layout/src/WaterfallLayout.ts
Labels: release

#8601 fix: make sure tap highlight doesn't appear in S2 Calendar on iOS
  packages/@react-spectrum/s2/src/Calendar.tsx
Labels: release

#8555 docs: july release notes
  .storybook-s2/docs/Release Notes.mdx
  packages/dev/docs/pages/releases/2025-07-22.mdx
  packages/react-aria-components/docs/Tree.mdx
Labels: release

#8572 fix: tsdiff more readable
  scripts/compareAPIs.js
Labels: ready for review

#8508 fix: Rendering error for tabs component order
  packages/@react-aria/tabs/src/utils.ts
Labels: ready for review

#8626 chore: needs translation auto labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ready for review
