Repository adobe/react-spectrum, pull requests merged in 2025-10, with the labels that each got.

#8959 fix: Picker default text display
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/stories/Picker.stories.tsx
Labels: release, ready for review

#8958 fix: Height of modal underlay is incorrect when the body has height: 100%
  packages/@react-spectrum/overlays/src/Underlay.tsx
  packages/react-aria-components/src/Modal.tsx
Labels: release

#8957 docs: october release notes
  .storybook-s2/docs/Release Notes.mdx
  packages/dev/docs/pages/releases/2025-10-02.mdx
  packages/dev/s2-docs/pages/s2/release-notes.mdx
Labels: release

#8964 docs: fix S2 docs mobile search bugs
  packages/@react-spectrum/s2/src/Modal.tsx
  packages/dev/s2-docs/src/Layout.tsx
  packages/dev/s2-docs/src/MobileHeader.tsx
Labels: ready for review

#8754 feat: table "inline" editing
  packages/@react-aria/overlays/src/calculatePosition.ts
  packages/@react-spectrum/s2/intl/ar-AE.json
  packages/@react-spectrum/s2/intl/en-US.json
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/TableView.stories.tsx
  packages/@react-spectrum/s2/test/EditableTableView.test.tsx
  patches/@parcel+transformer-css+2.0.0-dev.1601.patch
Labels: needs translations, ready for review

#8908 fix: Combobox VoiceOver announcement not respecting `aria-label` of `ListBoxItem`
  packages/@react-aria/collections/src/Document.ts
  packages/react-aria-components/stories/ComboBox.stories.tsx
Labels: ready for review

#8981 fix(scrollIntoViewport): add root to scrollParents
  packages/@react-aria/utils/src/scrollIntoView.ts
Labels: small review, ready for review

#8875 fix: Assorted new docs fixes from testing
  packages/dev/s2-docs/pages/error.mdx
  packages/dev/s2-docs/pages/s2/DropZone.mdx
  packages/dev/s2-docs/pages/s2/Image.mdx
  packages/dev/s2-docs/pages/s2/Popover.mdx
  packages/dev/s2-docs/src/Error.tsx
  packages/dev/s2-docs/src/Layout.tsx
  packages/dev/s2-docs/src/MobileHeader.tsx
  packages/dev/s2-docs/src/MobileSearchMenu.tsx
  packages/dev/s2-docs/src/Nav.tsx
  packages/dev/s2-docs/src/SearchMenu.tsx
  packages/dev/s2-docs/src/VisualExample.tsx
  packages/dev/s2-docs/src/client.tsx
  packages/dev/s2-docs/src/icons/InternationalizedLogo.tsx
  packages/dev/s2-docs/src/icons/ReactAriaLogo.tsx
Labels: ready for review

#8987 fix: enhance error handling for absolute date on parseDate and parseDateTime
  packages/@internationalized/date/src/string.ts
  packages/@internationalized/date/tests/string.test.js
Labels: small review, ready for review
