Repository adobe/react-spectrum, pull requests merged in 2025-02, with the labels that each got.

#7672 fix: prevent menu item focus ring from exceeding popover boundaries
  packages/@react-spectrum/s2/src/Menu.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
  packages/@react-spectrum/s2/src/Popover.tsx
Labels: in sprint

#7631 feat(Toast): use View Transition API for Toast animations
  packages/@react-aria/toast/docs/useToast.mdx
  packages/@react-aria/toast/src/useToast.ts
  packages/@react-aria/toast/src/useToastRegion.ts
  packages/@react-aria/toast/test/useToast.test.js
  packages/@react-spectrum/toast/chromatic/Toast.stories.tsx
  packages/@react-spectrum/toast/src/Toast.tsx
  packages/@react-spectrum/toast/src/ToastContainer.tsx
  packages/@react-spectrum/toast/src/toastContainer.css
  packages/@react-spectrum/toast/stories/Toast.stories.tsx
  packages/@react-spectrum/toast/test/ToastContainer.test.js
  packages/@react-stately/toast/src/useToastState.ts
  packages/@react-stately/toast/test/useToastState.test.js
  yarn.lock
Labels: in sprint

#7713 fix: testing session bugs treeview and tabs
  packages/@react-spectrum/s2/chromatic/Tabs.stories.tsx
  packages/@react-spectrum/s2/chromatic/TreeView.stories.tsx
  packages/@react-spectrum/s2/src/Tabs.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/s2/stories/Popover.stories.tsx
  packages/@react-spectrum/s2/stories/Tabs.stories.tsx
Labels: in sprint

#7694 fix: S2 treeview haschildnodes
  packages/@react-aria/gridlist/src/useGridListItem.ts
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/tree/src/TreeView.tsx
  packages/@react-spectrum/tree/test/TreeView.test.tsx
  packages/react-aria-components/docs/Tree.mdx
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Table.test.js
  packages/react-aria-components/test/Tree.test.tsx
Labels: in sprint

#7613 chore: Update TreeView API
  packages/@react-aria/gridlist/src/useGridListItem.ts
  packages/@react-spectrum/s2/chromatic/TreeView.stories.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/TreeView.stories.tsx
  packages/@react-spectrum/s2/style/__tests__/style-macro.test.js
  packages/@react-spectrum/s2/style/spectrum-theme.ts
  packages/@react-spectrum/s2/test/Tree.test.tsx
  packages/@react-spectrum/tree/chromatic-fc/TreeView.stories.tsx
  packages/@react-spectrum/tree/chromatic/TreeView.stories.tsx
  packages/@react-spectrum/tree/docs/TreeView.mdx
  packages/@react-spectrum/tree/src/TreeView.tsx
  packages/@react-spectrum/tree/src/index.ts
  packages/@react-spectrum/tree/stories/TreeView.stories.tsx
  packages/@react-spectrum/tree/test/TreeView.test.tsx
  packages/@react-stately/data/test/useTreeData.test.js
  packages/react-aria-components/docs/Tree.mdx
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Table.test.js
  packages/react-aria-components/test/Tree.test.tsx
Labels: in sprint

#7760 fix(Toast): catch startViewTransition error thrown for multiple transitions
  packages/@react-spectrum/toast/src/ToastContainer.tsx
Labels: release

#7638 feat: Add colspan to Table
  packages/@react-aria/grid/src/GridKeyboardDelegate.ts
  packages/@react-aria/grid/src/useGridCell.ts
  packages/@react-aria/table/docs/useTable.mdx
  packages/@react-aria/table/src/TableKeyboardDelegate.ts
  packages/@react-aria/table/src/useTableColumnHeader.ts
  packages/@react-aria/table/stories/example-backwards-compat.tsx
  packages/@react-aria/table/stories/example-resizing.tsx
  packages/@react-aria/table/stories/example.tsx
  packages/@react-spectrum/table/src/TableViewBase.tsx
  packages/@react-spectrum/table/stories/Table.stories.tsx
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-stately/grid/src/GridCollection.ts
  packages/@react-stately/layout/src/TableLayout.ts
  packages/@react-stately/table/src/Row.ts
  packages/@react-stately/table/src/TableCollection.ts
  packages/@react-types/grid/src/index.d.ts
  packages/@react-types/table/src/index.d.ts
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/test/Table.test.js
Labels: release

#7757 fix: Memory leak suspense safe useId
  packages/@react-aria/utils/src/useId.ts
  packages/@react-aria/utils/stories/useId.stories.tsx
Labels: release

#7774 fix: Canceling text selection in Safari broken after usePress refactor
  packages/@react-aria/interactions/src/textSelection.ts
Labels: release

#7662 feat: Add docs for custom overlay trigger elements
  packages/@react-aria/button/package.json
  packages/@react-aria/button/src/useButton.ts
  packages/@react-aria/dialog/package.json
  packages/@react-aria/dialog/src/useDialog.ts
  packages/@react-aria/focus/src/FocusScope.tsx
  packages/@react-aria/focus/src/index.ts
  packages/@react-aria/grid/src/useGridCell.ts
  packages/@react-aria/interactions/src/DOMPropsContext.ts
  packages/@react-aria/interactions/src/DOMPropsResponder.tsx
  packages/@react-aria/interactions/src/Pressable.tsx
  packages/@react-aria/interactions/src/focusSafely.ts
  packages/@react-aria/interactions/src/index.ts
  packages/@react-aria/interactions/src/useDOMPropsResponder.ts
  packages/@react-aria/interactions/src/useFocusable.tsx
  packages/@react-aria/interactions/test/Focusable.test.js
  packages/@react-aria/interactions/test/Pressable.test.js
  packages/@react-aria/interactions/test/focusSafely.test.js
  packages/@react-aria/link/package.json
  packages/@react-aria/link/src/useLink.ts
  packages/@react-aria/radio/src/useRadio.ts
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-aria/selection/src/useSelectableItem.ts
  packages/@react-aria/slider/package.json
  packages/@react-aria/slider/src/useSliderThumb.ts
  packages/@react-aria/table/src/useTableColumnHeader.ts
  packages/@react-aria/table/src/useTableColumnResize.ts
  packages/@react-aria/textfield/package.json
  packages/@react-aria/textfield/src/useTextField.ts
  packages/@react-aria/toggle/package.json
  packages/@react-aria/toggle/src/useToggle.ts
  packages/@react-aria/tooltip/package.json
  packages/@react-aria/tooltip/src/useTooltipTrigger.ts
  packages/@react-spectrum/autocomplete/src/MobileSearchAutocomplete.tsx
  packages/@react-spectrum/combobox/src/MobileComboBox.tsx
  packages/react-aria-components/docs/Dialog.mdx
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/Modal.mdx
  packages/react-aria-components/docs/Popover.mdx
  packages/react-aria-components/docs/Tooltip.mdx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/test/Menu.test.tsx
  packages/react-aria-components/test/Popover.test.js
  packages/react-aria-components/test/Tooltip.test.js
  packages/react-aria/src/index.ts
  yarn.lock
Labels: release

#7792 fix(s2): SSR fixes
  packages/@react-spectrum/s2/src/SegmentedControl.tsx
  packages/@react-spectrum/s2/src/Skeleton.tsx
  packages/@react-spectrum/s2/src/Tooltip.tsx
Labels: release

#7786 fix: Avoid triggering collection updates when hovering over S2 TableView headers
  packages/@react-spectrum/s2/src/TableView.tsx
Labels: release

#7785 fix: Improve colSpan performance
  packages/@react-aria/collections/src/BaseCollection.ts
  packages/@react-aria/collections/src/Document.ts
  packages/@react-types/grid/src/index.d.ts
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/test/Table.test.js
Labels: release

#7700 docs: Add Virtualizer docs
  packages/@react-aria/virtualizer/src/VirtualizerItem.tsx
  packages/@react-spectrum/listbox/src/ListBoxBase.tsx
  packages/@react-spectrum/listbox/src/ListBoxLayout.ts
  packages/@react-spectrum/s2/src/Breadcrumbs.tsx
  packages/@react-spectrum/s2/src/CardView.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-stately/layout/src/GridLayout.ts
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-stately/layout/src/TableLayout.ts
  packages/@react-stately/virtualizer/src/Layout.ts
  packages/@react-stately/virtualizer/src/LayoutInfo.ts
  packages/@react-stately/virtualizer/src/ReusableView.ts
  packages/@react-stately/virtualizer/src/Virtualizer.ts
  packages/dev/docs/pages/react-aria/collections.mdx
  packages/dev/docs/src/types.js
  packages/dev/parcel-packager-docs/DocsPackager.js
  packages/dev/parcel-transformer-docs/DocsTransformer.js
  packages/react-aria-components/docs/Checkbox.mdx
  packages/react-aria-components/docs/GridList.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/Table.mdx
  packages/react-aria-components/docs/Virtualizer.mdx
  packages/react-aria-components/src/Virtualizer.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/stories/ListBox.stories.tsx
  packages/react-aria-components/stories/Select.stories.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/GridList.test.js
  packages/react-aria-components/test/ListBox.test.js
  packages/react-aria-components/test/Table.test.js
  packages/react-aria-components/test/Tree.test.tsx
Labels: release

#7782 docs(Autocomplete): Add Autocomplete to RAC Tailwind starter kit
  starters/tailwind/src/Autocomplete.tsx
  starters/tailwind/src/Menu.tsx
  starters/tailwind/stories/Autocomplete.stories.tsx
Labels: release

#7730 docs: RAC Tree docs
  packages/@react-spectrum/s2/chromatic/TreeView.stories.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/s2/src/index.ts
  packages/@react-spectrum/s2/stories/TreeView.stories.tsx
  packages/@react-spectrum/s2/test/Tree.test.tsx
  packages/@react-spectrum/tree/chromatic-fc/TreeView.stories.tsx
  packages/@react-spectrum/tree/chromatic/TreeView.stories.tsx
  packages/@react-spectrum/tree/docs/TreeView.mdx
  packages/@react-spectrum/tree/src/TreeView.tsx
  packages/@react-spectrum/tree/src/index.ts
  packages/@react-spectrum/tree/stories/TreeView.stories.tsx
  packages/@react-spectrum/tree/test/TreeView.test.tsx
  packages/dev/docs/pages/assets/component-illustrations/Tree.svg
  packages/dev/docs/pages/react-aria/components.mdx
  packages/dev/docs/pages/react-spectrum/index.mdx
  packages/dev/docs/src/StateTable.js
  packages/react-aria-components/docs/TableAnatomy.svg
  packages/react-aria-components/docs/Tree.mdx
  packages/react-aria-components/docs/TreeAnatomy.svg
  packages/react-aria-components/docs/examples/file-system.mdx
  packages/react-aria-components/docs/examples/file-system.png
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Tree.ssr.test.js
  packages/react-aria-components/test/Tree.test.tsx
  scripts/extractStarter.mjs
  starters/tailwind/src/Tree.tsx
  starters/tailwind/stories/Tree.stories.tsx
Labels: release, in sprint

#7771 fix(toast): resume timers if pointer leaves region due to toast being removed
  packages/@react-aria/toast/src/useToastRegion.ts
  packages/@react-aria/toast/stories/Example.tsx
  packages/@react-aria/toast/stories/useToast.stories.tsx
Labels: release, in sprint

#7663 fix: SSR Combobox inner ref lost
  packages/@react-aria/collections/src/CollectionBuilder.tsx
  packages/@react-aria/collections/src/Hidden.tsx
  packages/react-aria-components/test/ComboBox.ssr.test.js
Labels: release

#7802 fix: Fix S2 Picker press scaling
  packages/@react-spectrum/s2/src/Picker.tsx
Labels: release

#7793 feat: Support tooltips on Tags and Tabs
  packages/@react-aria/collections/package.json
  packages/@react-aria/collections/src/CollectionBuilder.tsx
  packages/@react-aria/interactions/src/index.ts
  packages/@react-aria/interactions/src/useFocusable.tsx
  packages/@react-aria/tabs/src/useTab.ts
  packages/@react-aria/tag/src/useTag.ts
  packages/react-aria-components/stories/Tabs.stories.tsx
  packages/react-aria-components/stories/TagGroup.stories.tsx
  packages/react-aria-components/test/Tabs.test.js
  packages/react-aria-components/test/TagGroup.test.js
  yarn.lock
Labels: release

#7729 feat: Add WaterfallLayout to RAC, and update GridLayout
  packages/@react-aria/virtualizer/src/VirtualizerItem.tsx
  packages/@react-spectrum/list/src/ListViewLayout.ts
  packages/@react-spectrum/listbox/src/ListBoxLayout.ts
  packages/@react-spectrum/s2/src/CardView.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-stately/layout/src/GridLayout.ts
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-stately/layout/src/TableLayout.ts
  packages/@react-stately/layout/src/WaterfallLayout.ts
  packages/@react-stately/layout/src/index.ts
  packages/@react-stately/virtualizer/src/Layout.ts
  packages/@react-stately/virtualizer/src/Virtualizer.ts
  packages/@react-stately/virtualizer/src/types.ts
  packages/react-aria-components/docs/Virtualizer.mdx
  packages/react-aria-components/src/TableLayout.ts
  packages/react-aria-components/src/Virtualizer.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/stories/ListBox.stories.tsx
  packages/react-aria-components/stories/Table.stories.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/GridList.test.js
  packages/react-aria-components/test/ListBox.test.js
  packages/react-aria-components/test/Table.test.js
  packages/react-aria-components/test/Tree.test.tsx
  scripts/extractStarter.mjs
Labels: release

#7561 feat: Add subdialog support to Menu and Autocomplete
  .yarn/patches/@testing-library-user-event-npm-14.6.1-5da7e1d4e2.patch
  package.json
  packages/@react-aria/autocomplete/package.json
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-aria/collections/src/BaseCollection.ts
  packages/@react-aria/dialog/src/useDialog.ts
  packages/@react-aria/dnd/test/dnd.test.js
  packages/@react-aria/dnd/test/useDraggableCollection.test.js
  packages/@react-aria/dnd/test/useDroppableCollection.test.js
  packages/@react-aria/focus/src/index.ts
  packages/@react-aria/focus/src/virtualFocus.ts
  packages/@react-aria/interactions/src/useFocusVisible.ts
  packages/@react-aria/interactions/src/useFocusWithin.ts
  packages/@react-aria/interactions/test/useFocusVisible.test.js
  packages/@react-aria/listbox/src/useOption.ts
  packages/@react-aria/menu/src/useMenuItem.ts
  packages/@react-aria/menu/src/useSafelyMouseToSubmenu.ts
  packages/@react-aria/menu/src/useSubmenuTrigger.ts
  packages/@react-aria/overlays/src/ariaHideOutside.ts
  packages/@react-aria/overlays/src/useOverlay.ts
  packages/@react-aria/overlays/src/usePopover.ts
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-aria/selection/src/useSelectableItem.ts
  packages/@react-aria/textfield/src/useTextField.ts
  packages/@react-aria/utils/src/constants.ts
  packages/@react-aria/utils/src/index.ts
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-spectrum/combobox/test/ComboBox.test.js
  packages/@react-spectrum/menu/test/SubMenuTrigger.test.tsx
  packages/@react-spectrum/s2/package.json
  packages/@react-stately/list/src/index.ts
  packages/@react-stately/list/src/useListState.ts
  packages/@react-stately/selection/src/SelectionManager.ts
  packages/@react-types/shared/src/collections.d.ts
  packages/@react-types/shared/src/dom.d.ts
  packages/dev/test-utils/package.json
  packages/react-aria-components/example/index.css
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/src/Group.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/src/SearchField.tsx
  packages/react-aria-components/src/TextField.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/stories/Menu.stories.tsx
  packages/react-aria-components/stories/utils.tsx
  packages/react-aria-components/test/AriaAutocomplete.test-util.tsx
  packages/react-aria-components/test/AriaMenu.test-util.tsx
  packages/react-aria-components/test/Autocomplete.test.tsx
  packages/react-aria-components/test/Menu.test.tsx
  packages/react-stately/src/index.ts
  yarn.lock
Labels: release, in sprint

#7379 feat: nested collection support
  packages/@react-aria/dnd/src/ListDropTargetDelegate.ts
  packages/@react-aria/grid/src/useGrid.ts
  packages/@react-aria/gridlist/src/useGridList.ts
  packages/@react-aria/menu/src/useMenuItem.ts
  packages/@react-aria/selection/src/DOMLayoutDelegate.ts
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/@react-aria/selection/src/useSelectableItem.ts
  packages/@react-aria/selection/src/utils.ts
  packages/@react-spectrum/tag/src/TagGroup.tsx
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/stories/GridList.stories.tsx
  packages/react-aria-components/test/GridList.test.js
  packages/react-aria-components/test/Table.test.js
Labels: release

#7783 feat: Add Toast to React Aria Components
  lib/css.d.ts
  lib/viewTransitions.d.ts
  packages/@react-aria/toast/docs/useToast.mdx
  packages/@react-spectrum/toast/src/ToastContainer.tsx
  packages/@react-stately/toast/src/useToastState.ts
  packages/react-aria-components/docs/Toast.mdx
  packages/react-aria-components/package.json
  packages/react-aria-components/src/Toast.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/test/Toast.test.js
  scripts/extractExamples.mjs
  tsconfig.json
  yarn.lock
Labels: release

#7805 chore: remove toast priority queue
  packages/@react-aria/toast/docs/useToast.mdx
  packages/@react-aria/toast/src/useToastRegion.ts
  packages/@react-aria/toast/stories/useToast.stories.tsx
  packages/@react-aria/toast/test/useToast.test.js
  packages/@react-spectrum/toast/src/Toast.tsx
  packages/@react-spectrum/toast/src/ToastContainer.tsx
  packages/@react-stately/toast/src/useToastState.ts
  packages/@react-stately/toast/test/useToastState.test.js
  packages/react-aria-components/docs/Toast.mdx
  scripts/extractStarter.mjs
Labels: release

#7784 docs(Autocomplete): add RAC Autocomplete docs
  examples/rac-tailwind/src/App.js
  examples/rsp-cra-18/src/AutocompleteExample.tsx
  examples/rsp-next-ts/components/AutocompleteExample.tsx
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-spectrum/s2/stories/Popover.stories.tsx
  packages/@react-spectrum/s2/test/SearchField.test.tsx
  packages/@react-stately/autocomplete/src/useAutocompleteState.ts
  packages/react-aria-components/docs/Autocomplete.mdx
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/SearchField.mdx
  packages/react-aria-components/docs/examples/command-palette.mdx
  packages/react-aria-components/docs/examples/command-palette.png
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/test/Autocomplete.test.tsx
  scripts/extractStarter.mjs
  starters/tailwind/src/Autocomplete.tsx
Labels: release

#7826 docs(RAC): improve command palette example mobile experience
  packages/react-aria-components/docs/examples/command-palette.mdx
Labels: release

#7829 fix: Re-show focus ring on ComboBox input when closed
  packages/@adobe/spectrum-css-temp/components/inputgroup/skin.css
  packages/@react-aria/combobox/package.json
  packages/@react-aria/combobox/src/useComboBox.ts
  packages/@react-aria/utils/src/useUpdateEffect.ts
  packages/react-aria-components/docs/ComboBox.mdx
  yarn.lock
Labels: release

#7827 docs: Add more Autocomplete examples
  packages/@react-aria/selection/src/useSelectableCollection.ts
  packages/react-aria-components/docs/Autocomplete.mdx
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/examples/command-palette.mdx
  packages/react-aria-components/docs/examples/searchable-select.mdx
  packages/react-aria-components/docs/examples/searchable-select.png
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/test/Menu.test.tsx
Labels: release

#7819 fix: Chromatic/testing found bugs
  packages/@react-aria/virtualizer/src/VirtualizerItem.tsx
  packages/@react-spectrum/s2/chromatic/TreeView.stories.tsx
  packages/@react-spectrum/s2/src/TableView.tsx
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/s2/stories/TreeView.stories.tsx
  packages/@react-spectrum/style-macro-s1/src/index.ts
  packages/@react-spectrum/style-macro-s1/src/spectrum-theme.ts
  packages/@react-spectrum/tree/docs/TreeView.mdx
  packages/@react-spectrum/tree/src/TreeView.tsx
  packages/@react-spectrum/tree/stories/TreeView.stories.tsx
  packages/@react-spectrum/tree/test/TreeView.test.tsx
  packages/@react-stately/collections/docs/collections.mdx
  packages/react-aria-components/docs/ListBox.mdx
  packages/react-aria-components/docs/Toast.mdx
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/src/index.ts
Labels: release

#7837 chore: Add colSpan examples to docs
  packages/@react-spectrum/s2/stories/TableView.stories.tsx
  packages/@react-spectrum/table/docs/TableView.mdx
  packages/react-aria-components/docs/Tree.mdx
  packages/react-aria-components/stories/Tree.stories.tsx
Labels: release

#7842 feat: add has-child-items to tailwind plugin
  packages/tailwindcss-react-aria-components/fixtures/prefix.html
  packages/tailwindcss-react-aria-components/fixtures/variants.html
  packages/tailwindcss-react-aria-components/src/index.js
  packages/tailwindcss-react-aria-components/test/__snapshots__/index.test.js.snap
Labels: release

#7841 chore(useClipboard): rename "type" to "action" in getItems details
  packages/@react-aria/dnd/src/useClipboard.ts
  packages/@react-aria/dnd/test/useClipboard.test.js
Labels: small review, release

#7840 fix: Add tree row label to expand/collapse button announcement
  packages/@react-aria/tree/src/useTreeItem.ts
  packages/react-aria-components/test/Tree.test.tsx
Labels: release

#7838 fix: Fix Toast hover and focus behavior
  packages/@react-aria/datepicker/src/useDatePicker.ts
  packages/@react-aria/datepicker/src/useDateRangePicker.ts
  packages/@react-aria/interactions/src/useFocusWithin.ts
  packages/@react-aria/interactions/src/useHover.ts
  packages/@react-aria/interactions/test/useFocusWithin.test.js
  packages/@react-aria/interactions/test/useHover.test.js
  packages/@react-aria/toast/src/useToastRegion.ts
  packages/@react-aria/toast/test/useToast.test.js
  packages/@react-spectrum/toast/test/ToastContainer.test.js
  packages/react-aria-components/test/Toast.test.js
Labels: release

#7813 feat: Automatically render popovers as dialogs
  packages/@react-aria/menu/src/useSubmenuTrigger.ts
  packages/@react-aria/overlays/src/Overlay.tsx
  packages/@react-aria/overlays/src/usePopover.ts
  packages/@react-spectrum/menu/test/MenuTrigger.test.js
  packages/@react-spectrum/menu/test/SubMenuTrigger.test.tsx
  packages/react-aria-components/docs/ComboBox.mdx
  packages/react-aria-components/docs/Menu.mdx
  packages/react-aria-components/docs/Select.mdx
  packages/react-aria-components/docs/examples/account-menu.mdx
  packages/react-aria-components/docs/examples/searchable-select.mdx
  packages/react-aria-components/src/Dialog.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/src/Popover.tsx
  packages/react-aria-components/src/Select.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Autocomplete.stories.tsx
  packages/react-aria-components/stories/Menu.stories.tsx
  packages/react-aria-components/test/AriaAutocomplete.test-util.tsx
  packages/react-aria-components/test/AriaMenu.test-util.tsx
  packages/react-aria-components/test/Autocomplete.test.tsx
  packages/react-aria-components/test/Menu.test.tsx
Labels: release
