Repository adobe/react-spectrum, pull requests merged in 2025-03, with the labels that each got.

#7849 chore: export toast and landmark hooks from monopackages
  packages/react-aria/package.json
  packages/react-aria/src/index.ts
  packages/react-stately/package.json
  packages/react-stately/src/index.ts
  yarn.lock
Labels: release

#7850 chore: Release audit
  packages/@adobe/react-spectrum/package.json
  packages/@adobe/react-spectrum/src/index.ts
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-aria/collections/src/BaseCollection.ts
  packages/@react-aria/datepicker/src/useDatePickerGroup.ts
  packages/@react-aria/textfield/src/useTextField.ts
  packages/@react-spectrum/tree/docs/TreeView.mdx
  packages/@react-stately/list/src/index.ts
  packages/@react-stately/list/src/useListState.ts
  packages/@react-types/searchfield/src/index.d.ts
  packages/@react-types/shared/src/collections.d.ts
  packages/@react-types/textfield/src/index.d.ts
  packages/dev/docs/pages/react-aria/index.mdx
  packages/react-aria-components/README.md
  packages/react-aria-components/docs/Tree.mdx
  packages/react-aria-components/package.json
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Menu.tsx
  packages/react-aria-components/test/AriaAutocomplete.test-util.tsx
  packages/react-stately/src/index.ts
  yarn.lock
Labels: release

#7859 fix: make Toasts announce when rendered in NVDA
  packages/@react-aria/toast/src/useToast.ts
  packages/react-aria-components/package.json
  packages/react-aria-components/src/Toast.tsx
  yarn.lock
Labels: release

#7858 fix: Double click event on rsp toggling components
  packages/@adobe/spectrum-css-temp/components/checkbox/index.css
  packages/@adobe/spectrum-css-temp/components/toggle/index.css
Labels: release

#7863 chore: Rename filterFn in useAutocomplete to filter
  packages/@react-aria/autocomplete/src/useAutocomplete.ts
  packages/@react-stately/list/src/useListState.ts
  packages/react-aria-components/src/Autocomplete.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Menu.tsx
Labels: release

#7864 fix: correctly render dates in hebrew calendar
  packages/@react-aria/datepicker/src/useDateSegment.ts
  packages/@react-spectrum/datepicker/chromatic/DateField.stories.tsx
Labels: release

#7872 chore: delete @react-aria/accordion and @react-types/accordion
  packages/@react-aria/accordion/README.md
  packages/@react-aria/accordion/index.ts
  packages/@react-aria/accordion/package.json
  packages/@react-aria/accordion/src/index.ts
  packages/@react-aria/accordion/src/useAccordion.ts
  packages/@react-types/accordion/README.md
  packages/@react-types/accordion/package.json
  packages/@react-types/accordion/src/index.d.ts
  yarn.lock
Labels: release

#7871 chore: make useLandmark controller unstable
  packages/@react-aria/landmark/src/index.ts
  packages/@react-aria/landmark/src/useLandmark.ts
  packages/@react-aria/landmark/stories/Landmark.stories.tsx
  packages/@react-aria/landmark/test/useLandmark.test.tsx
  packages/@react-spectrum/toast/stories/Toast.stories.tsx
  packages/react-aria/src/index.ts
Labels: release

#7845 docs: March release notes
  .storybook-s2/docs/Intro.jsx
  .storybook-s2/docs/Migrating.jsx
  .storybook-s2/docs/Release Notes.mdx
  packages/@react-aria/autocomplete/docs/useAutocomplete.mdx
  packages/@react-stately/autocomplete/docs/useAutocompleteState.mdx
  packages/dev/docs/pages/assets/datepicker-rtl.png
  packages/dev/docs/pages/releases/2025-03-05.mdx
  packages/react-aria-components/docs/Autocomplete.mdx
Labels: release

#7991 fix: rsp-cra example app build
  examples/rsp-cra-18/package.json
Labels: small review, release

#7891 feat: Support onClick as an alias for onPress
  packages/@react-aria/button/src/useButton.ts
  packages/@react-aria/dnd/src/useDrop.ts
  packages/@react-aria/interactions/src/useFocusWithin.ts
  packages/@react-aria/interactions/src/usePress.ts
  packages/@react-aria/interactions/src/utils.ts
  packages/@react-aria/interactions/test/usePress.test.js
  packages/@react-aria/link/src/useLink.ts
  packages/@react-aria/link/test/useLink.test.js
  packages/@react-spectrum/button/test/Button.test.js
  packages/@react-spectrum/link/test/Link.test.js
  packages/@react-spectrum/s2/src/ActionButton.tsx
  packages/@react-spectrum/s2/src/Breadcrumbs.tsx
  packages/@react-spectrum/s2/src/Button.tsx
  packages/@react-spectrum/s2/src/Link.tsx
  packages/@react-spectrum/s2/src/ToggleButton.tsx
  packages/@react-spectrum/table/test/Table.test.js
  packages/@react-types/button/src/index.d.ts
  packages/@react-types/link/src/index.d.ts
  packages/@react-types/shared/src/events.d.ts
  packages/react-aria-components/stories/Button.stories.tsx
Labels: release

#7977 chore: Reduce production bundle sizes
  packages/@react-aria/interactions/src/PressResponder.tsx
  packages/@react-aria/interactions/src/Pressable.tsx
  packages/@react-aria/interactions/src/createEventHandler.ts
  packages/@react-aria/interactions/src/useFocusVisible.ts
  packages/@react-aria/interactions/src/useFocusable.tsx
  packages/@react-aria/interactions/src/useHover.ts
  packages/@react-aria/interactions/src/useInteractOutside.ts
  packages/@react-aria/interactions/src/useMove.ts
  packages/@react-aria/interactions/src/usePress.ts
  packages/@react-aria/label/src/useLabel.ts
  packages/@react-aria/landmark/src/useLandmark.ts
  packages/@react-aria/menu/src/useMenu.ts
  packages/@react-aria/radio/src/useRadio.ts
  packages/@react-aria/ssr/src/SSRProvider.tsx
  packages/@react-aria/toggle/src/useToggle.ts
  packages/@react-spectrum/autocomplete/src/SearchAutocomplete.tsx
  packages/@react-spectrum/checkbox/src/Checkbox.tsx
  packages/@react-spectrum/color/src/ColorField.tsx
  packages/@react-spectrum/combobox/src/ComboBox.tsx
  packages/@react-spectrum/dialog/src/DialogTrigger.tsx
  packages/@react-spectrum/image/src/Image.tsx
  packages/@react-spectrum/list/src/ListView.tsx
  packages/@react-spectrum/progress/src/ProgressBarBase.tsx
  packages/@react-spectrum/progress/src/ProgressCircle.tsx
  packages/@react-spectrum/provider/src/Provider.tsx
  packages/@react-spectrum/s2/src/Image.tsx
  packages/@react-spectrum/s2/src/StatusLight.tsx
  packages/@react-spectrum/searchfield/src/SearchField.tsx
  packages/@react-spectrum/statuslight/src/StatusLight.tsx
  packages/@react-spectrum/table/src/TableViewBase.tsx
  packages/@react-spectrum/textfield/src/TextArea.tsx
  packages/@react-spectrum/textfield/src/TextField.tsx
  packages/@react-spectrum/utils/src/classNames.ts
  packages/@react-spectrum/utils/src/styleProps.ts
  packages/@react-spectrum/well/src/Well.tsx
  packages/@react-stately/collections/src/Item.ts
  packages/@react-stately/table/src/TableUtils.ts
  packages/@react-stately/utils/src/useControlledState.ts
  packages/react-aria-components/src/Collection.tsx
  packages/react-aria-components/src/Dialog.tsx
  packages/react-aria-components/src/GridList.tsx
  packages/react-aria-components/src/ListBox.tsx
  packages/react-aria-components/src/Table.tsx
  packages/react-aria-components/src/TagGroup.tsx
  packages/react-aria-components/src/Tree.tsx
Labels: release

#7803 feat: custom calendar support
  packages/@internationalized/date/docs/Calendar.mdx
  packages/@internationalized/date/src/calendars/BuddhistCalendar.ts
  packages/@internationalized/date/src/calendars/EthiopicCalendar.ts
  packages/@internationalized/date/src/calendars/GregorianCalendar.ts
  packages/@internationalized/date/src/calendars/HebrewCalendar.ts
  packages/@internationalized/date/src/calendars/IndianCalendar.ts
  packages/@internationalized/date/src/calendars/IslamicCalendar.ts
  packages/@internationalized/date/src/calendars/JapaneseCalendar.ts
  packages/@internationalized/date/src/calendars/PersianCalendar.ts
  packages/@internationalized/date/src/calendars/TaiwanCalendar.ts
  packages/@internationalized/date/src/conversion.ts
  packages/@internationalized/date/src/createCalendar.ts
  packages/@internationalized/date/src/index.ts
  packages/@internationalized/date/src/queries.ts
  packages/@internationalized/date/src/types.ts
  packages/@internationalized/date/tests/conversion.test.js
  packages/@internationalized/date/tests/customCalendarImpl.ts
  packages/@internationalized/date/tests/manipulation.test.js
  packages/@internationalized/date/tests/queries.test.js
  packages/@react-aria/calendar/docs/useCalendar.mdx
  packages/@react-aria/calendar/docs/useRangeCalendar.mdx
  packages/@react-aria/calendar/src/useCalendarGrid.ts
  packages/@react-aria/calendar/src/utils.ts
  packages/@react-aria/calendar/stories/Example.tsx
  packages/@react-aria/calendar/test/useCalendar.test.js
  packages/@react-spectrum/calendar/docs/Calendar.mdx
  packages/@react-spectrum/calendar/docs/RangeCalendar.mdx
  packages/@react-spectrum/calendar/src/Calendar.tsx
  packages/@react-spectrum/calendar/src/CalendarBase.tsx
  packages/@react-spectrum/calendar/src/CalendarMonth.tsx
  packages/@react-spectrum/calendar/src/RangeCalendar.tsx
  packages/@react-spectrum/calendar/stories/Calendar.stories.tsx
  packages/@react-spectrum/calendar/stories/RangeCalendar.stories.tsx
  packages/@react-spectrum/datepicker/docs/DatePicker.mdx
  packages/@react-spectrum/datepicker/docs/DateRangePicker.mdx
  packages/@react-spectrum/datepicker/src/DatePicker.tsx
  packages/@react-spectrum/datepicker/src/DateRangePicker.tsx
  packages/@react-spectrum/datepicker/stories/DatePicker.stories.tsx
  packages/@react-spectrum/datepicker/stories/DateRangePicker.stories.tsx
  packages/@react-stately/calendar/src/useCalendarState.ts
  packages/@react-stately/calendar/src/useRangeCalendarState.ts
  packages/@react-stately/datepicker/src/useDateFieldState.ts
  packages/@react-types/calendar/src/index.d.ts
  packages/@react-types/datepicker/src/index.d.ts
  packages/react-aria-components/docs/Calendar.mdx
  packages/react-aria-components/docs/RangeCalendar.mdx
  packages/react-aria-components/src/Calendar.tsx
Labels: release

#7966 fix: French number parsing ambiguity
  packages/@internationalized/number/src/NumberParser.ts
  scripts/checkGroupSeparators.mjs
Labels: small review, ready for review

#8005 fix: pass dom props to button group
  packages/@react-spectrum/s2/src/ButtonGroup.tsx
Labels: small review, release, ready for review

#7904 fix: mobile restore focus after a Select closes
  packages/@react-aria/menu/src/useMenuTrigger.ts
  packages/@react-spectrum/table/test/TableSizing.test.tsx
Labels: small review, ready for review

#8003 fix: S2 notification badge follow-ups
  packages/@react-spectrum/s2/src/ActionButton.tsx
  packages/@react-spectrum/s2/src/NotificationBadge.tsx
  packages/@react-spectrum/s2/stories/ActionButton.stories.tsx
Labels: release
