Repository adobe/react-spectrum, pull requests merged in 2025-06, with the labels that each got.

#8336 chore: Revert "feat: focus loading indicator in rac tree (#8270)"
  packages/@react-aria/selection/src/ListKeyboardDelegate.ts
  packages/react-aria-components/example/index.css
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Tree.test.tsx
Labels: release

#8333 fix: Height adjustment for Virtualized layout
  packages/@react-stately/virtualizer/src/Size.ts
Labels: release

#8277 fix: TreeView inadvertent focus trap
  packages/@react-aria/tree/src/useTreeItem.ts
  packages/@react-spectrum/s2/src/TreeView.tsx
  packages/@react-spectrum/s2/stories/TreeView.stories.tsx
  packages/@react-spectrum/tree/stories/TreeView.stories.tsx
  packages/react-aria-components/stories/Tree.stories.tsx
Labels: release

#8203 feat: Icon builder to library
  .circleci/comment.js
  .circleci/config.yml
  .parcelrc-build
  eslint.config.mjs
  package.json
  packages/dev/parcel-namer-s2/S2Namer.js
  packages/dev/parcel-namer-s2/package.json
  packages/dev/s2-icon-builder/.parcelrc-library
  packages/dev/s2-icon-builder/index.js
  packages/dev/s2-icon-builder/package.json
  scripts/icon-builder-fixture/.gitignore
  scripts/icon-builder-fixture/.yarn/releases/yarn-4.2.2.cjs
  scripts/icon-builder-fixture/.yarnrc.yml
  scripts/icon-builder-fixture/README.md
  scripts/icon-builder-fixture/package.json
  scripts/icon-builder-fixture/src/App.js
  scripts/icon-builder-fixture/src/index.html
  scripts/icon-builder-fixture/src/index.js
  scripts/icon-builder-fixture/yarn.lock
  scripts/verdaccio-build-icon-builder.sh
  yarn.config.cjs
  yarn.lock
Labels: release, ready for review

#8340 chore: Propagate user provided dependencies for S2 Combobox and Picker
  packages/@react-spectrum/s2/src/ComboBox.tsx
  packages/@react-spectrum/s2/src/Picker.tsx
Labels: release

#8299 feat: Tree multiple level loading support
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-stately/tree/src/useTreeState.ts
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Tree.test.tsx
Labels: release

#8342 fix: Fix S2 button/taggroup coloring so they apply on keyboard focus only
  packages/@react-spectrum/s2/src/ActionButton.tsx
  packages/@react-spectrum/s2/src/Button.tsx
  packages/@react-spectrum/s2/src/TagGroup.tsx
Labels: release

#8347 docs: add version badge to tree dnd docs + fix render props example
  packages/react-aria-components/docs/Tree.mdx
Labels: release

#8344 chore: Revert "feat: Tree multiple level loading support (#8299)"
  packages/@react-spectrum/autocomplete/test/SearchAutocomplete.test.js
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-stately/tree/src/useTreeState.ts
  packages/react-aria-components/src/Tree.tsx
  packages/react-aria-components/src/index.ts
  packages/react-aria-components/stories/Tree.stories.tsx
  packages/react-aria-components/test/Tree.test.tsx
Labels: release

#8345 chore: June release notes
  .storybook-s2/docs/Release Notes.mdx
  packages/dev/docs/pages/blog/rtl-date-time.mdx
  packages/dev/docs/pages/releases/2025-06-05.mdx
Labels: release

#8392 chore: TS explicit modules stately and icons
  packages/@react-stately/form/src/useFormValidationState.ts
  packages/@react-stately/layout/src/ListLayout.ts
  packages/@react-stately/table/src/TableUtils.ts
  packages/@react-stately/toast/src/useToastState.ts
  packages/@react-stately/tree/stories/useTreeState.stories.tsx
  packages/@spectrum-icons/color/stories/IconsColor.stories.tsx
  packages/@spectrum-icons/express/chromatic/IconsExpress.chromatic.tsx
  packages/@spectrum-icons/express/stories/IconsExpress.stories.tsx
  packages/@spectrum-icons/workflow/chromatic/Workflow.chromatic.tsx
  packages/@spectrum-icons/workflow/stories/IconsWorkflow.stories.tsx
Labels: ready for review

#8396 fix: Fix Rect intersection check so that users dont need to provide Virtualizer mocks for tests
  package.json
  packages/@react-spectrum/color/test/ColorPicker.test.js
  packages/@react-spectrum/picker/test/TempUtilTest.test.js
  packages/@react-spectrum/table/test/TestTableUtils.test.tsx
  packages/@react-stately/virtualizer/src/Rect.ts
  packages/dev/docs/pages/react-spectrum/testing.mdx
Labels: small review, in sprint

#8402 chore: update spectrum tokens
  packages/@react-spectrum/s2/package.json
  packages/dev/parcel-transformer-s2-icon/package.json
  yarn.lock
Labels: ready for review

#8373 fix: CardView height in ActionBar
  packages/@react-spectrum/s2/src/CardView.tsx
Labels: ready for review

#8401 chore: update icons
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloseCaptions_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloudStateDisconnected_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloudStateError_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloudStateInProgress_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloudStateOnline_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloudStatePaused_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloudStatePending_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CloudStateSlowConnection_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_CommentHide_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_Community_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_Erase_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_FlipHorizontal_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_FlipVertical_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_ImageAdd_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_Images_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_MediaOffline_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_Pattern_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_Play_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_StrokeDotted_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_Template_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_UserAvatarCursor_20_N.svg
  packages/@react-spectrum/s2/s2wf-icons/S2_Icon_UserSettings_20_N.svg
Labels: ready for review

#8399 feat: add escape key behavior to tags
  packages/@react-aria/tag/src/useTagGroup.ts
  packages/dev/docs/pages/react-aria/home/ExampleApp.tsx
Labels: ready for review
